[2015-04-06 18:08] gtrak opened #1 "Ramda.js"
Your name: Gary Trakhman

Your idea: Ramda.js tutorial, a curried FP and collection library for JS.  I'll show off some basic convenience functions and build up to use of the curried style on promise chains, and maybe even transducers.

Approx length: 10-15 min (remember, talks should be 10-20 min long, just estimate for us here)

Month(s) available: All the months!!!!

[2015-04-06 18:10] gtrak opened #2 "Immutable.js"
Your name: Gary Trakhman

Your idea: Immutable.js, an immutable collection library for javascript.  I can show off what it can do and describe the benefits, plus show how to use it with React.js.
Approx length: 10-15 min (remember, talks should be 10-20 min long, just estimate for us here)

Month(s) available: All the months!!!!

[2015-04-06 18:15] gtrak opened #3 "React.js"
Your name: Gary Trakhman

Your idea: React.js, a view library.  I'll present some basics and maybe touch on the flux patterns and dataflow.

Approx length: 10-15 min (remember, talks should be 10-20 min long, just estimate for us here)

Month(s) available: All the months!!!!

[2015-04-07 01:38] AimeeKnight opened #4 "Getting Comfortable Being Uncomfortable - Lessons Learned One Year After the Nashville Software School"
Your name: Aimee Knight

Your idea: Present my Nodevember talk (see below)

Title: Getting Comfortable Being Uncomfortable - Lessons Learned One Year After the Nashville Software School

Description: There's no denying that engineers are in high demand. Bootcamps are popping up everywhere, and while they're churning out highly motivated juniors, often it's seniors that companies are really after.

[2015-04-07 01:56] latazzajones opened #5 "test"
test

[2015-04-07 01:56] #5 closed

[2015-04-07 15:03] apechimp opened #6 "How to write multi-threaded node.js"
How to use the node native layer and why you would want to do that. Probably start with an app that does something stupidly CPU intense (like add all the integers) over http and show how it fails to respond to requests while it's working, then put the stupidly CPU intense thing onto the thread pool via the node native layer and watch requests get processed while slamming the CPU.

**Approx length:

[2015-04-07 23:46] ChrisGuzman opened #8 "smart search boxes: typeahead.js"
Your name: Chris Guzman

Your idea: How to use typeahead.js to build a smart search box. Basically I want to show how to build something like the [twitter demo](https://twitter.github.io/typeahead.js/examples/). I can also go in depth about how to use multiple datasets, what actions you can take when a user selects something, or how to style the typeahead box.

Length: 10-15 minutes

Months availa

[2015-04-07 23:57] ChrisGuzman opened #9 "Track your users! How to use google analytics in your website"
Your name: Chris Guzman

Your idea: This talk will show how to incorporate Google analytics into your app to track things like where your users are from, how they got to your site, what they did and how long they were on your site. I can also talk about how to send custom metrics like what the weather was when they visited your site.

Length: 10- 15 minutes

Available: Whenever

[2015-04-08 13:25] latazzajones commented on #8
Hey Chris - Can you do May 6th? I'd like to open with you if you can keep this at 10min. 😃

[2015-04-08 14:04] ChrisGuzman commented on #8
Yup! Can't wait.
On Apr 8, 2015 9:25 AM, "latazzajones" <notifications@github.com> wrote:

[2015-04-08 14:46] latazzajones commented on #2
Hey Gary - how about May 6th? If you can make it, which of these 3 talks would you like to give?

[2015-04-08 15:07] latazzajones commented on #8
cool - it's up! We'll announce it once I get one of Gary's talks up there to. Thanks! I think it's a great topic and I can't wait to hear about it.

[2015-04-08 17:38] gtrak commented on #2
I'll do ramda.js first.  May 6 is great!

[2015-04-08 17:40] latazzajones commented on #1
Great! I'll add this to our meetup page now :)

[2015-04-08 19:44] jasonrhodes opened #11 "Request: Babel, etc. / ES6 transpiling"
Your name: Jason Rhodes

Your topic request: Writing ES6 is going to be more and more important so it'd be nice to understand how Babel works, what other transpiling options there are, how they compare.

[2015-04-09 01:14] jasonrhodes commented on #6
Hey @apechimp thanks for submitting. We're waiting to hear back from a potential out of town speaker for May but we should know in a few days. If they can't make it, we'd love to have you for May 6, otherwise July will be great, too. We'll be in touch soon :)

[2015-04-09 13:47] apechimp commented on #6
Sounds good! I feel like this topic may be a little niche, so I may change topics if someone makes a request for something I have a competency in.

[2015-04-10 00:20] mgold opened #12 "Why Your Next Side Project Should Be An Explorable Explanation"
Your name: Max Goldstein

Your idea: What Explorable Explanations are (~ data telling a story interactively), how they differ from other kinds of software projects and data visualizations, why JS is well-suited for them, what work has been done, and what I learned building one (gnarly D3.js hacks), and what challenges still remain. Will appeal to UI designers and Bret Victor fans.

Approx length:

[2015-04-10 01:10] jasonrhodes commented on #12
@mgold sounds awesome! Our events are on the first Wed of the month, and I think we're set for May. Can you add availability for the summer to your issue here? We'll _definitely_ be in touch 1-2 weeks in advance of the event. Thanks!

[2015-04-10 01:39] mgold commented on #12
Oh right, there's not an April meeting... I could do June, but further out is sketchier. Looking forward to the inaugural May meetup!

[2015-04-10 14:10] jasonrhodes opened #13 "Simplify your testing with tap and/or tape"
Your name: Jason Rhodes

Your topic request: I'm curious to learn about this much simpler test anywhere protocol and the node libs that have popped up around it. A short walkthrough and maybe some examples, comparisons to mocha etc. would be awesome.

[2015-04-10 16:43] alimi opened #14 "Intro to Moment.js"
Your name: Ali Ibrahim

Your idea: Dealing with dates and times in JavaScript sucks. Moment.js makes dealing with dates and times fun! I would do a brief talk with a couple of examples.

Approx length: 5 minutes

Month(s) available: June

[2015-04-10 16:50] latazzajones commented on #14
This would be a great opening talk for July. I'll go ahead an put you down.

[2015-04-10 19:36] chrisdibble opened #15 "Talk Proposal: Virtual Rendering Techniques in Modern Browsers"
Your name: Chris Dibble

Your idea: I'd love to introduce the concept of "virtual rendering" to the CharmCityJS community. Virtual rendering uses a combination of scroll/page positioning along with predictive user behavior to determine when elements should be rendered (or removed) to the DOM. Useful for linear (both long and/or wide) web layouts, virtual rendering can significantly improve the per

[2015-04-15 03:17] mockaroo opened #16 "Talk: Ext JS"
Your name: Mark Brocato

Your idea: Ext JS is a soup-to-nuts MVCVM JavaScript framework for building HTML5 web apps for desktop, tablet, and mobile devices.  In this talk I'll give the audience a taste of what it's like to develop in Ext JS by live coding a simple admin app from scratch.

Approx length: 20 minutes

Month(s) available: Any

[2015-04-15 03:23] jasonrhodes commented on #11
testing

[2015-04-15 03:23] jasonrhodes opened #17 "testing integration for slack"
test

[2015-04-15 03:23] #17 closed

[2015-04-15 16:03] kylefritz opened #18 "Talk: Deep dive into "Thinking in React""
Your name: Kyle Fritz

Your idea: Deep dive into "Thinking in React". React challenges a lot of the current status quo in front-end web development. Some react concepts, like inline markup and specifying `onclick` handlers directly in markup and inline-ish CSS, seem like a blast from the past (the 90s are back!). But much has changed since these concepts were initially discarded and React offers a

[2015-04-15 16:22] jjulian commented on #18
:thumbsup: this is gonna be so good!

On Wed, Apr 15, 2015 at 12:03 PM, Kyle Fritz <notifications@github.com>
wrote:

[2015-04-16 19:57] scottmessinger opened #19 "Deciding between React.js & Ember.js"
Your name: Scott Messinger

Your idea: With the release of Ember 2.0 in June, Ember & React are looking increasingly similar. Both are based on components, have routers*, are tremendously performant, and have been adopted by large companies (React Facebook, Yahoo, Ember: Square, Yahoo, Intercom). How is a developer to choose? I've been using Ember for a few years (since 0.9.6) and React for the la

[2015-04-17 14:10] bgrayburn opened #20 "meteor.js, stop wasting time"
This is how web coding should be. Reactive, isomorphic, reusable.

I'll show you how to use all your favorite npm modules while making websites that are blazingly fast and informative. Let's live code a site in 20min.

[2015-04-17 14:11] bgrayburn commented on #20
Oh one more adjective: data-driven

[2015-04-17 14:38] #1 closed

[2015-04-17 14:38] #8 closed

[2015-04-30 02:41] janecakemaster opened #21 "request: Exquisite Hues, a poetic experiment"
**Your name:** jane kim

**Your idea:** in which i talk about using technology to make art-- specifically, an exquisite corpse poetry app i made for the internet that shows the user the last line of a poem and prompts the user to write the next line. the background of the page is a certain color based on the "progress" of the poem

**Approx length:** 10 min probz..?

**Month(s) available:** !may,

[2015-04-30 03:02] jjulian commented on #21
I love this! Using code to make art.

[2015-04-30 03:04] jasonrhodes commented on #21
YES JANE!

[2015-05-07 01:24] esauter5 opened #22 "iOS development with React Native"
Your name: Eric Sauter

Your idea: An overview of Facebook's recently open sourced React Native. I'll touch briefly on what makes React intriguing, then more specifically discuss React Native and show how it can help to break down the barriers of entering into iOS development.

Approx length: 20 minutes

Month(s) available: Any

[2015-05-07 01:49] rayners opened #23 "Intro to Angular"
Your name: David Raynes

Your idea: Introduction to Angular JS. Controllers, services, directives, kittens… Well, maybe no kittens.

Approx length: 20 minutes

Month(s) available: August/September

[2015-05-07 01:52] rayners opened #24 "JavaScript build tools"
Your name: David Raynes

Your idea: JavaScript build tools. Gulp, grunt, snarl, growl. Okay, maybe not the last two. Those aren't build tools. Yet.

Approx length: 10 minutes

Month(s) available: August/September

[2015-05-07 02:00] rayners opened #25 "The lazy way to better code quality"
Your name: David Raynes

Your idea: Lint(ers). Not just for dryers anymore. There are tools that will tell you just how awful your code really is.

Approx length: 20 minutes

Month(s) available: August/September

[2015-05-07 12:49] latazzajones commented on #25
I love this idea!

[2015-05-08 18:01] jmartin4563 opened #26 "Talk: i18n in Angular Applications"
*Your name:* Jessica Martin

*Your idea:* We live in a globalized world, so why is your Angular application only in English? In this talk, we'll discuss what internationalization actually means to you, the developer, and how we need to think about the text of the app, as well as any date/times and numbers. Finally, we'll look at some great libraries out there to help make localizing your app super

[2015-05-12 01:44] latazzajones commented on #26
Hi Jessica, Would you be willing to do this talk for the June 3rd meetup?

[2015-05-12 01:44] latazzajones commented on #19
Hi Scott, Would you be willing to do this talk for the June 3rd meetup?

[2015-05-12 14:41] jasonrhodes commented on #14
(and by July she meant June, for the record) :)

[2015-05-12 15:29] jmartin4563 commented on #26
Absolutely I can :D

[2015-05-12 15:34] latazzajones commented on #26
Yay! Let me know if you have any questions. Looking forward to it :smile:

[2015-05-13 13:21] latazzajones commented on #19
@scottmessinger ^^  I hope all is well! If you're free on June 3rd, we'd love to have you give this talk.

[2015-05-13 14:11] AimeeKnight commented on #6
@apechimp We'd like to book you for July 1st! Does that still work for you?

[2015-05-13 15:01] apechimp commented on #6
Yup!

[2015-05-13 15:06] AimeeKnight commented on #6
Sounds good. I'm looking forward to it!

We'll let you know the order when the event gets closer. Please let me know if you have any questions before then.

[2015-05-13 15:22] apechimp commented on #6
:+1:

[2015-05-14 04:38] scottmessinger commented on #19
@latazzajones June 3rd works great! See you then!

[2015-05-20 18:40] unstoppablecarl opened #27 "Thinking with prototypes"
Your name: Carl Olsen

Your idea: Go over the problems presented with inheritance in js. Present techniques to leverage prototypal OO instead of trying to emulate classical inheritance.

somewhat relevant article: https://medium.com/javascript-scene/common-misconceptions-about-inheritance-in-javascript-d5d9bab29b0a

Approx length: 20 - 60 min

[2015-05-20 18:46] unstoppablecarl opened #28 "Basics of developing HTML5 games."
Your name: Carl Olsen

Your idea: Go over the basic techniques needed to make a basic HTML5 game.
- canvas buffering
- game loop
- complexities of key input within game loop
- window.requestAnimationFrame

Approx length: 20 - 60 min

[2015-05-22 14:15] unstoppablecarl opened #29 "Static site generation with metalsmith"
Your name: Carl Olsen

Your idea: Present the basics of using and the capabilities of metalsmith to generate static html content.
http://www.metalsmith.io/

Approx length: 20-30 min

[2015-06-03 21:30] klembot opened #30 "Porting Twine to JS"
Your name: Chris Klimas

Your idea: Talking through the process of porting Twine, a popular open source app for creating text-based games that I created, from a Python desktop app to a Backbone-based JS app. Some specifics I'd cover: why I chose Backbone, why I went with end-to-end browser testing versus unit testing (for now) despite my great unhappiness with Selenium, SVG vs Canvas2D performance

[2015-06-04 00:21] skevy opened #31 "Why React Is Awesome"
**Your name:** Adam Miskiewicz

**Your idea:**

Many of you have heard of React. It's the hottest thing out there right now. But with it's hype comes a lot of misinformation. In this talk, hear about how JSX is not a templating language, why the 5 billion Flux implementations shouldn't scare you, why immutable data and React are best friends, and where React is headed in the future.

**Approx leng

[2015-06-04 03:22] scottmessinger commented on #31
+1

[2015-06-04 03:35] mgold commented on #12
I think I've got an angle that gives me something for both newcomers and experienced JS programers. It might run closer to 20 minutes though. Hopefully there's a slot in the next few months - I've really enjoyed the meetups so far!

[2015-06-04 04:21] skevy commented on #31
Thanks Scott! Great talk tonight. And totally loved the conversation afterwards. We need more people in the local community thinking about all these ideas. And I think it's great that your talk started the conversation!

[2015-06-07 00:08] #26 closed

[2015-06-07 00:09] #19 closed

[2015-06-07 00:09] #14 closed

[2015-06-07 00:15] AimeeKnight commented on #15
@chrisdibble We'd like to hear about this in July! Are you still available? If possible we'd also like to keep it closer to the 15 minute mark.

[2015-06-07 00:17] AimeeKnight commented on #12
@mgold Are you interested in presenting for July? If so, we'd like to have you speak!

[2015-06-08 01:54] mgold commented on #12
Yes, I'd be happy to. Thanks!

[2015-06-08 02:18] mgold opened #32 "Request: Compile to JS libraries & languages"
I could possibly give this talk myself, but I've already been accepted to give another talk, so I won't hog the stage. If someone is looking for a topic, this might be a good one since you get to leaf through a lot of different technologies rather than becoming an export in one.

Roughly in order of distance from vanilla JS (and also OO to functional), here are some libraries and languages that co

[2015-06-08 02:19] mgold commented on #32
Seems to be a partial dupe of #11, however this ticket looks beyond ES6 towards anything that compiles to JS.

[2015-06-08 13:58] AimeeKnight commented on #12
@mgold Great. Let us know if you have any questions. Looking forward to it!

[2015-06-08 18:29] unstoppablecarl commented on #30
I would very much like to see this.

[2015-06-09 01:15] chrisdibble commented on #15
Hi @AimeeKnight - I would be available in July and would love to give a talk on virtual rendering. I can certainly limit it as short as you need. What do you need from me if I were to be a presenter? Thanks for getting back to me, really excited about speaking and have been enjoying CharmCityJS a lot thus far!

[2015-06-09 01:21] AimeeKnight commented on #15
@chrisdibble confirmation is all we need. 😀

[2015-06-14 00:02] mgold commented on #12
@AimeeKnight Will the talk be recorded? And can I go last?

[2015-06-14 00:32] AimeeKnight commented on #12
@mgold I'm not sure if it'll be recorded. @jasonrhodes, do you know? Also, going last should be fine.

[2015-06-14 00:32] jasonrhodes commented on #12
Our talks are not recorded at this time, no.

[2015-06-14 03:15] chrisdibble commented on #15
@AimeeKnight @jasonrhodes  I just got word that I'll have to be out of town the week of June 28th - July 5th. I'm still really eager to present (already have most of my slides done and together), could I possibly bump this back until the August meetup? Sorry!

[2015-06-14 03:32] jasonrhodes commented on #15
Hey Chris, sorry it won't work out for July! We'll be picking August talks in a few weeks, so you'll hear from one of us. If not for August, sometime soon! Have a good trip and thanks for letting us know.

[2015-06-14 12:41] AimeeKnight commented on #30
@klembot Would you like to present July 1st? If so, we'd love to hear this!

[2015-06-15 18:50] AimeeKnight commented on #30
Great! Let us know if you have questions. Looking forward to it.

[2015-06-15 19:24] AimeeKnight commented on #30
@jasonrhodes do you know?

[2015-06-16 03:12] jasonrhodes commented on #30
@klembot I'm so excited you're giving this talk! Thanks! Good question--I know they have a standard VGA to Mac port (is it "mini display port"?) that's there each month already. @rayners can you confirm the specifics? It'd be nice to have this info on hand.

[2015-06-24 21:36] kschmelter1 opened #33 "Proposal"
Your name: Katrina Schmelter

Your idea: I'd like to show off a simple color typewriter I made using JavaScript. I designed it for a web design class last semester when challenged to create something that hadn't been done before. I'm more of a beginner using JavaScript, so the code is really basic.
See it for yourself at http://www.colortypewriter.com/
I'm currently creating a gallery page so that

[2015-06-27 00:21] jasonrhodes commented on #33
This is awesome, I can't wait for this talk. Are you on Twitter? I want to give you credit for this cause I know some people who will think this is super rad...

[2015-06-27 00:43] kschmelter1 commented on #33
Hi Jason,

I am not on twitter, but it might be possible to tag my Facebook. Can I do the talk this Wednesday, or do I need to wait for the next meeting?

Thanks,

Katrina

________________________________
From: Jason Rhodes <notifications@github.com>
Sent: Friday, June 26, 2015 8:21 PM
To: charmCityJs/talks
Cc: Katrina Schmelter
Subject: Re: [talks] Proposal (#33)

This is awesome, I can't wait f

[2015-06-27 00:45] jasonrhodes commented on #33
Not on Wednesday as we have our lineup all set, but you'll hear from me or one of the other organizers as they schedule the next few months and we'll get you worked in along with others who have submitted. If you have months you know you won't be able to do, just let us know. Thanks!

[2015-06-27 01:07] kschmelter1 commented on #33
Thanks, I know I'll be able to do next month, but I do not have my fall class schedule yet so I'll notify you if September can't work for me. Just changed my e-mail on Github since I don't know how much longer I will have an owlmail account. So I can be reached through there or at katrina.schmelter@yahoo.com

________________________________
From: Jason Rhodes <notifications@github.com>
Sent: Frid

[2015-07-01 21:34] mgold commented on #12
[Slides](http://slides.com/mgold/explorable-explanations/fullscreen#/1) but I'll have my laptop. See you in a bit.

[2015-07-03 16:48] #6 closed

[2015-07-03 16:49] #12 closed

[2015-07-03 16:49] #30 closed

[2015-07-03 20:35] klembot opened #34 "Request: native app options"
Your name: Chris Klimas

Your topic request: There seem to be a number of options out there for building native apps with JS nowadays -- NW.js, Electron, Reactive Native, and probably a bunch more I don't even know about. Would be cool to see a rundown of the choices and their strengths & weaknesses.

[2015-07-06 19:40] apechimp commented on #33
@kschmelter1, do you want to give this talk at the August 5th meetup?

[2015-07-06 19:41] apechimp commented on #15
@chrisdibble do you want to give the 15 minute version of this talk at the August 5th meetup?

[2015-07-06 19:41] apechimp commented on #21
@janecakemaster, do you want to give this talk at the August 5th meetup?

[2015-07-06 19:43] apechimp commented on #27
@unstoppablecarl, do you want to give a 15-20 minute version of this talk at the August 5th meetup?

[2015-07-06 19:45] janecakemaster commented on #21
​all right, let's do this!

On Mon, Jul 6, 2015 at 3:41 PM, Mike Atkins <notifications@github.com>
wrote:

[2015-07-06 19:45] kschmelter1 commented on #33
Yes, August works great for me!

     On Monday, July 6, 2015 3:40 PM, Mike Atkins <notifications@github.com> wrote:

 @kschmelter1, do you want to give this talk at the August 5th meetup?—
Reply to this email directly or view it on GitHub.

[2015-07-06 20:48] apechimp commented on #33
Great! Thanks so much! I'll bug you directly a week or so beforehand. Let me know if you need anything via this thread or [:sparkles: slack :sparkles:](http://charmcityjs.herokuapp.com/).

[2015-07-06 20:49] apechimp commented on #21
Awesome! Thanks! I'll bug you directly a week or so beforehand. Let me know if you need anything via this thread or [:sparkles: slack :sparkles:](http://charmcityjs.herokuapp.com/).

[2015-07-06 21:52] unstoppablecarl commented on #27
sounds good

[2015-07-06 22:32] apechimp commented on #27
Perfect! Thanks! I'll bug you about this again a week beforehand; otherwise, feel free to reach out in slack if you need anything.

[2015-07-06 23:01] unstoppablecarl commented on #27
ok

[2015-07-10 13:32] chrisdibble commented on #15
Sure, sorry, I was on vacation this past week and didn't see this until now. Thanks for keeping me in mind.

[2015-07-12 15:46] apechimp commented on #15
Great! Thanks so much! I'll bug you directly a week or so beforehand. Let me know if you need anything via this thread or [:sparkles: slack :sparkles:](http://charmcityjs.herokuapp.com/).

[2015-07-30 11:02] zanchin opened #35 "Talk: Making async programming fun again"
Your name: Ilya Braude

Your idea: There's a new sheriff in town, and his name is Generator. Generators now let us write async code that looks synchronous in JavaScript without callbacks. There's a new web framework developed around this concept (koa) that I will talk about as well after introducing the concept.

Approx length: 20 min

[2015-08-05 13:52] chrisdibble commented on #15
Hey @AimeeKnight @apechimp @jasonrhodes ,

Unfortunately I'm going to have to cancel my talk later tonight, I've come down with a pretty nasty stomach bug this morning. My kids had it this past weekend, my wife had it earlier in the week, and now I'm doomed. I'm pretty bummed about missing the meetup in general, not to mention giving a talk. I'm just honestly not in an shape for standing in front

[2015-08-05 14:37] apechimp commented on #15
No worries! Hope you feel better soon! We kinda over booked tonight anyways :smile:

[2015-08-06 16:50] bizob2828 opened #36 "Using Forever as a daemon"
Your name: Bob Evans

Your idea: Talk about using forever as a server daemon that wraps a node.js script.  Also, lessons learned when trying to implement graceful shutdowns

Approx length: 10-15mins

Month(s) available: Any month

[2015-08-06 16:53] bizob2828 opened #37 "Unit Testing tool chain for js(Mocha/Karma/Istanbul/Sinon)"
Your name: Bob Evans

Your idea: I always hear people are reluctant to write unit tests because it takes too long to wrap their head around a test framework, or lack tools to make it easier to run tests and see reports, or code can't be unit tested.  I'd like to talk/share some grunt/gulp files, patterns for writing tests and using stubs/mocks to truly test.  I know this could get out of control s

[2015-08-12 13:41] #27 closed

[2015-08-12 13:45] #21 closed

[2015-08-12 13:49] jasonrhodes commented on #33
@kschmelter1 thanks again for speaking, it was fantastic! I hope you submit that to other places! Let me know if you need any help, ideas, etc.

btw, have you seen make8bitart.com ? Your talk reminded me of it. Thanks again!

[2015-08-12 13:49] #33 closed

[2015-08-12 18:37] jgaskins opened #38 "Redux"
**Your name:** Jamie Personface (not even gonna change that)

**Your idea:** The thing to talk about these days for managing your app state with React is Flux. Flux is a neat way to manage data in React applications, where your app dispatches actions to all your stores. Redux lets you manage your state in a similar, but more functional style. In this talk, we'll gloss over the fundamentals of Flux

[2015-08-13 03:44] kschmelter1 commented on #33
Thanks for having me, it was a great experience! I plan on continuing to develop my typewriter. I'll definitely keep in touch!Make8bitart.com is pretty awesome. The source code for that site is full of dinosaurs, it's hilarious. 

     On Wednesday, August 12, 2015 9:49 AM, Jason Rhodes <notifications@github.com> wrote:

 @kschmelter1 thanks again for speaking, it was fantastic! I hope you submit

[2015-08-17 14:49] JuanCaicedo opened #39 "Oboe.js, better JSON through streams"
**Name**: Juan Caicedo

**Idea**:

Working with large JSON documents in a web app can be slow and cumbersome. Don't let your UX or performance suffer!

Instead bring the event driven nature of Unix streams to your REST data transfer, using Oboe.js. By blending these two different yet familiar approaches, this talk will show how to make your apps faster and more reliable.

This new way of looking a

[2015-08-17 17:14] bgrayburn opened #40 "meteor.js/d3/react dashboards talk"
Your name: Brian Rayburn

Your idea: Meteor.js dashboards! I've been working on real-time dashboards using Meteor.js, D3 and React. [Here's](http://dashboarder.meteor.com/) a demo of the Meteor.js part that I've released on Github. It'd be great to first walk everyone through what Meteor is (5min), then explain the dashboards (5min) then start to build a new dashboard page (5min).

Approx length:

[2015-08-17 19:08] jgaskins commented on #22
@esauter5 Are you available to present this one at the meetup on Sep 2?

[2015-08-17 19:09] jgaskins commented on #18
@kylefritz Are you available to present this on Sep 2?

[2015-08-17 19:09] jgaskins commented on #25
@rayners Wanna talk about this at the September 2 meetup?

[2015-08-17 20:22] esauter5 commented on #22
That works for me!

[2015-08-17 20:36] kylefritz commented on #18
hey @jgaskins august is a cray month for me. i would *love* to do this in october though.

[2015-08-17 20:46] jgaskins commented on #31
@skevy How do you feel about presenting this at the meetup on Sep 2?

[2015-08-17 20:48] skevy commented on #31
Sure. This talk is kind of broad at the moment...should I narrow it down? Or keep it broad?

[2015-08-17 21:02] jgaskins commented on #31
The title itself seems to imply breadth, so I don't think that's necessarily bad unless you end up going too deep into any of the points you made in your synopsis. I feel like the Flux stuff might require a bit too much depth (it's more than enough for its own talk), but touching on JSX, immutability, and the future of React (and anything else you can think of) would be great.

Basically, when I h

[2015-08-17 21:37] skevy commented on #31
Sounds good. I'm down for this. Sep 2 it is.

[2015-08-18 00:14] scottmessinger commented on #39
I would love to hear a talk on Oboe. I've heard of the library, but never done anything with it.

[2015-08-18 15:15] JuanCaicedo commented on #39
Awesome!

[2015-08-21 16:31] rayners commented on #25
@jgaskins Hey! Sorry I missed the note. I have a couple big things lining up in the next month. Give me a day or so to decide if I can toss a talk prep into the mix?

[2015-08-24 02:43] rayners commented on #25
@jgaskins Count me in!

[2015-08-24 03:00] jgaskins commented on #25
Sweet! You're on the list for Sep 2. Thanks @rayners!

[2015-08-28 23:50] kiloliter opened #41 "My Ludum Dare JS game"
Your name: Eric

Last weekend was Ludum Dare game competition, a 48 hour internet game creation competition. It happens three times a year, and this time, about 2700 games were made. I spent the weekend making a game, completely in Javascript, and I'd like to talk about what I did.

Approx length: 5 minutes?

[2015-08-31 14:19] easilyBaffled opened #42 "Documentation Generator"
Your name: Dan Michaelis

Your idea: Every front-end documentation generators up until now have required a lot of extra effort to create. The text strings and labels clutter the source files, and there is no good system of accountability to maintain them. Until now we have gone without any documentation because of that extra effort, but I have created a generators that uses our Jasmine tests to cr

[2015-09-08 15:53] #9 closed

[2015-09-08 15:53] #22 closed

[2015-09-08 15:53] #23 closed

[2015-09-08 15:53] #24 closed

[2015-09-08 15:53] #25 closed

[2015-09-08 15:53] #28 closed

[2015-09-08 15:53] #29 closed

[2015-09-08 15:53] #31 closed

[2015-09-08 15:54] #2 closed

[2015-09-08 15:54] #3 closed

[2015-09-10 13:19] jasonrhodes commented on #35
Hey Ilya -- would you be interested in giving a slightly shorter talk that focuses just on generators in general? I'm trying to shy away from frameworks for this month and need something in the 10-15 minute range and I think this could be great, esp now that nodejs v4 is released with generators by default.

If you'd prefer to wait and include the koa parts, that's totally fine, we'll schedule you

[2015-09-10 13:24] jasonrhodes commented on #18
@kylefritz hey are you free other months this fall, do you think? I'm aiming to have us take a month off of frameworks in general, and React in particular, but after a month off we'd all love to get this scheduled--we can even officially schedule you in for November now if you're available/interested?

[2015-09-10 13:38] jasonrhodes commented on #16
Hey there, we're taking a short break from frameworks but we're going to try to get this scheduled sometime this fall, didn't want you to think we totally forgot about it. Just had a lot of submissions come through! Thanks for submitting, you'll hear from us again at some point to work out a month that works for you and for us. :)

[2015-09-10 13:39] jasonrhodes commented on #40
This format sounds great, we're taking a short break from framework talks but we'll try to get this scheduled sometime this fall/winter for sure. Thanks for submitting! (I'm going to go ahead and close the other metor talk proposal as we clean up this issue queue and aim for having everyone just have one talk submission in the queue.)

[2015-09-10 13:40] jasonrhodes commented on #20
Closing this one in favor of #40, so we have one proposal per person in queue, to help us narrow down decisions each month.

[2015-09-10 13:40] #20 closed

[2015-09-10 13:50] jasonrhodes commented on #37
Do you think you could make this focus on a basic 15 minute intro to JS unit testing for folks who haven't done much? We have an audience that is probably familiar with testing somewhat from Ruby, etc. but who may not have done any at all with JS, especially client-side.

If so, this will work great for October.

[2015-09-10 14:47] zanchin commented on #35
Yeah, I can fit the talk into 10-15 min. I was going to focus the talk on using generators for async calls (vs callbacks and promises) when combined with the "co" library (as opposed to generators in general). Mentioning koa just to point out that there is a web framework out there built on these concepts, but not going into any details about it except maybe a hello world code sample. Does that fi

[2015-09-10 15:27] jasonrhodes commented on #35
Yeah this sounds great! Scheduling this for October :+1:

[2015-09-10 16:02] bizob2828 commented on #37
Sure. Let's talk more about it. I can do whatever is desired

[2015-09-10 17:44] jasonrhodes commented on #36
Closing this because we have #37 scheduled and we're not doing repeat speakers for now. Will re-open later when we start needing to do repeats, this should be a good talk.

[2015-09-28 18:13] bgrayburn commented on #40
Awesome, yeah I made a duplicate after I noticed the issue format change.
Thanks for eliminating the duplicate. Let me know whe  there is a slot
available and you guys are looking for another framework talk.  Looking
forward to it!

This format sounds great, we're taking a short break from framework talks
but we'll try to get this scheduled sometime this fall/winter for sure.
Thanks for submitting

[2015-10-06 19:53] Oladele opened #43 "Visualizing Web Apps in 3D"
Your name: Ola Adedoyin

Your idea: I'd like to talk about how we can go beyond 2D sticks and clouds drawings of (web) apps. In my talk I'll show how even a *PRODUCTION* version of the oft-maligned todo app is a fairly complex system involving people, processes, infrastructure, that goes way beyond the stereotypical idea of (web) apps as "just server/client code" (albeit made up of the latest-grea

[2015-10-08 13:58] latazzajones commented on #4
Hey Aimee. Are you still willing to give this talk in November?

[2015-10-08 14:32] AimeeKnight commented on #4
Yep. Sounds good! :+1:

[2015-10-08 14:34] rayners commented on #4
Yay! :shipit:

[2015-10-08 16:17] AimeeKnight commented on #4
:smile:

[2015-10-08 16:31] latazzajones commented on #18
Hi Kyle 😬! Sorry we didn't get you in for October. Would you be interested in doing this talk on November 4th?

This talk looks amazing. Do you think it could be approachable for n00bs but also interesting for old fogies? @rayners BEWD class will probably be attending next month.

[2015-10-08 16:33] latazzajones commented on #43
Hi Ola! I took over curating this month :)

Would you be willing to give this talk on November 4th? It's such a great talk I'm really eager to hear it again and I think the JS community will super dig it.

Side note - @rayners BEWD class will probably be attending. So the audience will be super diverse in knowledge/skill-set.

[2015-10-08 16:42] Oladele commented on #43
Hey Tash, Happy to do it on Nov 4th.  Sounds like a great audience. Also, happy to trim it. Perhaps @rayners and I could collaborate to taylor the 15min abridged version exactly to the audience/time-slot? Of course, I'm happy to use my discretion and cut to 15min (or any other length).

[2015-10-09 13:19] kylefritz commented on #18
Hi Tash-

November 4th sounds great. Let's lock it in :)

[2015-10-09 13:37] latazzajones commented on #18
Sweet!

[2015-10-14 19:53] mgold opened #44 "Git: Commands you don't know but should"
I already gave a talk (#12) but Tasha requested that I submit this after giving this talk at B'more on Rails. The talk is/would be entirely live coding at the command line. At BoR, I spent 5-10 minutes on the basics of commits, branches, and pull requests. I can also target a more advanced audience, adding more advanced commands that are still useful on occasion.

I'd like to say it's a 15 minute

[2015-11-05 14:06] naterkane opened #45 "Everything is Terrible: the rise and fall of best practices"
Your name: Nater Kane

Your idea: Over the last couple of years, what had been considered tried and true best practices have fallen by the wayside with the advent of clientside frameworks. I look to explore how this happened, and what we can do to get back on track to create not only humane experiences for users, but also humane experiences for our fellow developers.

Approx length: 15-20

[2015-11-05 14:40] rayners commented on #45
I like the sound of this!

[2015-11-05 14:41] naterkane commented on #45
yay! [+1]

On Thu, Nov 5, 2015 at 9:40 AM, David Raynes <notifications@github.com>
wrote:

--
Best,
Nater Kane

[2015-11-05 15:09] #37 closed

[2015-11-05 15:09] #35 closed

[2015-11-05 15:10] #4 closed

[2015-11-05 15:10] #18 closed

[2015-11-05 15:10] #43 closed

[2015-11-05 15:13] kylefritz commented on #18
slides from the talk: https://slides.com/kylefritz/react-thinking

[2015-11-05 15:18] jasonrhodes opened #46 "nuclear pizza machine (a quick guide to npm)"
Your name: Jason Rhodes

Your idea: npm can do a ton of cool crap and i want to show you so you can say, "whoa that's really cool i didn't know npm did that" and we'll all have a good nod and smile and it'll be great.

Approx length: 10 minutes

[2015-11-05 16:04] apechimp commented on #41
Hi, @kiloliter, this sounds really cool! Would you be willing to give this talk at our 12/2 meetup?

[2015-11-05 16:05] apechimp commented on #15
@chrisdibble, We looking to schedule this talk for our 12/2 meetup. Think you can get the 15 minute version in shape for then?

[2015-11-05 16:05] apechimp commented on #39
@JuanCaicedo, would you like to give this talk 12/2?

[2015-11-05 16:13] apechimp commented on #40
@bgrayburn, would you like to give this talk at our 12/2 meetup? One caveat is that our meetup has been a little framework deep-dive heavy as of late, so if possible, try to make the focus of your talk the of story developing the dashboards and allow meteor to play a supporting role.

[2015-11-05 16:24] JuanCaicedo commented on #39
@apechimp Yeah, I'd love to!

[2015-11-05 16:28] apechimp commented on #39
Awesome! Thanks! I'll bug you directly a week or so beforehand. Let me know if you need anything via this thread or [:sparkles: slack :sparkles:](http://charmcityjs.herokuapp.com/).

[2015-11-05 19:55] jboverfelt opened #47 "Using Splint.js to refactor jQuery messes"
Your name: Justin Overfelt

Your idea: For when you can't throw away that morass of jQuery code, there's Splint.js! Splint.js is an open source library specifically designed to incrementally improve jQuery projects which are "light on architecture". It makes use of reactive programming constructs to eliminate global state and callback hell. This talk will use examples similar to those presented in

[2015-11-09 15:23] apechimp commented on #41
@kiloliter, any chance you'd be available for our 12/2 meetup?

[2015-11-09 15:27] #15 closed

[2015-11-09 16:27] bgrayburn commented on #40
@apechimp Whoops! had a draft saved in my email. 12/2 sounds great, and I'll focus on the data/viz aspects utilizing tools that js developers will be familiar with rather than diving deep into meteor or other tools. Thanks for the opportunity!

[2015-11-09 16:35] apechimp commented on #40
Awesome! Thanks! I'll bug you directly a week or so beforehand. Let me know if you need anything via this thread or [:sparkles: slack :sparkles:](http://charmcityjs.herokuapp.com/).

[2015-11-09 16:57] kiloliter commented on #41
Sure, I could do that.

[2015-11-09 17:49] apechimp commented on #41
Awesome! Thanks! I'll bug you directly a week or so beforehand. Let me know if you need anything via this thread or [:sparkles: slack :sparkles:](http://charmcityjs.herokuapp.com/).

[2015-11-11 14:22] Oladele commented on #45
I'm also interested in this. I love hearing anything about "what even is software development" humane or not. Why? Because 5 years into it, after first being introduced to sw dev through (nightmarish) mega-enterprise J2EE project and then going on to self-motivated relatively cushy "easy to start and deliver" server-side Rails dev and now, complicated (to me), client-side JS, I'm super keen to hea

[2015-11-11 14:24] Oladele commented on #42
Great talk idea. I'd love to hear it whenever it gets scheduled. Cheers

[2015-11-19 23:34] brigittewarner opened #48 "Analytics.js for single-page web apps"
Your name: Brigitte Warner

Your idea: Using Analytics.js to integrate Segment.io, Mixpanel, and Google Analytics with single-page web apps

Approx length: 5 min

Month(s) available: January-March

[2015-11-20 00:29] latazzajones commented on #48
:+1: This would be great!

[2015-11-20 12:20] jasonrhodes commented on #48
yesssssss yes yes yes yes yesssssss

[2015-11-20 14:43] rayners commented on #48
:+1:

[2015-11-30 03:56] JuanCaicedo commented on #39
@apechimp Do you need anything from me before Wednesday?

[2015-11-30 14:27] apechimp commented on #39
@JuanCaicedo Was about to send you an email :wink: If there's anything you want me to say when I introduce you, let me know. See you Wednesday!

[2015-11-30 14:29] apechimp commented on #41
@kiloliter, is there anything you'd like me to say when I introduce you? or anything else you need from me? Regardless, see you Wednesday!

[2015-12-01 15:40] kiloliter commented on #41
I think I should be fine. Thanks.

On Mon, Nov 30, 2015 at 9:29 AM, Mike Atkins <notifications@github.com>
wrote:

[2015-12-03 14:16] kiloliter commented on #41
Here's the link to my game, that you requested:

http://coconut.xen.prgmr.com/bw/ludumdare2015/

On Tue, Dec 1, 2015 at 10:40 AM, hydrogenbuilding <
hydrogenbuilding@gmail.com> wrote:

[2015-12-03 14:49] #39 closed

[2015-12-03 14:49] #40 closed

[2015-12-03 14:49] #41 closed

[2015-12-03 18:46] willbarrett opened #49 "Native Applications with Electron"
Your name: Will Barrett

Your idea: I was part of developing http://www.sqwiggle.com and http://speak.io. Speak used NW.js for a native application on Mac, and Speak.io used Electron for a native app on Windows, Mac, and Linux. I'd like to give a walkthrough of Electron, a demo of a simple sample application that shows some of the power of the tool, and talk a little bit about why we moved from NW

[2015-12-03 19:26] rayners commented on #49
:+1:

[2015-12-03 20:13] ecarlisle opened #50 "Bower Power - Supercharging Front-End Maintainability"
**Name:** Eric Carlisle

## Bower Power - Supercharging Front-End Maintainability.

I recently gave this [presentation](http://sched.co/3oVw) at CSS Dev Conf. It's an introduction to Bower and usage with the command line, API, plugins, as well as automation with Gulp or Grunt.

 - [Slideshare Deck](http://www.slideshare.net/ericcarlisle/bower-power-54549427)
 - [Github Repository](https://github.c

[2015-12-08 22:46] cmstone opened #51 "Interacting with the physical world through software (Node.js and WebSockets)"
Your name: Chris Stone

Your idea: I bought a traffic light (like you see driving around) from Ebay and hooked it up to the Internet.  Using an Arduino and Raspberry Pi, we can control the state of the lights, flash them, turn them on, turn them off, etc..

We'll talk about the the role of the Arduino and Raspberry Pi in this setup along with checking out how we use Node.js and WebSockets to handl

[2015-12-09 05:05] abbernie opened #52 "Introduction and Exploration of the Web Audio API"
Your name: Andrew Bernstein

Your idea: I'd like to talk about the Web Audio API, a Javascript API that makes it possible to synthesize, spatialize, manipulate, and visualize sound in the browser. I'll give a brief introduction to Web Audio followed by a demonstration of some more advanced features, and discuss the possibilities for art, data sonification, user interface design, and game audio.

A

[2015-12-28 22:11] paultyng commented on #11
I could do a talk about ES and transpiling, etc.

Your name: Paul Tyng

Your idea: ES2015, TC39, Babel, etc.

Approx length: 15mins?

Not sure the process for answering a request, should those details be in a new issue?

[2015-12-28 22:12] paultyng commented on #49
:+1: as well

[2015-12-29 02:32] jasonrhodes commented on #11
Hey @paultyng thanks for commenting, yeah I'd just go ahead and copy this to a new Issue and reference this one (use `#11`) and we'll go ahead and close this request. Seems like the easiest way to keep track. Thanks again!

[2015-12-30 02:27] paultyng opened #53 "A Tale of Two Asterisks (ES2015, TC39, Babel, etc.)"
**Your name:** Paul Tyng

**Your idea:** ES2015, TC39, Babel, etc.  Talk about the new process from TC39 for features going forward.

Was thinking of using the exponentiation operator as an example of how the process works:

https://bocoup.com/weblog/designing-an-exponentiation-operator-for-javascript

**Approx length:** 15mins?

[2015-12-30 02:27] paultyng commented on #53
Should cover #11

[2015-12-30 02:30] #11 closed

[2016-01-04 19:47] cgarvis commented on #49
:+1:

[2016-01-06 21:43] mockaroo opened #54 "Electron: JS on the Desktop"
Want to write a desktop app using node.js and web tech?  GitHub's Electron is a chromium-based runtime that provides the foundation for the Atom editor as well as Microsoft's Visual Studio Code.  Electron allows you to package your own cross-platform JavaScript desktop apps.   Need to write a headless utility or CLI?  JXCore may be the answer.  With either solution, your users won't have to instal

[2016-01-06 21:55] jgaskins commented on #54
We've already got an Electron submission in #49 with a few thumbs up, but that proposal doesn't mention JXCore. If that proposal is accepted, would you be interested in building on it with a JXCore-specific talk?

[2016-01-07 03:40] FlashMapper opened #55 "Character Animtaions and Posabe Dinosaurs with create.js"
Your name: James Miller

Your idea: I have an outline for a talk about create.js. It involves samples I have made with some animated characters, an interactive celestial sphere, and posable dinosaur figures for an iOS app I released last year.

Approx length: 15-20

[2016-01-07 04:55] mockaroo commented on #54
Sure, I think both talks would be great on the same night.  I could certainly split out JXCore into a separate talk, and if it followed the Electron talk it would be easy to show the different use cases for one vs the other.

[2016-01-07 05:22] jgaskins commented on #54
My thoughts exactly. :-)

@jasonrhodes Thoughts/opinions?

[2016-01-07 19:05] chrisuehlinger opened #56 "Teaching JavaScript as a Foreign Language"
Your name: Chris Uehlinger

Your idea: After college, I spent a year teaching programming to 11th graders in Thailand. This turned out to be extremely difficult: I had to teach people with no experience how to program (challenging enough on its own!) while explaining things in a language they were only partially familiar with. It was trial-by-fire: I had to re-evaluate how I taught and quickly hon

[2016-01-07 20:26] paultyng opened #57 "Topic Request: Working with data"
Your name: Paul Tyng

Your topic request: Working with data, ORM's, etc.  Sequelize, Mongo, other options, getting started and gotchas.

[2016-01-10 14:22] starmer opened #58 "Intro to KrakenJS"
Your name: James Starmer

Your idea: I'd like to talk about Kraken, PayPal's open source extension to the Express Node.js framework.

Approx length: 20 minutes

[2016-01-11 16:41] #46 closed

[2016-01-11 16:41] #48 closed

[2016-01-11 16:52] esauter5 opened #59 "A React Native Retrospective"
I'm giving a lightning talk at React Conf in February and a couple of the charmCityJS organizers recommended I give a test run at February's meetup.

React Native has been out for almost a year. It represents a big change in the way developers (especially JavaScript developers) can develop mobile apps. This short 5 minute lightning talk will look back at the year since RN was open sourced. Because

[2016-01-11 17:16] jasonrhodes commented on #42
I know it's been a while... @easilyBaffled are you still available to give this talk at a future meetup or did I hear correctly that you're no longer in the Baltimore area?

[2016-01-11 17:20] jasonrhodes commented on #54
That sounds like a great idea to me—might not get this booked for Feb but maybe March? Stay tuned!

[2016-01-11 17:21] jasonrhodes commented on #54
If we cut out the Electron part of this talk, it'd be nice to aim for about 10-15 min on the JXCore stuff -- that sound do-able @mockaroo ?

[2016-01-11 17:22] jasonrhodes commented on #55
I updated your talk title for you--feel free to rename to anything.

[2016-01-11 17:24] jasonrhodes commented on #59
Got you penned in for Feb, looking forward to it!

[2016-01-11 17:33] esauter5 commented on #59
:+1:

[2016-01-11 17:51] easilyBaffled commented on #42
Yeah, I'm on the West Coast now.

On Mon, Jan 11, 2016 at 9:16 AM, Jason Rhodes <notifications@github.com>
wrote:

[2016-01-12 02:43] mockaroo commented on #54
Sure, 10-15 minutes will be fine.

[2016-01-12 02:47] jasonrhodes commented on #52
Hey there, this talk sounds awesome—are you available to give this for our Feb 2/3 meetup?

[2016-01-12 02:50] jasonrhodes commented on #51
Hey d00d this sounds great, can you do this for the Feb 2/3 event?

[2016-01-12 03:22] abbernie commented on #52
Hello, thanks! I sure am.

[2016-01-12 18:46] cmstone commented on #51
Sure can!

[2016-01-12 20:49] jasonrhodes commented on #51
Awesome!! We're gonna give it a shot with 4 talks for the first time so if you can keep it on the 15-20 minute side of things, that'd be sweet (ie don't go over 20 like I did in my supposed-to-be-10-minute npm talk last week :sob: ) -- i'm going to be MC-ing so i'll be in the back with countdown cues :)

[2016-01-12 20:51] jasonrhodes commented on #52
Awesome! We're going with 4 talks for the first time ever so if you can keep yours on the "10-15 minute" side, that'd be great (at the very least not going over 15 will be important, but I'll be MC-ing so I'll be in the back with countdown cues)

[2016-01-12 21:01] jasonrhodes commented on #42
Aw snap, sorry we didn't get you in before you left. Best of luck out west, and if you're near Sacramento or LA or SF or Portland or Seattle etc hope you get a chance to check out the awesome JS communities out that way!

[2016-01-12 21:01] #42 closed

[2016-01-19 18:19] cgarvis opened #60 "Leveling Up: Uncluttered Analytics"
**Name**: Chris Garvis

**Idea**: Build upon #48.  Using Aspect Oriented Programing (AOP)/middleware to scale up and declutter our core code from our analytic/logging/caching code.  Learnings from Redux.

**Length**: 5 mins (Lighting Talk)

[2016-01-19 18:24] cgarvis opened #61 "Leveling Up: ES6 Destructuring Tips/Tricks"
Name: Chris Garvis

Idea: Talk about the new ES6 destructuring syntax and how it can influence the way we wrote JS code.

Length: 5 mins (Lighting Talk)

[2016-01-20 03:44] jasonrhodes commented on #61
This is a great idea—are you able to do this for Feb?

[2016-01-20 15:47] cgarvis commented on #61
I sure can.

[2016-01-26 16:52] abbernie commented on #52
Yes! 10-15 min is fine. Looking forward to it!

[2016-02-02 14:03] jgaskins opened #62 "Performance and VM Optimizations"
**Your name:** Jamie Gaskins

**Your idea:** Most JavaScript VMs have various levels of optimization they can perform on your code, from a simple AST transform to dead-code removal to native-code compilation. This can make your code blazing fast, but there are certain operations the VM cannot optimize. In this talk, we'll explore those and learn a few ways to avoid them.

**Approx length:** Probab

[2016-02-02 18:51] donabrams opened #63 "React/Redux At Scale"
Your name: Don Abrams

Your idea: At Craftsy, we decided to rewrite our entire multi-page isomorphic/SPA with React/Redux (including iOS/mobile). I'll give an overview of the challenges we hit, solutions we invented or discovered, and what unsolved problems remain (all w/ code samples).

Approx length: 15-20 min

[2016-02-03 19:34] cgarvis commented on #61
@jasonrhodes something came up today, and i'm not going to be able to make it tonight.  Can we push to March?

[2016-02-03 19:44] jasonrhodes commented on #61
Hey @cgarvis -- we don't reschedule on the fly but we'll put the talk back on the log and consider it with the rest for future events.

[2016-02-03 19:53] cgarvis commented on #61
Fair enough.  Sorry about minute change.

[2016-02-04 14:44] #51 closed

[2016-02-04 14:44] #52 closed

[2016-02-04 14:44] #59 closed

[2016-02-10 17:57] apechimp commented on #56
@chrisuehlinger would you like to give this talk at the March meetup?

[2016-02-10 17:58] apechimp commented on #62
@jgaskins would you like to give this talk at the March meetup?

[2016-02-10 18:02] apechimp commented on #61
@cgarvis, can you give this talk at the March meetup?

[2016-02-10 18:02] apechimp commented on #53
@paultyng can you give this talk at the March meetup?

[2016-02-10 18:22] jgaskins commented on #62
@apechimp Sure, that'd be good.

[2016-02-10 19:31] apechimp commented on #62
Excellent! You're on the schedule! Be sure to keep it to 20 minutes :wink:

[2016-02-12 01:40] paultyng commented on #53
I can't really for March, but I could do April.

[2016-02-12 16:18] apechimp commented on #53
Ahh, bummer. @Oladele, putting this on your radar for April.

[2016-02-15 15:13] apechimp commented on #56
@chrisuehlinger Please let me know if you're able to give the talk at that March meetup.

[2016-02-15 15:23] apechimp commented on #55
@FlashMapper do you want to give this at the March meetup?

[2016-02-16 17:58] vaidehijoshi opened #64 "Debugging Ember With Empathy"
Your name: Vaidehi Joshi

Your idea: Denial, anger, bargaining, depression, acceptance. But I don't mean the five stages of grief — I'm talking about the five stages of debugging your first Ember app! Learning how to navigate the building blocks of Ember can be difficult, but the even trickier thing is knowing where to start debugging while you're still learning the framework. One approach that I

[2016-02-16 22:24] jgaskins commented on #64
:+1: from me. Back when I used Ember, I remember getting lost in some of its magic — in both good and bad ways. :-) I'd love to see how I could've handled those debugging sessions better.

[2016-02-17 23:20] apechimp commented on #64
@vaidehijoshi I hear you able to do this in March. Let me know if I'm incorrect.

[2016-02-17 23:21] vaidehijoshi commented on #64
👍 Definitely down for March!

[2016-03-02 23:39] cgarvis commented on #61
Just seeing this.  Maybe next time.

[2016-03-03 17:56] amirmograbi opened #65 "Bird's eye view of mobile advertising, part of what we do at AOL"
Name: Amir Mograbi

Idea: Since mobile advertising is pretty big in Baltimore, employing a lot of local talent. Previously with MillennialMedia and now AOL. I wanted to give a quick overview of what actually happens behind the scenes of the portion that I'm familiar with. From an Engineer's perspective and perhaps how app developers can use our services to monetize their apps. Maybe throw around s

[2016-03-03 18:05] rayners commented on #65
:+1: (though I'm biased)

[2016-03-10 03:08] #56 closed

[2016-03-10 03:08] #62 closed

[2016-03-10 03:08] #64 closed

[2016-03-10 03:11] jasonrhodes commented on #54
hey mark, you available to give the 10-ish minute JXCore version of this for april? (sorry it's taken so long to get you scheduled!!)

[2016-03-10 03:14] jasonrhodes commented on #55
Let us know if you still want to give this talk and we can re-open it.

[2016-03-10 03:14] #55 closed

[2016-03-10 03:16] jasonrhodes commented on #49
hey @willbarrett are you available to do the 10-ish minute version of this talk for april?

[2016-03-10 03:35] jasonrhodes commented on #53
@paultyng still up for april?

[2016-03-10 03:37] jasonrhodes commented on #61
@cgarvis if you see this in the next few days, let me know if you'd like to do this for april?

[2016-03-10 03:42] cgarvis commented on #61
Yup.  I can do it.

[2016-03-10 04:10] jasonrhodes commented on #61
Great! Come a little early and you can test out your projector hookup. Also, the lighter your slide backgrounds are, the better you'll be able to see the crowd. :)

[2016-03-10 12:50] paultyng commented on #53
Sure, I can do that.

[2016-03-11 15:39] willbarrett commented on #49
Hey @jasonrhodes - I actually moved to San Francisco about a month ago, so sorry to say I won't be able to do it. It looks like @jgaskins could take up the mantle though!

[2016-03-14 20:47] jasonrhodes commented on #49
Aww too bad, lost another to the west coast! Best of luck :)

[2016-03-14 20:49] #49 closed

[2016-03-14 20:57] jasonrhodes commented on #54
Hey based on a quick talk in charmcityjs slack, we're gonna change this to be a 10-minute intro to Electron since JXCore is "somewhat irrelevant now" and "there is headless electron and better support for js on mobile devices".

To keep it focused for our crowd, I personally wouldn't even mention JXCore at this point. I'll update the title here.

[2016-03-14 20:58] #16 closed

[2016-03-14 23:38] paultyng commented on #53
This is ending up less about actual ES2015 features and more about ES* process and TC39 and the history.  Is that cool?

[2016-03-14 23:43] jasonrhodes commented on #53
Perfect! There's a 5 min talk on destructuring that I'll put right after yours, should be a good complement

[2016-03-14 23:44] jasonrhodes commented on #53
Just try to watch your time—I know when I go into history and story it gets super fun and I end up with 3x the content! ;)

[2016-03-18 14:01] paultyng commented on #53
@jasonrhodes sorry about this, but had a business trip come up this week, so will be out of town unfortunately, I was looking forward to it.

[2016-03-19 12:14] jasonrhodes commented on #44
Hey @mgold we've nixed the live Q&A section for talks so without that, do you think we can keep this to 10-15 minutes? I like the idea of keeping it pretty basic, with maybe just a couple of advanced tips to close out. If that works, are you available to do it for April? Let me know ASAP! :)

[2016-03-19 14:16] mgold commented on #44
Yeah, I hadn't really planned on doing Q&A the last time and it just kind of happened. Here's what I'm thinking: five minutes of "here is the basic value proposition of git: stage, commit, checkout, push, pull", five minutes of "seeing: status, log, show, diff, show" and five minutes of "advanced: reset, merge, rebase, reflog". I'll try to run through things and see if the timing comes close to wo

[2016-04-08 18:56] #61 closed

[2016-04-08 18:58] cgarvis opened #66 "Leveling Up: Currying in JS"
Name: Chris Garvis

Idea: Talk about the what currying is and how it can be used to make code clearer.

Length: 10 mins

[2016-04-15 14:12] cphoover opened #67 "Building a site with Serverless Framework and a static React Frontend"
**Your name:**
Charlie Hoover (Software Engineer, Under Armour)

**Your talk idea, described briefly:**
Brief intro to Serverless Framework (serverless.com) / AWS Lambda / AWS API Gateway. Walk through of a relatively simple site that aggregates github statistics, with AWS Lambda/Serverless Framework, ElasticSearch, and a Static React Frontend, using ES6 syntax (babel for transpilation).

**Approx

[2016-04-15 15:39] esauter5 commented on #67
:+1: for this. I've been wanting to learn more about Serverless

[2016-04-15 15:44] skratchdot commented on #67
same here. should be a good talk.

[2016-04-23 03:16] jasonrhodes commented on #54
Thanks, this was great! :)

[2016-04-23 03:16] #54 closed

[2016-04-23 03:17] jasonrhodes commented on #65
Are you able to give this on May 4th?

[2016-04-23 03:18] jasonrhodes commented on #53
Do you want to try this again for May 4th?

[2016-04-24 12:19] merlinpatt opened #68 "The Magic of Meteor"
**Your name:** Merlin

**Your talk idea, described briefly:** Talk about what Meteor can do and why everyone should use it

**Approx length: (must be less than 20 minutes to be considered*):** 10 minutes

[2016-04-25 13:05] amirmograbi commented on #65
@jasonrhodes yes, I'd be able to do it on May 4th, Thank!

[2016-04-27 03:29] paultyng commented on #53
Hey, I'd love to but May 4th is Under Armour's big work party thing.

[2016-04-27 03:55] #44 closed

[2016-04-27 03:56] jasonrhodes commented on #63
Hey @donabrams can you a) keep this to 15 min max and b) give this next wed may 4th?

[2016-04-27 03:57] jasonrhodes commented on #68
Hey! Are you able to give this next wed may 4th, @merlinpatt?

[2016-04-27 11:15] merlinpatt commented on #68
Yeah I can give the talk then :-)

[2016-04-27 12:38] donabrams commented on #63
I could do the 4th. After mapped out what I'd like to talk about, rough estimate is 29 min (so I def lied). Want to help me cut stuff out that's less interesting/more obvious?

Rough plan:

Craftsy constraints/conway (2 min)
Redux overview (3 min)
Smart vs. dumb components (2 min)
Bad Parent ideal (1 min)
Monorepo + Structuring reducers, actions (3 min)
Immutable state (1 min)
Sharing code via Rea

[2016-04-27 13:52] esauter5 commented on #63
There's been a few React talks lately, but not much specifically focused on Redux. I think it'd be great if you emphasized that. Based on the first section of topics you listed that are redux-focused, that would put you at about 14 minutes.

[2016-04-27 16:58] donabrams commented on #63
sounds good to me

[2016-04-29 02:08] jasonrhodes commented on #63
@esauter5++, sounds great!

[2016-04-29 02:09] jasonrhodes commented on #65
Perfect!

[2016-04-29 02:10] jasonrhodes commented on #68
Sounds good. Thanks!

[2016-04-29 18:23] jasuperior opened #69 "SMPL & Sweet JS"
**Jamel Cole**

**I will be presenting a new project i'm working on called [SMPL.js](http://ThatSm.pl), which i'm calling "The Compiler for the Transpiling Age". My talk will center around the importance of transpiling and progressive enhancement, and how SMPL helps you accomplish that.**

**10 mins approx.**

*Secret tip: the shorter your talk is, the faster it will be accepted, usually. We get a

[2016-05-04 14:25] jasonrhodes commented on #38
I think I'm gonna close this with another Redux talk going tonight -- but now that we are opening up the gates for repeat speakers please feel free to submit something else soon sir!

[2016-05-04 14:25] #38 closed

[2016-05-07 18:24] mgold commented on #32
I've left town so I can't give this talk, but someone else might be able to.

[2016-05-07 23:40] jgaskins commented on #32
Whoa, left town? As in moved away? :-(

[2016-05-08 03:52] mgold commented on #32
Yup, I was there for some of last Wednesday, must have missed you.

[2016-05-12 20:32] mgd216 opened #70 "Web development got you down? GET MEAN!"
Matt Duvall, Sr. Software Engineer
Owner Co-Founder of Atlasient

The MEAN stack, JavaScript from database to client is awesome!

15 min

Talk will cover the following:
- MEAN Stack Overview
- Lessons Learned with Angular
- Cool additions to MEAN
  - Mongoose Deep Populate
  - Express Restify Mongoose
  - Angular Schema Formly

[2016-05-13 13:09] esauter5 commented on #53
Let's give this another go. @paultyng how does June 1 sounds for you?

[2016-05-13 13:11] esauter5 commented on #67
@cphoover Would you be able to give this talk on June 1?

[2016-05-13 16:42] esauter5 commented on #68
Great job on this @merlinpatt!

[2016-05-13 16:42] #68 closed

[2016-05-13 16:43] esauter5 commented on #63
Thanks again for giving this @donabrams!

[2016-05-13 16:43] #63 closed

[2016-05-13 16:43] esauter5 commented on #65
Thanks for the talk @amirmograbi!

[2016-05-13 16:43] #65 closed

[2016-05-14 18:45] RyanSpahn opened #71 "Interactive Presentations: Created using Node, Reveal & Socket.IO"
**Your name:**
Ryan Spahn

**Your talk idea, described briefly:**
My fellow tech partner (lives in Philly) and I have created a Interactive Powerpoint app http://BLASTeo.com. The audience uses their devices to follow along, vote (yes or no and or multiple choice questions) and play audio in sync.  Depending on how the users uses it ... it can be used to create 4D experiences, for sing alongs with

[2016-05-16 20:43] janecakemaster opened #72 "Life API: Using personal data for life gains and well being"
jane kim

Usually keeping track of personal data involves a lot of unused mobile apps and expensive trackers. What if you could just... code your own? Using Hoodie, I created an app that helps me track anything and use continuous integration to notify myself if I'm adulting properly or not.

can be any length -- i'm comfortable with 15 minutes

[2016-05-18 18:40] paultyng commented on #53
Yeah I can do that.

[2016-05-24 02:11] naterkane opened #73 "Distributed JWT! (for June)"
Nater Kane

What's awesome? JWT. How the hell can you trust requests across a microservice infrastructure when you don't know who your neighbors are? (i.e. multiple applications running within the same subnet, aws account, etc) Distributed JWT! Actually we're going to be looking into how to put together an authentication framework that doesn't have to rely on a single authority provider.

This tal

[2016-05-24 14:27] esauter5 commented on #73
Thanks @naterkane! Putting you on the schedule and closing your old talk since this will be replacing it.

[2016-05-24 14:28] #45 closed

[2016-05-24 18:27] naterkane commented on #73
works for me

On Tue, May 24, 2016 at 10:27 AM, Eric Sauter <notifications@github.com>
wrote:

--
Best,
Nater Kane

[2016-05-27 20:55] esauter5 commented on #69
@jasuperior Would you be available to give this talk next Wednesday (June 1)?

[2016-05-31 13:28] esauter5 commented on #71
@RyanSpahn Hey Ryan, we'd love to have you speak tomorrow if you're available, especially now that Nater may not be available. Let me know!

[2016-05-31 15:43] ecarlisle opened #74 "Dr. StrangeHub : Or... How I Learned to Stop Worrying and Love the Chaos"
**Eric Carlisle**

**Abstract**
As a JavaScripter, you probably keep a mental list of tech you need to keep up with.  This list is usually both fun and scary.  You really dig this stuff but WOW, there's no much of it, so much more on the way, and all of it seemingly changes daily! How are you supposed to stay both competitive and happy when there's so much flux to stay atop of?

I'd like to share

[2016-06-02 15:19] nickhudkins commented on #73
I am stoked for this.

[2016-06-02 15:21] nickhudkins opened #75 "GraphQL"
**Your name:**
Nick Hudkins

**Your talk idea, described briefly:**

I am going to show people GraphQL and tell them why it will change their life.

**Approx length: (must be less than 20 minutes to be considered*):**

5-10 Minutes. I do not plan on "pitting" it against REST, though I may say something like "OOF, imagine trying to fetch that data from a REST endpoint"

[2016-06-02 15:21] naterkane commented on #73
It will happen, sorry it just couldn't have happened yesterday

[2016-06-02 16:38] #53 closed

[2016-06-08 13:35] #74 closed

[2016-06-08 13:36] #71 closed

[2016-06-14 14:02] jasonrhodes commented on #72
15 minutes sounds great, see you here in July! (We'll be in touch about transportation etc)

[2016-06-14 14:04] jasonrhodes commented on #69
@jasuperior are you still interested in doing this talk?

[2016-06-14 14:12] jasonrhodes commented on #75
I guess this is getting pretty "hawt" right now so let's do this, good for July? And can you list all of the rest of the potential phrases you _might_ say, roughly? k thx

[2016-06-14 14:14] nickhudkins commented on #75
July works for me!

I will work on my list of OOFs.

[2016-06-29 14:47] datesss opened #76 "Topic Request: Douglas Crockford Historical Impersonator"
**Your name:** Jake

**Your talk idea, described briefly:** There are people that dress up like Ben Franklin and go to middle schools and talk about his life in the first person. Theodore Roosevelt, Mark Twain, Abe Lincoln, and many other 'important' 'founders' of US government and culture have historical impersonators. Douglas Crockford is one of the most 'important' 'founders' of ECMAScript. He'

[2016-06-30 03:43] LabLayers opened #77 "Building a Music Platform (Pony.fm)"
**Your name:** Victor Lourng (organizer of Philly’s Node.js meetup & TacoJS)

**Your talk idea, described briefly:** Lessons learned from building a music platform with Angular - the story behind http://pony.fm

**Approx length: (must be less than 20 minutes to be considered*):** 6 minute lightning talk (if you want me to go into technical details I can make it longer)

*Secret tip: the shorter yo

[2016-07-01 17:03] jasonrhodes commented on #77
This is fantastic. I can easily work in a lightning talk -- you're in. Thanks @LabLayers ! See you next week

[2016-07-06 16:37] #73 closed

[2016-07-07 15:28] jasonrhodes commented on #77
Thanks again so much for coming down and speaking! You're welcome back any time

[2016-07-07 15:28] #77 closed

[2016-07-07 15:29] jasonrhodes commented on #75
Great talk, less funny than I expected.

[2016-07-07 15:29] #75 closed

[2016-07-07 15:29] jasonrhodes commented on #72
^5 thanks for coming downnnn

[2016-07-07 15:29] #72 closed

[2016-07-11 03:27] nickhudkins opened #78 "PRY"
Nick Hudkins

Common mistake that I see is too many people putting too many eggs in the DRY basket.

5 mins

[2016-07-14 15:02] nickhudkins commented on #78
In lieu of this talk happening, just read this: http://www.sandimetz.com/blog/2016/1/20/the-wrong-abstraction

[2016-07-15 17:48] ecarlisle commented on #50
I've stopped using Bower and use other tools now.
Bower's a great tool, but I'd rather speak on other topics.

[2016-07-15 17:48] #50 closed

[2016-07-15 18:50] esauter5 commented on #50
Would you say your interest in Bower has gone sour? :trollface:

[2016-07-15 19:39] ecarlisle commented on #50
Ha, I wouldn't go that far! It's really a great tool and there's two reasons I used it in addition to NPM for a long time:
1. **Flat Dependency Tree:** Not only was Bower easier to sort through than the thousands of files and folders in *npm_modules*, but the flat tree put the oneness on the developer for good version management and including what you need.  Now NPM has a flat dependency tree. Its

[2016-07-15 21:06] ecarlisle opened #79 "PostCSS - Awesome Tech, Confusing Name"
**Your name:**
Eric Carlisle

**Your talk idea, described briefly:**
PostCSS, despite the name, is a new approach to do CSS preprocessing with Node. It differs from traditional preprocessors like LESS and Sass in that it's not limited to a set amount of native functionality.  With available plugins (and ones you can write), the sky is the limit for CSS customization and optimization!

**Approx len

[2016-07-22 16:12] esauter5 commented on #67
I'm closing this since we haven't heard back from you, @cphoover. We'd really love to have this talk, so if you would like to give it in the future, please open a new issue.

[2016-07-22 16:12] #67 closed

[2016-07-22 16:13] esauter5 commented on #69
@jasuperior I'm closing this issue since we haven't heard back from you. If you'd like to give this in the future, please do not hesitate to open a new issue.

[2016-07-22 16:13] #69 closed

[2016-07-22 16:15] esauter5 commented on #58
@starmer Any interest in giving this talk at the Wednesday, Aug 3 meetup?

[2016-07-25 19:24] esauter5 commented on #76
Hey @datesss, while I love this from the standpoint that it is an original idea and different from most of the talks and talk requests we get, after talking with some of the other organizers, I'm going to close this. I'm sure this could be entertaining, but poking fun at a member of the JS community would not reflect well on charmCityJS and goes against what we preach in our Code of Conduct.

Than

[2016-07-25 19:24] #76 closed

[2016-07-26 18:45] datesss commented on #76
ahhhh sorry i did not intend for this to be taken seriously!  thanks for closing 👍

[2016-07-29 01:54] max-mathieu opened #80 "Leveraging postgresql 9.5's JSON support"
**Your name:** Max Mathieu

**Your talk idea, described briefly:** Postgres 9.5 added some cool features around JSON that makes it easier to have both relational and extensible schemas, that is all good stuff for JS devs. Tips and examples included for free (including `pg` library)

**Approx length:** 5-10 minutes

[2016-07-29 01:59] max-mathieu opened #81 "Intro to VueJS"
**Your name:** Max Mathieu

**Your talk idea, described briefly:** I decided to go with VueJS for my latest project, so I volunteer to give an intro to VueJS, maybe build a quick sample app live, and show Vue dev tools

**Approx length:** probably 15-20, I doubt anyone wants to have a 3-talk series on this topic :)

[2016-07-29 14:13] esauter5 commented on #81
Hey Max, are you available to give this talk next Wednesday, August 3? We would love to have you speak.

[2016-07-29 17:18] max-mathieu commented on #81
Glad you like the talk idea ;)
For next Wed, I have to drive friends to Dulles that afternoon, so let me check if timings fit. I'll let you know by tonight or tomorrow morning

[2016-07-29 22:02] esauter5 commented on #81
Ok great. No rush, just let me know when you have an idea. If it helps, we don't usually start the talks until 7:30 and the last one kicks off around 8:15 - 8:30, so we could always work around your schedule if needed.

[2016-07-30 18:32] max-mathieu commented on #81
@esauter5 Wed won't work for me, I forgot I have to baby sit the kids that night (that's going to be a busy day :/). Sorry for not being able to make it this time, you can sign me up for September for sure!

[2016-08-01 16:29] esauter5 commented on #81
No problem, @max-mathieu! We'll tentatively set you up for September and I will check back later in August.

[2016-08-01 19:48] cgarvis opened #82 "Working with ASTs: Your first Babel plugin"
**Speaker:** Christopher Garvis

**Brief:** ASTs are scary but they are actually not that bad.  In this talk, I want to pull off the mask on ASTs and build a babel plugin from scratch.

**Time:** 20 min

[2016-08-02 01:07] kenwheeler opened #83 "Charting Like a Boss with ReactJS"
**Your name:**
Ken Wheeler

**Your talk idea, described briefly:**
During this talk I'll speak about how to use [Victory](victory.formidable.com) to create rich, interactive charting experiences in ReactJS.

**Approx length: (must be less than 20 minutes to be considered*):**
15

*Secret tip: the shorter your talk is, the faster it will be accepted, usually. We get a lot of 15-20 minute talk ideas

[2016-08-02 03:21] esauter5 commented on #83
Looking forward to this!

[2016-08-03 01:02] mscottnelson opened #84 "Elegant Beauty with p5 Interactivity"
**Your name:**
Michael Scott-Nelson

**Your talk idea, described briefly:**
A brief introduction to p5.js, a library for writing beautiful interactive generative art in a Java-like syntax.

**Approx length: (must be less than 20 minutes to be considered*):**
15

*Secret tip: the shorter your talk is, the faster it will be accepted, usually. We get a lot of 15-20 minute talk ideas but not as many 5

[2016-08-03 14:01] esauter5 commented on #36
Per our talk, setting you up for September @bizob2828. Let me know if anything changes.

[2016-08-26 20:44] jgzamora opened #85 "Keeping your npm depencencies up to date."
**Your name:**
Jose Zamora
**Your talk idea, described briefly:**
A overview of why to keep dependencies updated and an intro to Greenkeeper.
**Approx length: (must be less than 20 minutes to be considered*):**
10 minutes
*Secret tip: the shorter your talk is, the faster it will be accepted, usually. We get a lot of 15-20 minute talk ideas but not as many 5-10 minute ones. Tell us a quick 5 minute

[2016-08-31 15:23] esauter5 commented on #81
@max-mathieu Are you still good to give this talk next Wednesday (Sept 7)?

[2016-08-31 15:23] esauter5 commented on #83
Thanks again for this @kenwheeler! It was great having you in town.

[2016-08-31 15:24] #83 closed

[2016-08-31 15:25] esauter5 commented on #84
Thanks again for giving this talk @mscottnelson. Really enjoyed all the trippy visualizations!

[2016-08-31 15:25] #84 closed

[2016-08-31 15:28] max-mathieu commented on #81
Yup, count me in @esauter5 :)

[2016-08-31 15:39] esauter5 commented on #85
@jgzamora would you want to give this talk next Wednesday (Sept 7)?

[2016-08-31 15:40] esauter5 commented on #78
Do you want to give this or should I close?

[2016-08-31 18:35] nickhudkins commented on #78
I could still give this, BUT...I can't do it this upcoming one.

[2016-08-31 18:47] esauter5 commented on #78
Cool cool. I wasn't asking for this one just wasnt sure if you still were interested because of your second comment.

Does this mean you are missing a second straight meetup? Man, we might have to revoke your membership...

[2016-09-02 13:26] polyakov opened #86 "Making games with Phaser"
Elijah and Vadim Polyakov

Making HTML5 games is fun and easy with Phaser.  In this talk, we'll demo a game designed and built by Elijah(12) using Phaser game engine.  We then used Apache cordova to build an android app,

Approx length: 5-10

*Secret tip: the shorter your talk is, the faster it will be accepted, usually. We get a lot of 15-20 minute talk ideas but not as many 5-10 minute ones. Tel

[2016-09-08 14:40] max-mathieu commented on #81
Thanks for allowing me to talk last night, hope this was interesting!

Github repo with the code from the demo: https://github.com/max-mathieu/charmcity-vuejs
Slides: https://docs.google.com/presentation/d/1cw_rBIU8Nbg5cxM_MHFWP4jv_7_NrdLPsNe_TtJtuhI/edit#slide=id.p

[2016-09-08 14:40] #81 closed

[2016-09-12 15:12] naterkane opened #87 "JSONSchema for noobz"
**Your name:**
* Nater Kane

**Your talk idea, described briefly:**
* Introduction to JSON Schema, how to author documents, why you'd want to, and how you can use them in real life

**Approx length: (must be less than 20 minutes to be considered*):**
* I can probably keep it around 10 min

[2016-09-12 15:13] esauter5 commented on #85
Thanks again for giving this talk, @jgzamora!

[2016-09-12 15:14] #85 closed

[2016-09-12 15:14] esauter5 commented on #36
We are forever grateful that you gave this talk @bizob2828. Thanks again!

[2016-09-12 15:14] #36 closed

[2016-09-19 01:34] jasonrhodes opened #88 "Make Something Dumb"
**Your name:** Jason

**Your talk idea, described briefly:** I think the best way to learn or get better at JavaScript (most things?) is to make something—anything—so… I made something dumb. I wanna show you what I made, talk about how I got past some hang-ups, and invite you to help me make it even dumber or encourage you to make your own dumb things.

**Approx length: (must be less than 20 minut

[2016-09-22 05:20] jasonrhodes commented on #79
Are you available to do this for October, @ecarlisle ?

[2016-09-22 05:22] jasonrhodes commented on #82
Are you available to do this for October, @cgarvis ?

[2016-09-22 11:41] kmassada opened #89 "JS: 1 year later: Picking a stack, growing pains"
**Your name:** Kenneth Massada

**Your talk idea, described briefly:**
I have been learning javascript for about 1 year now, at least seriously, I want to talk about, what I've learned, what I struggled with, I want to present also parts of my project ionic+angularjs+typescript frontend and backend nodejs. How or why Typescript is key for me, why I chose angular, and a little bit what's it's like

[2016-09-22 12:24] jasonrhodes commented on #89
Sounds fantastic, and perfect for our audience!!! Can I book you for November, @kmassada ?

[2016-09-22 13:53] kmassada commented on #89
yes @jasonrhodes  let's do this.

[2016-09-23 22:46] jasonrhodes commented on #86
Hey there @polyakov this sounds great, are you available to do this in October?

[2016-09-23 22:46] jasonrhodes commented on #87
Hey @naterkane can you do this in October?

[2016-09-23 23:37] naterkane commented on #87
Sure that shouldn't be a problem

- sent from my potato

On Sep 23, 2016 6:46 PM, "Jason Rhodes" <notifications@github.com> wrote:

[2016-09-25 13:32] jasonrhodes commented on #78
[BOOKED for NOV]

https://charmcityjs.slack.com/archives/general/p1474679850000398

[2016-09-25 13:33] #60 closed

[2016-09-25 13:33] #66 closed

[2016-09-25 13:33] #82 closed

[2016-09-25 13:34] jasonrhodes commented on #82
Closing your open talks for now, you re-open them @cgarvis whenever you're ready to be reconsidered for talks again! :)

[2016-09-25 13:35] jasonrhodes commented on #80
I'm really interested in this @max-mathieu -- maybe we can get it scheduled for sometime after the holidays if that's roughly enough time between talks for you? :D

[2016-09-25 13:37] jasonrhodes commented on #70
@mgd216 just checking in, are you still interested/available to give this? We're booked up for Oct but want to make sure so we can consider it for Nov/Dec, or close it if not. Thanks!

[2016-09-26 13:35] max-mathieu commented on #80
Sure, sounds good to me, Q4 will be pretty hectic for me anyways

[2016-09-27 00:10] mgd216 commented on #70
Greetings,

Absolutely, would love to still talk about MEAN Stack if possible.  Let me
know which month you were thinking, thanks.

Matt

On Sun, Sep 25, 2016 at 9:37 AM, Jason Rhodes <notifications@github.com>
wrote:

[2016-09-28 12:47] polyakov commented on #86
Hey @jasonrhodes  - yes we can do it on the 5th.

[2016-09-29 15:36] jasonrhodes commented on #86
Awesome, perfect! Just show up at 7 if you want to test your computer with the monitor set up, @esauter5 will be the MC that night so look for him when you arrive. Let us know if you have any other questions!

[2016-10-06 15:03] jdstafford opened #90 "Working Effectively with Legacy Code"
**Your name:**

Josh Stafford

**Your talk idea, described briefly:**

This talk will cover definitions of Legacy Code and how to make meaningful changes to legacy projects without adding to the legacy-ness.  Examples from the book, "Working Effectively with Legacy Code" by Michael Feathers, as well as experience from The School of Hard [Legacy Code] Knocks (not a real place) will be leaned upon h

[2016-10-06 15:12] jdstafford opened #91 "Cozy Up to the Command Line"
**Your name:**

Josh Stafford

**Your talk idea, described briefly:**

This talk will a beginner-friendly introduction to using a *NIX command line.  There will be a brief history of tty, overview of various shells, and intro to basic commands.  There will also be a few survival tips.

**Approx length: (must be less than 20 minutes to be considered*):**

~10 minutes.

*Secret tip: the shorter your

[2016-10-06 23:41] jdstafford opened #92 "RethinkDB: A Fresh Look"
**Your name:**
Josh Stafford

**Your talk idea, described briefly:**
I have been passively following the progression of RethinkDB, stopping to tinker with it periodically along the way.  This talk will revolve around implementing RethinkDB in a new project and exploring its pros and cons.

**Approx length: (must be less than 20 minutes to be considered*):**

10-15 minutes

[2016-10-11 16:33] nickhudkins opened #93 "Untangling Yarn"
**Nick Hudkins**

**YA(n)PM? (Yet another package manager?) Why, Why, Why?**

**35 seconds**

People say: "Give it 2 minutes". This is me attempting to carve out 2 minutes, for people to give it 2 minutes.

[2016-10-11 16:45] jasonrhodes commented on #93
Talks are strictly forced to stay between 1-20 minutes, sorry rejected.

[2016-10-11 17:17] esauter5 commented on #93
Why is there a `(n)`?

[2016-10-11 17:22] nickhudkins commented on #93
Oh, cuz with the (n) it is like nPM.toLowerCase() === 'npm'

[2016-10-11 17:28] esauter5 commented on #88
:shipit:

[2016-10-11 17:28] #88 closed

[2016-10-11 17:28] esauter5 commented on #87
Thanks for giving this @naterkane!

[2016-10-11 17:28] #87 closed

[2016-10-11 17:29] esauter5 commented on #86
@polyakov This was awesome to see! Thanks again and we hope to see the two of you at future meetups.

[2016-10-11 17:29] #86 closed

[2016-10-11 18:48] esauter5 opened #94 "R (or something else)"
**Your name:**
Eric Sauter, but you can call me Jason Rhodes

**Your talk idea, described briefly:**
R is not JavaScript, but I did start learning about it last night. This talk could cover a number of things whether it be general data science / statistics stuff, some of the cool features of R, how you could integrate R and JavaScript. I may not actually even talk about R and just focus on data sc

[2016-10-11 20:08] jgaskins commented on #94
[code]

[2016-10-11 20:11] jgaskins commented on #93
@nickhudkins Should call it a minute but get it done in 59 seconds because you're such a rebel.

[2016-10-12 15:52] chrisuehlinger opened #95 "Intro to WebGL and Three.js"
**Your name:** Chris Uehlinger

**Your talk idea, described briefly:** WebGL is a pretty cool technology, but one that feels out of reach for most people. However, in this talk, I'll show how you can actually build a Three.js scene from some very basic building blocks. We'll also talk about Three.js's awesome directory of examples and dabble with some very basic VR effects.

**Approx length: (must

[2016-10-12 16:32] chrisuehlinger commented on #94
@jgaskins I didn't know you could pull a Jason document from a SQL database.

[2016-10-12 16:53] esauter5 commented on #94
zinggggg

[2016-10-12 17:01] nickhudkins commented on #93
@chrisuehlinger perhaps that will be my talk. When I begin, I will just start a script that does npm install and yarn, as many times as it can. and when I end I will end with the stats.

[2016-10-12 17:02] chrisuehlinger commented on #93
You should do a "spinning plates" style demo. Every time it finishes downloading a package, you have to think of a new package for it to download before you can proceed with your talk.

[2016-10-12 18:03] esauter5 commented on #79
thanks for giving this talk @ecarlisle!

[2016-10-12 18:03] #79 closed

[2016-10-12 18:55] jgaskins commented on #94
@chrisuehlinger You can just call the [`to_jason` function](https://www.postgresql.org/docs/9.3/static/functions-json.html#FUNCTIONS-JSON-TABLE) and it'll convert anything to @jasonrhodes.

[2016-10-13 01:04] esauter5 commented on #94
@jgaskins Yeah, but this is a JS meetup so we prefer `JASON.parse`

[2016-10-13 19:13] jdstafford commented on #92
WELP nevermind that: https://rethinkdb.com/blog/rethinkdb-shutdown/

[2016-10-14 11:48] jasonrhodes commented on #92
lol wow what timing (really nice website they have, too)

[2016-10-14 11:48] #92 closed

[2016-10-14 11:48] jasonrhodes commented on #89
ping @kmassada just reminding you and verifying you're on for nov 2, let me know

[2016-10-14 11:52] jasonrhodes opened #96 "Putting code in the schools (Charlotte James)"
**Speaker name:** Charlotte James, Communications Director at [Code in the Schools](http://www.codeintheschools.org/)

**Talk idea, described briefly:** Computer science access is an issue of educational and social justice - especially in this moment in history and especially for young people of color (ie the majority of Baltimore). Charlotte will talk about the work Code in the Schools is doing t

[2016-10-15 02:45] jasonrhodes commented on #91
This sounds like a great idea, Josh. Are you avail to do this for Dec?

[2016-10-16 18:01] jdstafford commented on #91
Yes, December sounds good.

[2016-10-17 15:10] kmassada commented on #89
@jasonrhodes confirming for nov2 !! we are doing this!!

[2016-10-22 14:57] bolducp opened #97 "Docker in 7 Minutes"
**Your name:**  Paige Bolduc

**Your talk idea, described briefly:** A "Hello, World" talk for [Docker](https://www.docker.com/) that **assumes no familiarity at all** with Docker or container technology. I'll explain some key terminology and big picture ideas and give suggestions about resources for getting started with Docker.

**Approx length: (must be less than 20 minutes to be considered*):**

[2016-10-24 20:45] esauter5 commented on #58
Closing this as we have not heard back from you. Please reopen if you are still interested in giving this talk @starmer!

[2016-10-24 20:45] #58 closed

[2016-10-24 20:46] esauter5 commented on #95
Are you available for December, @chrisuehlinger??

[2016-10-24 20:47] esauter5 commented on #97
Hi @bolducp! Are you available to give this talk on December 7?

[2016-10-24 20:47] esauter5 commented on #95
December 7 to be exact.

[2016-10-24 20:55] bolducp commented on #97
Hi, @esauter5! Ah, I'm sorry, but I actually have family visiting town that evening, so I can't do December 7th.

[2016-10-24 20:56] jgaskins commented on #97
They can come, too. :-D

[2016-10-24 20:59] bolducp commented on #97
For most of my family members, I'd definitely just invite them along to watch, but in this case it's not possible. I'm sorry! I hope you'll consider me for a different date still. :-)

[2016-10-24 21:02] jgaskins commented on #97
lol It's all good, I'm just being silly. _Definitely_ would like to see this talk because a bite-sized Docker talk sounds great. Knowing very little about Docker, I get lost in the longer ones.

[2016-10-24 21:11] bolducp commented on #97
@jgaskins, thanks! I had to give a lightning talk on "any technical subject" for a recent company meeting, and I chose Docker because it's a topic that I had run up against and backed away from out of confusion several times before. But once I knew I was going to be speaking in front of people, I *had* to try to figure it out. And it turns out to be really cool! So I'd love to help other tentative

[2016-10-25 18:26] chrisuehlinger commented on #95
Yes
On Mon, Oct 24, 2016 at 4:46 PM Eric Sauter <notifications@github.com>
wrote:

[2016-10-25 18:54] chrisuehlinger commented on #95
Works for me!
On Mon, Oct 24, 2016 at 4:47 PM Eric Sauter <notifications@github.com>
wrote:

[2016-10-25 19:01] esauter5 commented on #97
No worries, Paige! We will check in next month and see if you are available
in January or sometime later in the new year.
On Mon, Oct 24, 2016 at 5:11 PM Paige Bolduc <notifications@github.com>
wrote:

[2016-10-25 19:02] bolducp commented on #97
Sounds good! Thanks, @esauter5. Will be looking forward to it, and to meeting you and others at the November meetup too.

[2016-11-03 17:34] johneisenhardt opened #98 "JavaScript and open source hardware"
**Your name:**
John Eisenhardt

**Your talk idea, described briefly:**
Embedded development usually means C with a pinch of assembly and perhaps even C++ when things get fancy.

Consider myself an embedded guy, but these days the lines have blurred between embedded, PC and web development.

My path to JS began with creating simple web pages for embedded web-servers, then eventally fancier  Backbon

[2016-11-23 00:56] clickclickonsal commented on #91
@jdstafford are you still available for decemeber?

[2016-11-23 01:31] jdstafford commented on #91
Yes, looking forward to it.

[2016-11-23 01:32] clickclickonsal commented on #70
hey @mgd216, are you available December 7th to give this talk?

[2016-11-23 01:38] clickclickonsal commented on #93
@nickhudkins would you like to do this as a lighting talk? I could definitely knit you in for December 7th. 😄

[2016-11-23 04:05] clickclickonsal commented on #89
@kmassada Great talk! I enjoyed it! 😄

[2016-11-23 04:05] #89 closed

[2016-11-23 04:14] clickclickonsal commented on #96
http://www.codeintheschools.org/join-us/volunteer/

[2016-11-23 04:14] #96 closed

[2016-11-23 04:20] clickclickonsal commented on #78
@nickhudkins This was a great talk! I just want to say that again. This was a great talk!

[2016-11-23 04:20] #78 closed

[2016-11-23 12:20] mgd216 commented on #70
Greetings,

Yes I am available to give the talk on 12/7/16.  If there are any
guidelines I need to follow, please let me know.  Look forward to meeting
everyone, thanks.

Matt

On Tue, Nov 22, 2016 at 8:32 PM, Salvador Hernandez <
notifications@github.com> wrote:

[2016-11-23 16:41] clickclickonsal commented on #70
Awesome, I have you scheduled! Only guideline really is to just keep the talk under 20 mins. 😄

[2016-11-24 12:44] mgd216 commented on #70
Not a problem, again look forward to meeting the group.

On Wed, Nov 23, 2016 at 11:41 AM, Salvador Hernandez <
notifications@github.com> wrote:

[2016-11-29 16:05] clickclickonsal commented on #70
@mgd216 I don't see you on our slack team for CCJS, if you don't mind join our slack group and I can invite you to our channel were we do any prep talk needed.
You can join via our [website](http://charmcityjs.com/), and click on the slack button and then enter your email for an invite. 😄

[2016-12-02 00:56] markbrocato opened #99 "Making imaginary modules real with webpack and babel"
I recently wrote [extjs-reactor](https://github.com/sencha/extjs-reactor), which turns Ext JS into a component library for React.  Why is this interesting?

1. Ext JS does not export ES6 modules (or even commonJS modules), so I had to write a babel transform to make it look like it does.
2. Ext JS is a huge library which needs to be tree-shaken for production use.  Due to #1, nothing other than ou

[2016-12-02 03:22] jasonrhodes commented on #99
Love this idea, Mark. :)

[2016-12-08 15:39] colestrode opened #100 "Passion Talk: :sparkles: :bread: :sparkles:"
**Your name:**
Cole Furfaro-Strode

**Your talk idea, described briefly:**

Baking bread has finally hit the javascript mainstream, so let's not get left behind: https://twitter.com/mikemaccana/status/805876764845240320

I've been baking bread at home for about a year. It's geeky: you get to measure and weigh things, track time and temperature. But it also has room for creativity and self-expressi

[2016-12-08 16:46] colestrode opened #101 "Building Slack Bots for Fun and Profit (or At Least Fun)"
**Your name:**
Cole Furfaro-Strode

**Your talk idea, described briefly:**

I’ve built a lot of Slack bots, some of which we use every day at SparkPost to [keep us productive][1], some of which are for my own [entertainment][2]. My favorite thing about Slack bots is they are easy to build and entertaining, which makes them a great playground to learn more advanced engineering concepts. In this tal

[2016-12-12 18:18] jdstafford commented on #92
So rethink doesn't appear to be going anywhere for the time being, and still has an active community despite the lack of a paid dev team.  That said, plus the fact that there is (apparently) movement toward turning rethink into a self-sustaining open source project, I might like to give this talk after all.  What are your thoughts?

[2016-12-13 17:10] chrisuehlinger opened #102 "Introduction to D3"
**Your name:** Chris Uehlinger

**Your talk idea, described briefly:** D3 is a HUGE library, but you don't need to master all of it to be good at it. This talk will begin with an explanation of what D3 is, and a "map" of the many "regions" of D3. We'll take a look at how to make a basic bar chart with some simple animations, and end with some ways to learn more about the other parts of D3.

**Appr

[2016-12-17 01:42] nikzb opened #103 "AppLab - Helping kids build simple apps with JavaScript"
**Your name:** Nik Baltatzis

**Your talk idea, described briefly:** AppLab is a learning tool designed by Code.org as part of their AP Computer Science Principles curriculum. The tool allows new programmers to quickly create simple web apps with JavaScript. I use the tool with my students and thought it would be cool to share it as something that people could then share with their kids, friends,

[2016-12-19 16:14] esauter5 commented on #97
Circling back here @bolducp. Would you like to speak at our January 4th meetup?

[2016-12-19 16:14] esauter5 commented on #70
Thanks again @mgd216. It was great having you speak!

[2016-12-19 16:14] #70 closed

[2016-12-19 16:15] esauter5 commented on #95
Thanks @chrisuehlinger! I look forward to the first CharmCityJS meetup that takes place completely in VR

[2016-12-19 16:15] #95 closed

[2016-12-19 16:16] esauter5 commented on #98
This sounds really interesting. @johneisenhardt Are you able to talk about this at our January 4th meetup?

[2016-12-19 16:19] esauter5 commented on #101
Are you available to give this talk on January 4, @colestrode ?

[2016-12-19 17:01] bolducp commented on #97
Hi, @esauter5-- thanks for checking back in! I'm sorry to say that I've actually rather over-committed myself for January and February (I'm starting a new job on Jan. 3rd, and I've agreed to teach an Intro. to Javascript class through Girl Develop It), and so I don't think I'll have the time to prepare for a CharmCityJS talk the way that I'd want to in January or February. Should I close my talk i

[2016-12-19 17:25] esauter5 commented on #97
No worries! I'll just leave it open and check back in a few months down the road.

[2016-12-19 19:28] johneisenhardt commented on #98
Sure, I'd be happy to.

[2016-12-20 03:26] colestrode commented on #101
Hey @esauter5 :) I think so, I need to double check my wife's schedule. Can I get back to you in a day or two?

[2016-12-20 04:42] EmpiricalAnalysis opened #104 "Visualize Open Baltimore Data"
**Your name:**
Johann Liang

**Your talk idea, described briefly:**
Baltimore City has provided the public access to many of its data sets in an effort to increase transparency. However, given the challenges in deciphering hundreds and sometimes millions of rows of number/text, we don't often hear how the availability of those data have helped improve citizens' life. To get started, I believe visu

[2016-12-20 15:16] esauter5 commented on #101
Works for me!

[2016-12-20 15:23] esauter5 commented on #98
Awesome. Looking forward to it

[2016-12-20 15:24] esauter5 commented on #99
@markbrocato are you available to give this on January 4?

[2016-12-20 15:25] markbrocato commented on #99
Yes!

[2016-12-20 15:25] esauter5 commented on #99
Great :)

How long do you expect this to be?

[2016-12-20 15:27] markbrocato commented on #99
Ideally about 15 minutes.

[2016-12-20 15:27] esauter5 commented on #99
Perfect. You're all set. See you then!

[2016-12-21 13:09] colestrode commented on #101
We're good to go 🙂 The 4th works for me!

[2016-12-21 14:02] esauter5 commented on #101
Awesome. See you then!

[2017-01-04 16:05] rpchurchill opened #105 "Extend the Intro to WebGL and Three.js talk from December + Demo how I'm using it"
**Your name:**
R.P. (Bob) Churchill
(rpchurchill.com)

**Your talk idea, described briefly:**
Chris Uehlinger gave such a nice intro to WebGL and Three.js in Dec '16 that I marched right home and started experimenting with it.  Within three days (of starting to work on it) I had extended an ongoing project of mine to use this technology, complete with the option to render it in stereoscopic VR.  T

[2017-01-04 16:37] rpchurchill commented on #105
testing...

[2017-01-05 17:49] colestrode commented on #101
Slides! https://speakerdeck.com/colestrode/slack-bots-for-fun-and-profit-charm-city-js

[2017-01-18 19:01] max-mathieu commented on #80
@jasonrhodes hit me up if you're still interested, just need to know about a week in advance so I can manage daycare duties 👶

[2017-01-23 01:57] jasonrhodes commented on #104
Hey @EmpiricalAnalysis are you still ok with giving this talk in February? We'd love to have you!

[2017-01-23 01:58] jasonrhodes commented on #103
@nikzb this sounds great, are you able to give this for February?

[2017-01-23 01:59] jasonrhodes commented on #80
Definitely still interested, are you available for February 1?

[2017-01-23 02:04] jasonrhodes commented on #47
Hey @jboverfelt are you still interested/available for giving this talk?

[2017-01-23 02:37] EmpiricalAnalysis commented on #104
@jasonrhodes Thanks for having me! I love to give the talk, but I just started working on another data set which I think would be interesting to include in the talk. Time is a bit tight to get ready for this month's meeting. Would there be a spot in March's meeting so I can give the talk then instead? Thanks again!

[2017-01-23 14:53] jboverfelt commented on #47
Sure! Would this be for February or March?

[2017-01-23 15:35] jasonrhodes commented on #47
Feb if that works?

[2017-01-23 16:11] jboverfelt commented on #47
Yeah I can probably get it together by then. I'm assuming it's on 2/1? If so, could I go first?

[2017-01-24 14:57] nikzb commented on #103
@jasonrhodes I could probably do it but I'm recovering from pneumonia, so it might be better to put it off for a later date

[2017-01-24 21:37] jboverfelt commented on #47
Something has come up and I can't do 2/1 if that's the date. I can do March though

[2017-01-24 23:02] jasonrhodes commented on #47
Aw ok, Feb 1 was what we were shooting for, yes. Let me know if that changes!

[2017-01-24 23:37] esauter5 commented on #98
Thanks for giving this talk @johneisenhardt!

[2017-01-24 23:37] #98 closed

[2017-01-24 23:38] esauter5 commented on #101
Thanks for giving this talk @colestrode!

[2017-01-24 23:38] #101 closed

[2017-01-24 23:38] esauter5 commented on #99
Thanks for speaking, @markbrocato!

[2017-01-24 23:38] #99 closed

[2017-01-25 00:00] #94 closed

[2017-01-25 00:49] max-mathieu commented on #80
@jasonrhodes I'll have to bail this time, baby went to ER twice in 2 days, so we'll need a regular week next week. Let's see how things unfold for March

[2017-01-25 02:08] colestrode commented on #101
Thanks for having me 🙂

[2017-01-27 14:43] jasonrhodes commented on #105
Hey @rpchurchill are you still available to give this next week? I somehow missed this talk sitting here until just now!

[2017-01-27 14:44] jasonrhodes commented on #103
Hey @nikzb that's fine -- if you end up feeling better and want to give it a go, let me know this weekend.

[2017-01-27 14:45] jasonrhodes commented on #102
Hey @chrisuehlinger we _are_ short this month, do you think you'd have this ready by next Wed?

[2017-01-27 17:24] chrisuehlinger commented on #102
(*slurps coffee, tears page from typewriter, carriage returns*) I'd be glad
to help out. I've had this talk on the backburner for a while now, so I
don't think it'll be too tough to write.
On Fri, Jan 27, 2017 at 9:45 AM Jason Rhodes <notifications@github.com>
wrote:

[2017-01-27 17:39] rpchurchill commented on #105
Sure.  What did you have in mind for duration?

[2017-01-27 17:43] jasonrhodes commented on #105
10-15 is perfect

[2017-01-27 17:43] jasonrhodes commented on #102
Lol perfect

[2017-01-27 17:49] rpchurchill commented on #105
Excellent.  Will do.

[2017-01-27 20:34] nikzb commented on #103
Hey @jasonrhodes, I am doing much better and should be definitely be good to go by Wednesday. If you have the slot open, I can go ahead and give the talk. Let me know.

[2017-01-30 02:21] jasonrhodes commented on #103
Oh sorry @nikzb for not getting back to you sooner but yes, the slot is still open and we'd love to have you!

[2017-01-30 12:55] nikzb commented on #103
@jasonrhodes Sounds good. See you on Wednesday.

[2017-02-01 22:09] skratchdot opened #106 "Javascript has Blue Teeth"
**Your name:**
Jeff S.

**Your talk idea, described briefly:**
"Javascript has Blue Teeth"

I'll talk a little about Bluetooth and give a very brief history touching on:
- Bluetooth EDR vs Bluetooth LE
- Centrals vs Peripherals
- GATT Services

I'll touch on node libs like:
- [noble](https://github.com/sandeepmistry/noble/)
- [bleno](https://github.com/sandeepmistry/bleno/)

I'll talk a bit about

[2017-02-01 22:12] skratchdot opened #107 "Let's Talk About ASTs"
**Your name:**
Jeff S.

**Your talk idea, described briefly:**
"Let's Talk About ASTs"

I'll talk about ASTs and why you should care about them (as a javascript developer).

I'll touch on libs that use ASTs and transforms:
- eslint
- babel
- jscodeshift

I'll demo [astexplorer](https://github.com/fkling/astexplorer).

**Approx length:**
~10 minutes

[2017-02-11 03:05] bizob2828 opened #108 "Using AWS Lambda, Node.js to build alexa skill"
**Your name:**
Bob Evans
**Your talk idea, described briefly:**
Show how easy it is to build an alexa skill to use for your echo dot.  I built integration with a list management service called wunderlist.  I'll show how to use AWS Lambda, creating the alexa skill and using it on your echo/echo dot.
**Approx length: (must be less than 20 minutes to be considered*):**
15mins
*Secret tip: the shorter

[2017-02-21 17:49] jasonrhodes commented on #103
Thanks again, @nikzb !

[2017-02-21 17:49] #103 closed

[2017-02-21 17:49] jasonrhodes commented on #105
Thanks for talking!

[2017-02-21 17:49] #105 closed

[2017-02-21 17:49] jasonrhodes commented on #102
Thanks for speaking and on short notice too!

[2017-02-21 17:49] #102 closed

[2017-02-21 17:50] jasonrhodes commented on #80
@max-mathieu you in for March?

[2017-02-21 17:51] jasonrhodes commented on #97
@bolducp are you sick of us yet? you know you want to come talk about this at Impact Hub for our March meetup comeonnnnnn do it do it!

[2017-02-21 17:52] jasonrhodes commented on #104
@EmpiricalAnalysis will you have something ready for March? No more excuses! ;)

[2017-02-21 17:54] jasonrhodes commented on #106
You good to give this in March?

[2017-02-21 17:55] jasonrhodes commented on #93
Do you really want to talk about Yarn @nickhudkins y/n

[2017-02-21 17:58] nickhudkins commented on #93
Sure don't!

[2017-02-21 17:58] #93 closed

[2017-02-21 17:58] nickhudkins commented on #93
I don't use it. Habits die hard.

[2017-02-21 17:58] jgaskins commented on #93
I'm not sure what a Hadoop resource manager has to do with JavaScript https://hortonworks.com/apache/yarn/

[2017-02-21 20:45] EmpiricalAnalysis commented on #104
Arrgh! Time flies! Would love to do the talk at the upcoming March meeting. Thanks, @jasonrhodes !

[2017-02-22 00:17] esauter5 commented on #93
Talk about a hype train. This talk had so much promise, but man what a let down.

[2017-02-22 00:28] esauter5 commented on #93
(joking)

[2017-02-22 00:32] skratchdot commented on #106
@jasonrhodes - Yes. I should be able to work on something by then.  I still haven't finished the library I was referencing (haven't worked on it for over a month), but I'm guessing a week is enough time...

[2017-02-22 00:33] nickhudkins commented on #93
Well it started off as a good idea, but I'm pretty tightly wound and so I
got nervous, then the whole thing unraveled. My stomach was all in knots,
so I thought the whole thing would get kind of hairy.
On Tue, Feb 21, 2017 at 7:28 PM Eric Sauter <notifications@github.com>
wrote:

[2017-02-22 01:17] jgaskins commented on #93
Sounds like you were coming apart at the seams!

[2017-02-22 03:17] bolducp commented on #97
@jasonrhodes haha, of course not sick of you guys yet! I really appreciate the encouragement. The next few weeks are pretty tight for me, but I'm definitely still interested in getting back involved in CharmCityJS and presenting (maybe in April?). I think, though, that I have a different talk I'd prefer to do, so I'm going to close this issue, but I'll open another one for your consideration soon!

[2017-02-22 03:18] #97 closed

[2017-02-23 15:24] max-mathieu commented on #80
@jasonrhodes Unfortunately have a conflict on that night :( Do you already know the date in April so I can pencil it in in advance?

[2017-02-23 17:24] jasonrhodes commented on #104
Yes! We're at Impact Hub remember! @clickclickonsal will be MC-ing and we'll be in touch soon.

[2017-02-23 17:25] jasonrhodes commented on #80
It's always the first wed of the month!

[2017-02-23 17:26] jasonrhodes commented on #106
You're FILLING me with confidence, @skratchdot! We've got you booked for March.

[2017-02-23 17:27] jasonrhodes commented on #47
@jboverfelt how are you feeling for March?

[2017-02-24 13:52] jboverfelt commented on #47
It turns out Wednesdays are not going to work until after March 15. April should work though, I swear!!

[2017-02-24 14:56] clickclickonsal commented on #47
Cool, we'll check back with you next month then. 😄

[2017-02-24 19:34] EmpiricalAnalysis commented on #104
Sounds great, @jasonrhodes and @clickclickonsal ! See you next Wednesday!

[2017-02-27 16:27] ChrisGuzman opened #109 "Playing around with Puck.js"
**Your name:** Chris Guzman

**Your talk idea, described briefly:** I just got a [Puck.js](https://www.puck-js.com/) and I want to show you how easy it is to work with it! You'll learn how to use it as a beacon, measure light, temperature, magnetic fields & capacitance, control Infrared devices, or produce any colour light as well as using it as a programmable button!

**Do you consent to having y

[2017-02-27 18:56] ChrisGuzman commented on #109
Wait can I name the talk "Pucking around with Puck.js"? Or is that a bit too NSFW?

kudos to @clickclickonsal for the idea

[2017-02-28 02:47] clickclickonsal commented on #109
Can I book you for April 5th?

and I'm ok with the name 😅 but I'll let @jasonrhodes decide that.

[2017-03-01 18:21] #57 closed

[2017-03-03 20:39] ChrisGuzman commented on #109
May would be better. But I could do a 5 min presentation in April if you really needed me.

[2017-03-04 16:43] bolducp opened #110 "Literature: A Path to Software Development"
**Your name:** Paige Bolduc

**Your talk idea, described briefly:**  As a developer who came from an entirely non-technical academic background and childhood upbringing, I'd like to give a talk about why I think "non-traditional" paths to tech can be valuable and productive. I'll explain some of the surprising ways in which studying literature prepared me to write software. In my talk I'll also br

[2017-03-04 23:59] #104 closed

[2017-03-04 23:59] clickclickonsal commented on #104
Thanks for giving this talk @EmpiricalAnalysis !

[2017-03-05 00:02] clickclickonsal commented on #106
Thanks for giving this talk @skratchdot !  🔷📶

[2017-03-05 00:02] #106 closed

[2017-03-05 00:03] clickclickonsal commented on #109
We can check back with you next month then. 🙃

[2017-03-08 03:15] jboverfelt commented on #47
I can definitely do this in April - I've RSVP'ed for the event.

[2017-03-08 03:20] clickclickonsal commented on #47
Awesome I'll book you for April! 👍

[2017-03-08 03:25] clickclickonsal commented on #110
This sounds like a great talk! I can relate to the "non-traditional" path. Are you available to give this  talk for our next meetup, April 5th?

[2017-03-08 03:27] clickclickonsal commented on #108
Alexa! Is @bizob2828 able to give this talk April 5th, 2017?

[2017-03-08 12:59] bolducp commented on #110
Hi, Sal! Thanks! Yes, I'd love to give the talk at the April 5th meetup.

On Mar 7, 2017 10:25 PM, "Salvador Hernandez" <notifications@github.com>
wrote:

[2017-03-08 14:02] clickclickonsal commented on #110
Awesome! You're booked for April!

[2017-03-08 15:46] bizob2828 commented on #108
I think I can commit to that @clickclickonsal

[2017-03-09 14:45] clickclickonsal commented on #108
Awesome, I'll book you for April. 👍

[2017-03-29 15:54] clickclickonsal commented on #47
Hey @jboverfelt are you on our slack by any chance? If your are whats your slack handle? If not you can signup here -> http://charmcityjs.herokuapp.com/
We like to invite our upcoming speakers to our private #greenroom channel to help prepare or answers questions before our meetup. :-)

[2017-03-29 15:56] jboverfelt commented on #47
Yep I'm on there - handle is jboverfelt

[2017-03-31 03:09] nickhudkins opened #111 "Dr. Semicolon OR Why I learned to severely dislike ASI and start loving semicolons."
**Your name:**
Nick Hudkins

**Your talk idea, described briefly:**
Why automatic-semicolon-insertion is the devil and must be stopped.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Absolutely. Then, share it on HackerNews or some other equally awful website where people fight about terrible things and are mean to each other.

**Short talk title (optional):**
The Beaut

[2017-03-31 03:20] jasonrhodes commented on #111
[code]

#ftfy

[2017-04-06 15:10] rayners opened #112 "Regular Expressions: /love/"
**Your name:** David Raynes

**Your talk idea, described briefly:** A love story, as told with regular expressions.

**Do you consent to having your talk recorded*, if we choose to do so?:** Yes

**Short talk title (optional):** Regular Expressions: /love/ (read as: Looking for love)

**CCJS Slack username:** rayners

_If you're not a member of CCJS slack, sign up here so we can communicate about

[2017-04-06 15:12] rayners commented on #112
I don't get to most CCJS meetings, but I should be able to make it to May. And then again in September.

[2017-04-09 00:52] oliikit opened #113 "Getting your secret squirrel on"
**Your name:** Olivia

**Your talk idea, described briefly:** Going over the basics of securing your privacy of the web and being a true :shipit:

**Do you consent to having your talk recorded, if we choose to do so?:**  Yep

**Short talk title (optional):**  Getting Your Secret :shipit: On

**CCJS Slack username:** olivia

**Twitter username (optional):** dothecodeolivia

**Length: (1-15 min plea

[2017-04-11 23:26] clickclickonsal commented on #47
Thanks for giving this talk @jboverfelt !

[2017-04-11 23:26] #47 closed

[2017-04-11 23:28] clickclickonsal commented on #110
Thanks for giving this awesome talk @bolducp! 👍 We hope to see/have you do more talks! 😄

[2017-04-11 23:28] #110 closed

[2017-04-11 23:29] clickclickonsal commented on #108
Alexa! Tell @bizob2828 'Thank you for giving this talk'. 🤖

[2017-04-11 23:29] #108 closed

[2017-04-11 23:31] clickclickonsal commented on #109
@ChrisGuzman, May I ask how's May sound for giving this talk?

[2017-04-11 23:36] clickclickonsal commented on #80
Hey @max-mathieu, how's May 3rd sound for giving this talk?

[2017-04-14 18:32] max-mathieu commented on #80
@clickclickonsal count me in!

[2017-04-15 22:24] clickclickonsal commented on #113
Can I book you for May? :-D

[2017-04-19 15:29] oliikit commented on #113
Sure let's do it!

[2017-04-20 02:34] clickclickonsal commented on #112
Hey @rayners, I'm going to book you for May. Does that still currently work for you?

[2017-04-26 02:23] jjshab opened #114 "Blockchain coding on the Ethereum network(Will come up with clever title later)"
**Domenic Thomas **

**overview of blockchain basics. Discussion of Ethereum, Solidity programming language and smart contracts**

**Do you consent to having your talk recorded*, if we choose to do so? YES**

**Short talk title (optional):**

**CCJS Slack username: domenicthomas*

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://

[2017-04-26 18:19] esauter5 commented on #114
Thanks @jjshab! Per our discussion in Slack, you're all set for next Wednesday. Thanks for volunteering!

[2017-04-26 18:25] jjshab commented on #114
Cool see you then

On Wed, Apr 26, 2017 at 2:19 PM, Eric Sauter <notifications@github.com>
wrote:

[2017-05-09 01:41] DJFalcon23 opened #115 "Youth Tech Mentoring."
Derek Fields

A talk on why it's important to mentor kids that are interested in modern tech, and how to get involved.

Yes, you may record.

**Short talk title (optional):**

CCJS: djfields

Twitter: DJFalcon23

10min

[2017-05-13 18:38] clickclickonsal commented on #114
Thanks again for giving this talk @jjshab!

[2017-05-13 18:38] #114 closed

[2017-05-13 18:39] clickclickonsal commented on #113
Thanks again for giving this secure talk @oliikit!

[2017-05-13 18:39] #113 closed

[2017-05-13 18:40] clickclickonsal commented on #80
Thanks again for giving this talk @max-mathieu!

[2017-05-13 18:40] #80 closed

[2017-05-13 18:43] clickclickonsal commented on #109
Closing this talk because you're leaving us 😞. Have a great pucking time in New Orleans 😄

[2017-05-13 18:43] #109 closed

[2017-05-13 19:03] clickclickonsal commented on #100
Hey, @colestrode that's pretty cool! I would loaf if you can give this talk on June 7th! No pressure dough! 🙃

[2017-05-13 19:04] clickclickonsal commented on #115
Hey @DJFalcon23, can you give this talk on June 7th?

[2017-05-13 22:14] inunotaisho26 opened #116 "Business and Computer Ethics"
Ethan Fairweather

A talk on the need for business ethics. An issue that is not completely under control.

Would like it to be, but yes

**Short talk title (optional):**

CCJS:@ethanfairweather

Twitter username (optional):@eburrowfair

10 minutes

[2017-05-14 00:19] tkraak opened #117 "Intro to Spike, a modern static build tool powered by webpack"
**Your name:**

Tom Kraak

**Your talk idea, described briefly:**

[Spike](https://github.com/static-dev/spike) is a full featured static website generator written in JavaScript. It is built on top of webpack, and a foundation of HTML, CSS, and JS parsers that accept plugins to transform the output. It’s fast, actively developed, and very data-friendly.

**Do you consent to having your talk record

[2017-05-14 02:07] CKarper opened #118 "Hiding in plain sight, fun with steganography"
**Your name:** Chris Karper

**Your talk idea, described briefly:** A quick overview of what steganography is, and a demo of how it works/how to use node to build your own.

**Do you consent to having your talk recorded*, if we choose to do so?:** Sure

**Short talk title (optional):** Hiding In Plain Sight

**CCJS Slack username:** ckarper

**Twitter username (optional):** Wickity

**Length: (1-1

[2017-05-15 11:00] jgaskins commented on #111
My favorite part of this is that there are no semicolons in that code

[2017-05-15 14:20] max-mathieu commented on #80
You're very welcome @clickclickonsal

Not sure where I should post those, but here are my slides: https://docs.google.com/presentation/d/1Vzf9P4Z6E4ZPZDVvxpN4bEV8-KzDwbQ0xeiHDDxQrgk/edit#slide=id.p
Also, https://www.postgresql.org/docs/current/static/functions-json.html is a good reference for all json(b)-specific functions

[2017-05-15 18:50] colestrode commented on #100
Hey @clickclickonsal! Let me see check in what our family is up to that night, I'll get back to ya soon :)

[2017-05-17 18:26] clickclickonsal commented on #117
Hey @tkraak, can I book you for our June meetup?

[2017-05-17 18:27] clickclickonsal commented on #118
Hey @CKarper, can I book you for our June meetup? I'd love to see 👀  this talk.

[2017-05-17 18:30] tkraak commented on #117
@clickclickonsal ... you sure can! Thx.

[2017-05-18 00:14] CKarper commented on #118
Yeah, I'd really like to give this talk

except I'm not really

sure where the Meetup is this month.

[2017-05-18 00:16] CKarper commented on #118
☝️  Read the first letter of each line.

[2017-05-18 10:55] clickclickonsal commented on #118
Haha Very clever! 😄 It's gonna be at [MindGrub Technologies ](https://www.google.com/maps?f=q&hl=en&q=1215+East+Fort+Avenue,+Baltimore,+MD,+21230,+us)

[2017-05-18 13:58] clickclickonsal opened #119 "Packing Up the Web"
**Your name:**
Sal Hernandez

**Your talk idea, described briefly:**
I'll talk about what Webpack is, breaking the cache with webpack builds, using webpack to improve your application performance, etc.

**Do you consent to having your talk recorded*, if we choose to do so?:**

**Short talk title (optional):**
Packing Up the Web (I may change it)

**CCJS Slack username:**
clickclickonsal

_If you'r

[2017-05-18 15:43] inunotaisho26 commented on #116
Cliff notes, I will be tying this topic into the challenger disaster in 1986. Something my family and I have a personal connection to. My hope is to use that to drive my points home.

[2017-05-19 20:46] colestrode commented on #100
We're on! I'll start working on something :)

[2017-05-19 21:18] clickclickonsal commented on #100
Awesome! Hope you can bake in at least one pun in your talk for me. ;-)

[2017-05-25 04:39] it-from-bit opened #120 "Async Patterns in JavaScript"
**Your name:**
Christopher Redman

**Your talk idea, described briefly:**
A practical tour of different patterns for handling async in JS (callbacks, promises, generators, async functions), their pros and cons, with examples and some library suggestions (babel, bluebird, co, etc).

**Do you consent to having your talk recorded*, if we choose to do so?:**
Sure.

**Short talk title (optional):**
Asy

[2017-06-08 13:15] CKarper commented on #118
[Slides are available](https://github.com/ckarper/talk-steganography)

[2017-06-08 23:25] colestrode commented on #100
Thanks for having me ❤️

[2017-06-08 23:25] #100 closed

[2017-06-09 17:04] esauter5 commented on #118
Thanks for giving this talk @CKarper!

[2017-06-09 17:04] #118 closed

[2017-06-09 17:04] esauter5 commented on #117
Thanks for giving this talk @tkraak!

[2017-06-09 17:04] #117 closed

[2017-06-09 17:04] esauter5 commented on #115
Thanks for giving this talk @DJFalcon23!

[2017-06-09 17:04] #115 closed

[2017-06-09 21:50] alimacattack opened #121 "How to get started with DIY electronics."
**Alison MacMullan:**

**Six months ago, I knew nothing about circuits or electronics or microcontrollers.  Now, I feel like I might know something (I even won 3rd prize in hardware at the Baltimore Hackathon).  I'd like to talk about how to select and buy a basic electronics toolkit, how to solder, online resources, community maker spaces, how to program an Arduino, and some demonstrations of thi

[2017-06-14 20:27] ChrisGuzman opened #122 "Glitch.com"
Your name: Chris Guzman

Your topic request: [Glitch](https://glitch.com/) is a new way to host share and remix your javascript apps. Also a convenient way [to get help when you're stuck](https://medium.com/glitch/just-raise-your-hand-how-glitch-helps-aa6564cb1685)

It's made by the folks from Fog Creek Software, makers of Trello, FogBugz, and co-creators of Stack Overflow.

I would love to give t

[2017-06-15 02:43] jovid78 opened #123 "Elm Overview"
**Name:** Jose Vidal

**Talk Description:**
A brief overview of Elm functional programing language.

_Disclaimer:_ I'm no expert of elm. I was just curious about it and did some small tutorials to get the gist of it.

The talk is about Elm's syntax and main traits.

**Title:** An Overview of Elm

**CCJS Slack:** jovid78

**Length:** 12Min

(Recording of Talk is OK)

[2017-06-15 05:42] it-from-bit commented on #120
Unexpected change of plans means I'll be out of the country so I'll have to do this talk another time (or more likely a different topic since async will become common knowledge soon, after the next Node update!).

[2017-06-15 05:42] #120 closed

[2017-06-15 16:37] jovid78 opened #124 "Vue.js"
Jose Vidal

**Talk Description:** A brief introduction into the Vue.js Framework.

**Title:** What's up with Vue?

**CCJS Slack username:** jovid78

**Length:**  12min

(recording is ok)

[2017-06-19 11:20] sparkysmitty opened #125 "Brawn Up and Brain Out"
**Your name**:
Dave Smith

**Your talk idea, described briefly:**
"Passion Talk" about making things.  Synergizes with meeting at City Garage -- **_The Foundery_** is in the same building, and they are willing to host a tour for the Meetup group (during break, after meetup, **_[need to tell them when]_**).  They have everything from basic forging and welding to a full wood shop to industrial CNC c

[2017-06-20 14:26] jasonrhodes commented on #124
@jovid78 you think you can keep this to 10 min?

[2017-06-20 14:38] rayners commented on #112
Earliest I think is September. I'll have to double-check with the class schedules.

[2017-06-20 15:32] jovid78 commented on #124
Think so.  Will keep it short.

[2017-06-22 14:23] jasonrhodes commented on #121
@alimacattack are you available to give this for July 5? we're thinking of doing a "maker" theme for the night (ish) and this would be an excellent fit

[2017-06-22 14:26] jasonrhodes commented on #125
@sparkysmitty we're thinking of doing a "maker" theme for the July meetup and so this would fit great, can you do it for July 5?

Also: we'd like to do the Foundery tour if we can make it work time-wise, I think having it be the last thing makes sense but timing will be slightly hard to predict so we'd have to tell them "sometime around 8:30-9ish"... if they would prefer a more solid or earlier ti

[2017-06-22 14:27] jasonrhodes commented on #124
Cool @jovid78 are you available for July 5?

[2017-06-22 16:22] alimacattack commented on #121
Yes, put me on the schedule! Can't wait for the other "maker" talks!

On Jun 22, 2017 10:23 AM, "Jason Rhodes" <notifications@github.com> wrote:

[2017-06-22 21:16] jovid78 commented on #124
@jasonrhodes ,  yep. I'm available

[2017-06-23 11:30] sparkysmitty commented on #125
Yes, can definitely do a talk on the 5th that will completely be in sync with a maker theme.

Will speak to Foundery folks regarding timing -- I got the impression that some amount of ambiguity is fine with them, I think they just wanted a framework to work within.   Will provide info when I get it.   Thanks much.

[2017-07-03 02:01] jgaskins opened #126 "Neo4j, a graph database for highly interconnected data"
**Your name:** Jamie Gaskins

**Your talk idea, described briefly:** Relational databases are pretty good at modeling how data is directly connected to other data, but if you need to see how data is _indirectly_ connected or you need to query on too many `JOIN`s, it starts having trouble. In this talk, we'll discover what that friction is with a SQL database and how Neo4j solves it.

**Do you cons

[2017-07-06 15:09] esauter5 opened #127 "Machine Learning with JavaScript"
**Your name:** Eric Sauter

**Your talk idea, described briefly:** In this talk, I'll give a quick overview of the basics of machine learning. After, I'll provide some examples of how we can use JavaScript to learn about and implement machine learning algorithms while hopefully not destroying humankind in the process.

**Do you consent to having your talk recorded*, if we choose to do so?:** If yo

[2017-07-06 15:10] esauter5 commented on #124
Thanks for giving this talk @jovid78!

[2017-07-06 15:10] #124 closed

[2017-07-06 15:10] esauter5 commented on #125
@sparkysmitty Thanks so much for this talk @sparkysmitty. You definitely inspired me a bit, plus the tour after was great!

[2017-07-06 15:10] #125 closed

[2017-07-06 15:11] esauter5 commented on #121
Thanks and great job on this talk @alimacattack!

[2017-07-06 15:11] #121 closed

[2017-07-06 15:47] smitch88 opened #128 "Clojurescript - Pros and cons of a compile-to-js language"
**Your name:**
Scott Mitchell

**Your talk idea, described briefly:**
Give an overview of Clojurescript, a compile-to-js language based on Clojure. Illustrate at a high level w/ the pros and cons for Clojurescript compared to using modern js by looking at functional programming, interop w/ native js libs like React and highlighting code differences between Clojurescript and native Javascript and h

[2017-07-06 15:51] jovid78 commented on #124
@esauter5  You're welcome!  Thanks for having me.

[2017-07-14 11:34] negfrequency opened #129 "Quote Attribution in Fictional Writing using Machine Learning"
**Your name:**
William Kinsman

**Your talk idea, described briefly:**
Subject: NLP/ML
This talk describes a method I took to take a fictional book and convert it into an audiobook where each character has a unique voice, by using machine learning. Fictional books are a unique challenge when inanimate objects can talk. In this demo I convert Harry Potter and the Sorcerers Stone into an audio book.

[2017-07-19 16:36] jasonrhodes commented on #112
Closing this for now, @rayners would love to have you give this or another talk, just file a new issue and list available dates. Thanks!

[2017-07-19 16:36] #112 closed

[2017-07-19 16:37] jasonrhodes commented on #116
@inunotaisho26 can you say a little more about the overview/outline for this talk? thanks!

[2017-07-25 13:49] esauter5 commented on #129
@negfrequency Are you available to give a talk next Wednesday 8/2?

[2017-07-25 13:50] esauter5 commented on #32
Closing. We've had a few submissions for these pop up.

[2017-07-25 13:50] #32 closed

[2017-07-25 13:51] negfrequency commented on #129
Absolutely! Looking forward to it

On Jul 25, 2017 09:49, "Eric Sauter" <notifications@github.com> wrote:

[2017-07-25 13:51] esauter5 commented on #34
Going to close since this is pretty old. We've had talks on several of these and would certainly love to have more. Thanks for the suggestions @klembot!

[2017-07-25 13:51] #34 closed

[2017-07-25 13:55] esauter5 commented on #128
@smitch88 Any interest in giving this talk next Wednesday (8/2)?

[2017-07-25 14:15] smitch88 commented on #128
@esauter5 I could do that

[2017-07-25 16:57] negfrequency commented on #129
Eric,

I'll await your confirmation. If you need anything else prior let me know!

On Jul 25, 2017 09:50, "will kinsman" <kinsmanwill@gmail.com> wrote:

Absolutely! Looking forward to it

On Jul 25, 2017 09:49, "Eric Sauter" <notifications@github.com> wrote:

[2017-07-25 19:03] esauter5 commented on #129
@negfrequency You're all set. Let me know if you have any questions, otherwise I'll get in touch with you the day before or day of to make sure we are all squared away

[2017-07-27 02:39] andreikoenig opened #130 "Talk idea: Under Javascript's Hood."
**Your name: Andrei Koenig

**Your talk idea, described briefly: This will be a beginner-oriented talk. Let's take a quick peek under the hood of Javascript to understand how it works. We will talk about JS's execution context and its phases, global object (that weird thing), variable environments and scope chains. I have been learning JS for only about a month, and some of these things helped me

[2017-07-28 18:54] clickclickonsal commented on #126
You're are on the `charts` for next week! 🙃

[2017-08-03 12:53] jgaskins commented on #126
Posted in Slack, but someone recommended that I post my [slides](https://charmcityjs.slack.com/files/jamie/F6H47QM6D/neo4j_-_charmcityjs.pdf) here, as well, which I thought was a good idea.

Thanks for letting me talk about things I like talking about!

[2017-08-03 12:53] #126 closed

[2017-08-04 15:06] danawhite opened #131 "Blockchain for Front End Developers"
**Dana A. White**

**The talk will cover how to build an interface using React JS and Solidity that will allow users to conduct smart contract transactions on the Ethereum platform**

**Yes**

**Blockchain: Smart Contracts x React**

**danawhite**

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.com/

**abs

[2017-08-04 20:43] markbrocato opened #132 "Monorepos and Lerna"
**Your name:**
Mark Brocato

**Your talk idea, described briefly:**
Are you developing a suite of packages that depend on one another, are released concurrently, and published separately (for example, via npm)? If so, you should consider putting them in a monorepo.  In this talk I'll explain the what monorepos are, the problems they aim to solve, explore the mechanics of using lerna to maintain a

[2017-08-08 23:51] carlmjohnson opened #133 "Talk: Escape from JS: A History of Compile to JS languages"
**Your name:** Carl Johnson

**Your talk idea, described briefly:** A look at various ways that people have tried to get out of writing JS over the years by compiling something else to JS, from coffeescript to assembly JS to WASM to ES201x babelify and whatever else I can fit into a 15 minute talk.

**Do you consent to having your talk recorded, if we choose to do so?:** Sure

**Short talk title (

[2017-08-09 17:00] clickclickonsal commented on #129
Thank you for giving this talk @negfrequency!

[2017-08-09 17:00] #129 closed

[2017-08-09 17:01] clickclickonsal commented on #128
Thank you for giving this talk @smitch88! I'm going to `closure` issue. 😄

[2017-08-09 17:01] #128 closed

[2017-08-09 17:07] clickclickonsal commented on #130
Want to give this talk for our September 6th meetup?

[2017-08-09 17:08] clickclickonsal commented on #131
Want to give this talk for our September 6th meetup?

[2017-08-09 17:30] danawhite commented on #131
Absolutely.

[2017-08-09 23:18] andreikoenig commented on #130
hey, @clickclickonsal , yes, it would be awesome!

[2017-08-22 23:54] oliikit commented on #90
Hey @jdstafford! We're going through old talks - would you be up for talking in September or October?

[2017-08-22 23:55] oliikit commented on #107
Hey @skratchdot! We're going through old talks - would you be up for talking in September or October?

[2017-08-23 01:21] skratchdot commented on #107
@oliikit - I have a broken ankle at the moment (so have missed the last 2 meetups).  I go back to the doctor in 4 weeks, so *maybe* I can do October, but I don't think I can commit to September.

[2017-08-23 02:08] jdstafford commented on #90
Yes! Either September or October would be great.  Just let me know which
one.

On Tue, Aug 22, 2017 at 7:54 PM, Olivia Brundage <notifications@github.com>
wrote:

[2017-08-23 12:30] oliikit commented on #107
Ouch! Have a speedy recovery!

![](https://media.giphy.com/media/f6y4qvdxwEDx6/giphy.gif)

We may shoot for November then!

[2017-08-23 12:30] oliikit commented on #90
Cool! Let's do September! 💪

[2017-08-23 13:03] skratchdot commented on #107
Haha. Thanks for the gif!  November sounds more doable.

[2017-09-06 10:32] danawhite commented on #131
@clickclickonsal something came up on my end that will not allow me to travel to Baltimore for tonight's meetup. If possible, I would love to reschedule this talk for a later date. Pardon me for the late notice and please let me know if we can reschedule. Thanks!

[2017-09-10 11:43] #116 closed

[2017-09-10 11:53] inunotaisho26 opened #134 "Microsoft Typescript and Open Source Projects"
**name:**
Ethan Burrow Fairweather

**talk idea, described briefly:**
I would like to showcase typescript used in Angular and React. I also have typescript open source libraries I'd like to ask if developers would be interested in contributing to. The first is Typescripting to teach Typescript at nodeschool. The second is a typescript navigation plugin for both React and Angular.

**Do you consent

[2017-09-18 14:24] jasonrhodes commented on #132
@markbrocato you available to do this one for october 4 at under armour?

[2017-09-18 14:26] jasonrhodes commented on #107
@skratchdot you still prefer to wait for November? We've got room in Oct if you wanna do it then lmk asap

[2017-09-18 14:26] jasonrhodes commented on #123
@jovid78 you available to do this one for october 4 at under armour?

[2017-09-18 14:30] markbrocato commented on #132
Yes

[2017-09-18 16:02] jasonrhodes commented on #131
Hey @danawhite do you want to try this again for October? As a heads up, we really try to get at least a few days' notice on cancellations if at all possible, so let me know if you feel reasonably sure you can do it for Oct 4 and we'd love to have you. :)

[2017-09-19 12:07] jovid78 commented on #123
Yes.
Should I aim at making it 10 min or 15min?

[2017-09-19 12:22] jasonrhodes commented on #123
Closer to 10 would be great.

[2017-09-19 13:16] danawhite commented on #131
@jasonrhodes yes, October 4th works beautifully. I will be in Baltimore for the entire week as it's Steelers Week and Baltimore Innovation Week ;) Let me know what, if anything else, you need from me beforehand. I'm looking forward to it.

[2017-09-19 23:05] skratchdot commented on #107
@jasonrhodes - I still prefer November b/c I will be in a boot and on crutches for a few more weeks, but should be off crutches by November.  If no one else steps forward, then I can probably make October work, but hopefully you can find someone else!

[2017-09-20 01:38] jovid78 commented on #123
ok

[2017-09-23 01:40] #90 closed

[2017-09-23 01:40] #130 closed

[2017-09-23 01:41] #13 closed

[2017-09-23 02:29] danawhite commented on #131
Does this mean that we are all good for 10/4?

[2017-09-23 11:20] jasonrhodes commented on #131
Yes! Sorry, missed your message. I'll ping you in slack with more details this week.

[2017-09-23 23:43] clickclickonsal opened #135 "Getting expo-sed to Mobile Development"
**Your name:**
Sal Hernandez

**Your talk idea, described briefly:**
I'll be talking about the tool expo.io which is built on top of React Native. I'll first give a brief overview about RN and then introduce Expo & explain how it makes it easier than ever to build cross-platform apps all why only needing to know JavaScript. 😄

**Do you consent to having your talk recorded*, if we choose to do so?:

[2017-10-05 18:05] beardyman opened #136 "Primer on writing CLI utilities in nodejs"
**Your name:**
Jordan Nornhold

**Your talk idea, described briefly:**
An intro into writing basic CLI tools in nodejs. Examples for presentation include:
- Simple hello world
- Handling CLI arguments
- Handling Input and Output
- Handling Bash piping

**Do you consent to having your talk recorded*, if we choose to do so?:**
Sure, if you want to.

**Short talk title (optional):**
Primer on writing

[2017-10-05 18:23] naterkane opened #137 "Hiring is hard, but it shouldn't be hard on candidates."
![Whiteboarding is bullshit](https://media.glassdoor.com/lst/a7/7b/1f/1e/software-engineering-whiteboarding-session.jpg)

**Your name:**
Nater Kane

**Your talk idea, described briefly:**
Our industry has been moving over the last 20 years to making increasingly inhumane hiring techniques normal. Having a painful interview experience SHOULD NOT BE NORMAL.
* I'm going to cover a number of craptasti

[2017-10-06 00:57] clickclickonsal commented on #132
Thanks for giving this talk @markbrocato!

[2017-10-06 00:57] #132 closed

[2017-10-06 00:57] clickclickonsal commented on #131
Thanks for giving this talk @danawhite!

[2017-10-06 00:57] #131 closed

[2017-10-06 00:58] clickclickonsal commented on #123
Thanks for giving this talk @jovid78!

[2017-10-06 00:58] #123 closed

[2017-10-06 00:58] clickclickonsal commented on #119
Thanks for giving this talk @clickclickonsal!

[2017-10-06 00:58] #119 closed

[2017-10-06 02:43] chrisuehlinger opened #138 "Copywhat? A talk about Licenses, Patents, and why people were mad about React"
**Your name:** Chris Uehlinger

**Your talk idea, described briefly:** A lot of people are confused about all the legal “stuff” that floats around our code: Why do I need to put a License on my code? Why is some code copyrighted and some code patented? Is “patenta non-grantis” a real Latin phrase? In this talk I’m going to walk through the very basics of copyright and patents, compare the MIT lice

[2017-10-10 17:04] NicholasAaronBrady opened #139 "Writing Integration test with webdriver.io"
**Your name:**
Nick Brady

**Your talk idea, described briefly:**
I'd like to show an extremely simple setup of how to get started with writing integration test in webdriver.io. I'll stand up a selenium server with chromedriver, and have a front end running locally that test are run against. The whole process is surprisingly quick and easy which is what I'd like to demonstrate. I'll also likely co

[2017-10-17 19:50] naterkane commented on #122
I can ask Anil if there are any canned talks/decks on the platform

[2017-10-17 19:52] #107 closed

[2017-10-24 02:47] hyeinu commented on #138
@chrisuehlinger Hi I messaged you on slack but wanted to make sure I am able to reach you about this upcoming meetup happening in November! Please let me know either here or on slack if you are able to give this talk. Thank you!

[2017-10-24 02:49] hyeinu commented on #136
Hi Jordon, I also messaged you on slack about possibly giving this talk for the upcoming meetup in November. Just wanted to make sure I was able to reach you so please let me know either on here or on slack if you are able to give this talk! Thank you!

[2017-10-24 02:51] hyeinu commented on #138
confirmed in slack!

[2017-11-02 00:08] arei opened #140 "Why are you “await-ing” to use async"
**Your name:** Glen R. Goodwin

**Your talk idea, described briefly:** With Node.js 8 going LTS there is no better time to jump on the async bandwagon. This talk will introduce the concepts of async and await and go over why all the things you have done before (callbacks, promises) should be thrown out forever.. but not really... and why async/await is the future of JavaScript.

**Do you consent t

[2017-11-10 05:29] #138 closed

[2017-11-10 05:29] #136 closed

[2017-11-10 05:29] #127 closed

[2017-12-06 20:20] rpchurchill opened #141 "Comparative Memory Management: Native JS vs. Traditional Languages"
**Your name:**
Bob Churchill

**Your talk idea, described briefly:**
Memory management and the native JS Object model, comparison to memory management in traditional compiled languages.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Sure.

**Short talk title (optional):**
Comparative Memory Management: Native JS vs. Traditional Languages

**CCJS Slack username:**
qulata

[2017-12-06 20:29] rpchurchill opened #142 "Problem-Solving from the Business Analysis Point of View"
**Your name:**
Bob Churchill

**Your talk idea, described briefly:**
I'm preparing several talks for business analyst venues (IIBA Chapters in Baltimore, DC, and Pittsburgh, as well as potential national events).  The one that would be germane to this group is an overview of how to elicit and analyze needs; identify, document, and manage requirements; work with stakeholders; and construct or modif

[2017-12-11 17:08] esauter5 commented on #135
Thanks for giving this talk @clickclickonsal!

[2017-12-11 17:08] #135 closed

[2017-12-11 17:08] esauter5 commented on #133
Thanks for speaking @carlmjohnson!

[2017-12-11 17:08] #133 closed

[2017-12-11 17:09] esauter5 commented on #137
Thanks for speaking, @naterkane!

[2017-12-11 17:09] #137 closed

[2017-12-21 15:05] liamzdenek opened #143 "RxJS / Observables"
**Your name:** Liam Zdenek

**Your talk idea, described briefly:** RxJS is a library for performing functional mutations (filter/map/etc) on a time-distributed set (clicks or any other repeatable callback). This is a beginner introduction, but if the audience is familiar, I can go in greater detail.

**Do you consent to having your talk recorded*, if we choose to do so?:** Yes

**Short talk title

[2017-12-21 15:22] liamzdenek opened #144 "AWS Lambda Fundamentals"
#**Your name:** Liam Zdenek

**Your talk idea, described briefly:** AWS Lambda is a low-cost function execution service with strong scalability, both in price and performance. This talk covers the fundamentals of using JS with AWS Lambda.

**Do you consent to having your talk recorded*, if we choose to do so?:** Yes

**Short talk title (optional):** AWS Lambda Fundamentals

**CCJS Slack username:*

[2017-12-21 15:37] liamzdenek opened #145 "How to Succeed at a Bootcamp"
**Your name:** Liam Zdenek

**Your talk idea, described briefly:** I was an instructor at a programming bootcamp for about one year. I had ~150 students during that time, and around ~135 employed graduates. I would like to provide my condensed opinion on how to succeed at a bootcamp, and then open for Q&A.

I realize most people in the audience aren't interested in a bootcamp for themselves, but I

[2017-12-27 16:24] esauter5 commented on #140
@arei Are you available to give this talk next Wednesday, January 3?

[2017-12-27 16:26] esauter5 commented on #143
@liamzdenek Are you available next Wednesday, January 3, to give this talk?

[2017-12-27 19:04] liamzdenek commented on #143
I can do this on Jan 3. Would you prefer live demo, powerpoint, or spoken only?

[2017-12-27 19:22] esauter5 commented on #143
Format is up to you. It's good to have something to put on screen to keep the audience engaged whether it be a powerpoint, live demo, or some combination of both.

Also as far as the beginner vs. deeper dive, I think a safe rule is to underestimate what you think the audience knows. That while you'll reach most of the audience and even if people are more senior, theres a chance they haven't done m

[2017-12-27 19:24] esauter5 commented on #141
@rpchurchill Are you available to give this talk next Wednesday, January 3?

[2017-12-27 21:43] rpchurchill commented on #141
Sure, I'll be ready.  It'll be short and sweet and I'll have the slides up a couple of days ahead of time for your review.

[2017-12-28 04:54] arei commented on #140
No, sorry. Can do in February though.

[2017-12-28 16:33] esauter5 commented on #140
Sounds good! I'll mark you for February and check back in a few weeks before.

[2017-12-29 14:59] esauter5 commented on #139
@NicholasAaronBrady Any interest in giving this talk at our meetup next Wednesday, January 3?

[2017-12-29 17:38] NicholasAaronBrady commented on #139
Hi @esauter5 , I should have commented on this. I'm based out of California but used to work with a company in Baltimore. I no longer do and won't be heading out to Baltimore anymore so this should be closed :(. Great meet up! Enjoyed it when I went. @clickclickonsal sorry dude, hope you're doing well!

[2017-12-29 17:38] #139 closed

[2017-12-29 17:49] esauter5 commented on #139
All good, @NicholasAaronBrady. Thanks for letting us know!

[2018-01-02 05:07] vand1 opened #146 "Mapping the Wall between the Known and the Unknown, with 3JS, etc."
**Dennis VanDusen**

**The Wall is where people can find the greatest detail about a topic, such as what the newest ideas are in a technology. Mapping that wall requires the assembly of many ideas from a large crowd, assembling with that information Huge (bigger than Big) data from ML, and 'semantic triples', using a consensus engine to produce a hierarchical graph where the leaves are the the mos

[2018-01-02 16:14] esauter5 commented on #146
@vand1 Can you provide a little more detail about this talk? The description is a little abstract to me and I'm just trying to get a better understanding so we can figure out how to fit this talk in. It definitely sounds interesting!

[2018-01-02 21:08] esauter5 commented on #134
@inunotaisho26 Are you still interested in giving this talk? It's probably too long of a talk for this month since we already have a couple of 15 minute talks, but we could definitely get you on the schedule in the coming months.

[2018-01-02 21:10] esauter5 commented on #122
@ChrisGuzman @naterkane I'm going to close this since there hasn't been any activity. If anyone is still interested, feel free to reopen or create a new issue.

[2018-01-02 21:10] #122 closed

[2018-01-02 21:13] naterkane commented on #122
Sure no problem

On Jan 2, 2018 4:10 PM, "Eric Sauter" <notifications@github.com> wrote:

[2018-01-03 01:43] inunotaisho26 commented on #134
@esauter5 That would be fine by me. I am still recovering from a laparoscopic long biopsy.  I have some weird infection in my lungs. Not deadly or contagious, just a nuisance infection.

Let me know what month you have in mind so I can prep.

Thanks

[2018-01-03 21:45] rpchurchill commented on #141
rpchurchill.com/presentations/JavaScriptMemoryMgt/

[2018-01-04 20:05] vand1 commented on #146
Eric:  Sorry that I got talking to others rather than you last night. 
If you would like to have me explain the concept and how it ties into JS
and front end work, I can do so on the phone when you wish - just pick a
time.

And, of course, my son's company is moving fast and needs people. There
was not too much interest shown last night, but whatever. It is really
advanced work, intellectually cha

[2018-01-05 17:06] esauter5 commented on #146
@vand1 It was great getting to meet you. We would love to have you or your son at a future meetup to explain the tech more. I think people would really enjoy it. Let me know if this is of interest.

As far as job interest, we have a #jobs channel in our Slack. Feel free to post information there as you will reach a bigger audience than the people who attended the meetup the other night.

[2018-01-05 17:06] esauter5 commented on #141
Thanks again for giving this talk the other night, @rpchurchill!

[2018-01-05 17:06] #141 closed

[2018-01-05 17:07] esauter5 commented on #143
I enjoyed the demo the other night. Thanks @liamzdenek!

[2018-01-05 17:07] #143 closed

[2018-01-14 18:00] merlinpatt opened #147 "Telling Stories in React"
**Your name:** Merlin Patterson

**Your talk idea, described briefly:** How to use React Storybook to write and test components

**Do you consent to having your talk recorded*, if we choose to do so?:** Yes

**Short talk title (optional):** Telling Stories in React

**CCJS Slack username:** merlin

**Twitter username (optional):** merlinpatt

**Length: (1-15 min please):** 5

[2018-01-16 15:12] liamzdenek opened #148 "Practical Applications of Expression Grammars with PEG.js"
**Your name:** Liam Zdenek

**Your talk idea, described briefly:** PEG.js is a javascript transpiler that produces code to parse expression grammars. Expression grammars are useful for a wide range of problems, particularly file and protocol parsing. The goal of this talk is to understand what an Expression Grammar is, and walk through writing a grammar for a simple protocol. I'll probably derive

[2018-01-18 00:03] jgzamora opened #149 "Testing email delivery with MailSlurp"
**Your name:**
Jose Zamora

**Your talk idea, described briefly:**
Quick demo of testing email delivery using MailSlurp, a new tool / API. What it is & why you should.

**Do you consent to having your talk recorded*, if we choose to do so?:**
No

**Short talk title (optional):**
either "End-2-end email tests made easy" or "Testing email delivery with MailSlurp"...idk
**CCJS Slack username:**
jose

[2018-01-24 05:41] eli0shin opened #150 "Server Side React Rendering"
**Your name:**
Eli Oshinsky

**Your talk idea, described briefly:**
React.js server side rendering. Why, why not, and what makes it so hard. Introduction to challenges involved and some of their solutions.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Absolutely

**Short talk title (optional):**
Isomorphic Javascript and other useless buzzwords

**CCJS Slack username:*

[2018-01-24 19:44] liamzdenek opened #151 "Redux Side Effects with RxJS"
**Your name:** Liam Zdenek

**Your talk idea, described briefly:** This is a continuation of my RxJS talk from January. This is introducing the redux middleware `redux-observable` to handle side effects. This talk requires a fundamental understanding of Redux. Familiarity with Sagas will help understanding, but isn't essential.

redux-observable presents to the user a stream of actions, and expect

[2018-01-25 05:12] jgaskins opened #152 "Misconceptions About Progressive Web Apps"
**Your name:** Jamie Gaskins

**Your talk idea, described briefly:** Progressive Web Apps are hype af, but the front-end community at large seems to be under the impression that the only way to create a PWA is in the style of Google: `ServiceWorker`, Web App Manifest, etc. In this talk, you'll learn why that's false, why we believe it, and why it matters. Hopefully, you'll also pick up a few trick

[2018-01-26 13:08] jasonrhodes commented on #144
@liamzdenek are you available to give this on February 7?

[2018-01-26 13:09] #144 closed

[2018-01-26 13:10] #142 closed

[2018-01-26 13:10] #145 closed

[2018-01-26 13:10] #148 closed

[2018-01-26 13:11] jasonrhodes commented on #151
Hey @liamzdenek -- thanks for all the talk submissions! I'm closing them for now since you just gave a talk last month, but we will re-open and sync back up with you after a few months or if we end up in a pinch before then.

[2018-01-26 13:11] #151 closed

[2018-01-26 13:12] jasonrhodes commented on #147
@merlinpatt are you available to give this on February 7?

[2018-01-26 13:17] jasonrhodes commented on #134
@inunotaisho26 hey Ethan, two things:
1. First, we'd love to help with guiding you on this talk outline so that it fits well for the group--based on what you've outlined here it sounds like it might be more material than will fit well so if you can get us a more fleshed-out talk outline, we'll have time to give you some feedback.
1. Once we've had a back and forth about the talk outline, let's get

[2018-01-26 13:19] jasonrhodes commented on #146
@vand1 hey there! I think it'd help us understand how to fit something like this in if we understood the outline a bit better. Can you put together a slightly more fleshed-out outline of the talk and send it over either as a comment here or emailed to charmcityjs@gmail.com ? If you email, ping us here too so we remember to check that inbox. Thanks!

[2018-01-26 13:21] jasonrhodes commented on #150
@eli0shin are you available for this talk on Feb 7?

15 min is of course fine, but consider this a friendly challenge to try for 10 and see if you end up with a tighter, more focused talk. :)

[2018-01-26 15:10] eli0shin commented on #150
@jasonrhodes Feb 7 is perfect. Challenge accepted

[2018-01-26 19:15] jasonrhodes commented on #140
@arei reminder you're on for February, I can't await!

[2018-01-26 19:17] jasonrhodes commented on #152
@jgaskins hey man, wanna do this on Feb 7?

[2018-01-26 19:20] jgaskins commented on #152
Absolutely

[2018-01-26 21:47] arei commented on #140
Actually I need a postponement... sorry. My wife is in the hospital and recovery is going to take a few months with a lot of hands on care.

[2018-01-27 01:30] jasonrhodes commented on #140
Sorry, @arei — best wishes.

[2018-01-27 22:21] merlinpatt commented on #147
Unfortunately I won't be free on the 7th. The earliest I can give the talk is April 4th

[2018-01-27 23:15] jasonrhodes commented on #140
Gonna close to avoid repeat intrusions -- feel free to re-open if/when you want to do this again.

[2018-01-27 23:15] #140 closed

[2018-01-27 23:16] jasonrhodes commented on #147
Ah ok, I'll close for now and you re-open when you're available for consideration again, if you don't mind. Thanks!

[2018-01-27 23:16] #147 closed

[2018-01-27 23:27] arei commented on #140
That’s fair.  Sorry about this, I really wanted to do it.  It you know.. life...

[2018-01-29 16:28] lamroger opened #153 "Transcribing Lectures with GCP Speech API and Serverless"
**Your name:** Roger Lam

**Your talk idea, described briefly:** My partner attends JHU and tends to skip lectures. To help with catching up with 10 hours of lectures before a midterm, I transcribed lectures using GCP Speech API and automated most of it with Serverless.

**Do you consent to having your talk recorded*, if we choose to do so?:** Yes

**Short talk title (optional):** Transcribing Lec

[2018-01-30 13:48] jasonrhodes commented on #153
This sounds great, @lamroger are you available to do this for Feb 7?

[2018-01-30 14:03] lamroger commented on #153
Yea! Let's do it!
On Tue, Jan 30, 2018 at 8:48 AM Jason Rhodes <notifications@github.com>
wrote:

[2018-02-01 02:54] jasonrhodes commented on #153
Perfect! I'll ping you in Slack with more details. :)

[2018-02-06 21:36] pgrant1 opened #154 "Diversity Hiring"
Patrick Grant

Present diversity hiring for the future, how technology is creating new opportunities for people with disabilities.  Autism and coding.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes
**Short talk title (optional):**

**CCJS Slack username:**
Patrick Grant
_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you

[2018-02-15 21:47] joromewarner opened #155 "How to Create An Automated Data Extraction Tool"
**Your name:** Jorome Warner

**Your talk idea, described briefly:**   A talk geared toward new people like myself learning how to program. I built a web performance metric script, that collects data for each Url being tested.

**Do you consent to having your talk recorded*, if we choose to do so?:**  Sure

**Short talk title (optional):**

**CCJS Slack username:** Jorome

_If you're not a member

[2018-02-22 14:27] oliikit commented on #150
Thanks for giving the talk!

[2018-02-22 14:27] #150 closed

[2018-02-22 14:27] oliikit commented on #152
Thanks for giving the talk!

[2018-02-22 14:27] #152 closed

[2018-02-22 14:28] oliikit commented on #153
Thanks for giving the talk!

[2018-02-22 14:28] #153 closed

[2018-02-23 16:33] oliikit commented on #149
Hey @jgzamora! Would you like to present next Wednesday, March 7th?

[2018-02-23 16:34] oliikit commented on #155
Hey @joromewarner! Excited to hear you have a beginner-friendly talk. Would you like to present on our March meetup on the 7th?

[2018-02-23 16:36] oliikit commented on #146
Hey @vand1, just following up here. We'd like to schedule you in to talk soon, but we would just like to have some clarification on your talk. If you have slides or an outline available, can you post them here or email it to charmcityjs@gmail.com? Thanks! Look forward in hearing from you!

[2018-02-23 16:38] oliikit commented on #134
Hey @inunotaisho26, just following up on @jasonrhodes request. We'd love to get in the schedule rotation, would you mind sending us over the talk outline either on here, Slack, or email (charmcityjs@gmail.com)? If you send it through email, just let us know so we can check that inbox. Thanks!

[2018-02-23 19:34] jgzamora commented on #146
@vand1 We're closing this submission due to unresponsiveness. Please feel free to re-submit sometime later. Also, if it is your son who is giving the talk, please have him submit instead. Thank you

[2018-02-23 19:34] #146 closed

[2018-02-23 19:35] jgzamora commented on #149
Sure thing!

[2018-02-23 19:43] dvandusen commented on #146
An email with a presentation was sent to charmcityjs@gmail.com on 1/29/18 10:30 AM.  Please confirm that the email was seen.

[2018-02-24 15:52] joromewarner commented on #155
Yes, I'll present. I look forward for the opportunity and thank you.

On Fri, Feb 23, 2018 at 11:34 AM, Olivia Brundage <notifications@github.com>
wrote:

[2018-02-26 15:22] inunotaisho26 commented on #134
@jasonrhodes @oliikit Sorry for taking so long to get back to you. I would like to have a back and forth before I started on the talk. I probably need someone to bounce ideas off of so I have a clearer plan in place.

[2018-03-01 15:43] oliikit commented on #154
@pgrant1 Hey, we would love to include you in one of our meetups. However, I do have some questions. What technology are you particularly going to present on? Are you going to talk about the current problems with hiring disabilities (like statistics on diversity hiring)?
It would be great to bring more awareness to this topic.

[2018-03-01 16:37] pgrant1 commented on #154
Hi Olivia,

I would present on the team of Autistic developers that I work with who are
performing software testing for BOSE.  My presentation would center around
diversity hiring and where people with disabilities are making great
strides in development, coding, testing, and analytics. Everyone has
special abilities.

-Patrick

[image: photo]
Patrick Grant
President, A6 STAFFING
<http://www.linke

[2018-03-01 18:36] oliikit commented on #154
Sounds great @pgrant1! Would you like to present next Wednesday, March 7th?

[2018-03-03 01:56] pgrant1 commented on #154
That would be wonderful, count me in. What are the logistics? Amount of
time, size of audience?

-Patrick

On Mar 1, 2018 1:36 PM, "Olivia Brundage" <notifications@github.com> wrote:

Sounds great @pgrant1 <https://github.com/pgrant1>! Would you like to
present next Wednesday, March 7th?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://

[2018-03-04 23:09] oliikit commented on #154
Wonderful! We typically have about 50-60 people come. You can find a list of attendees here: https://www.meetup.com/charmcityjs/events/lbvzgpyxfbkb/
You'll be second, so expect to speak around 8 PM. The meetup starts at 7:30, but please arrive around 7 to test out your computer. Please have all your slide material locally on your computer as the WiFi can be unreliable.

[2018-03-05 00:43] joellord opened #156 "WTH is a JWT"
**Name**: Joel Lord
**Abstract**:
Chances are your shiny new single page web application will need authentication. And probably some some security and resource access control. But how to integrate all of that with your API? How can you ensure that your users only have access to the resources they are authorized to visualize and that they can’t view secure sections by hacking their way in through t

[2018-03-07 14:08] pgrant1 commented on #154
Good morning,

Do you provide food and drinks this evening? If so, I would like to sponsor.

-Patrick

On Mar 4, 2018 6:09 PM, "Olivia Brundage" <notifications@github.com> wrote:

[2018-03-07 17:30] oliikit commented on #154
Hi @pgrant1 we do provide food and drinks for the event. If you would like to sponsor for a future event, you can send us an email at charmcityjs@gmail.com.

[2018-03-08 00:58] javastl opened #157 "Blockchain is not Bitcoin - More"
Peter Treese

What does Blockchain provide to the industry? Which API are you talking about
Ethereum, EOS, Hyberledger
You can record if the talk turns out

Hyperledger fabric
What qualities of Blockchain are you needing
Public/Private
What is in your block of data?
What is consensus?
Do you need to mine a token all the time?

Slack ID ptreese

_If you're not a member of CCJS slack, sign up here s

[2018-03-08 18:51] oliikit commented on #154
Thanks for giving a great talk @pgrant1! 🙇‍♀️

[2018-03-08 18:51] #154 closed

[2018-03-08 18:51] oliikit commented on #155
Thanks for giving a great talk @joromewarner! 🙇‍♀️

[2018-03-08 18:51] #155 closed

[2018-03-08 18:52] oliikit commented on #149
Thanks for giving a great talk @jgzamora! 🙇‍♀️

[2018-03-08 18:52] #149 closed

[2018-03-08 18:53] oliikit commented on #156
@joellord Thanks for submitting your talk! Are you wanting to give this talk in May, correct?

[2018-03-08 19:54] joellord commented on #156
Yes, in May.  I will be there on the week of the 7th.

On Thu, Mar 8, 2018, 1:53 PM Olivia Brundage, <notifications@github.com>
wrote:

[2018-03-10 02:27] nikzb opened #158 "Talk Proposal: A Visual Approach to Learning JS"
**Name:** Nik Baltatzis

**Talk:** A Visual Approach to Learning JS: I will show how to use an online tool for visualizing code execution ("Python Tutor", which is not just for Python, it has JS amongst several other languages) and highlight how it helps people understand what exactly is going on as the code executes line by line. I will probably show some basic examples, and then a few examples o

[2018-03-13 13:14] joellord commented on #156
I originally said I would be there on the week of the 7 but things changed and I will be there on the 2nd.  Which, from what I got, is the day the meetup was planned so all is good I guess.

[2018-03-14 14:38] pgrant1 commented on #154
Thank you for having me, it was a fun night.  Please let me know when the
site is up and I will sponsor the next meetup.

-Patrick

[image: photo]
Patrick Grant
President, A6 STAFFING
<http://www.linkedin.com/in/patrick-grant-17343539/>
<http://twitter.com/pgrant2311>
  703-382-6196
  315-730-2348
  pgrant@a6staffing.com
  www.a6staffing.com
  1775 Tysons Blvd, 5th Floor Tysons, VA 22102
<http://w

[2018-03-22 16:02] naterkane opened #159 "You smell and you probably don't even know it. Linting for quality"
**Your name:**

Nater Kane

**Your talk idea, described briefly:**

Code style is opinionated, but quality and security aren't. How to lint issues other than tabs or semicolons

**Do you consent to having your talk recorded*, if we choose to do so?:**

Of course, I'll probably record it myself

**Short talk title (optional):**

You smell and you probably don't even know it. Linting for quality

**

[2018-03-24 17:07] clickclickonsal commented on #157
Hey Peter this sounds exciting. Are you available to do this for April 4th?

[2018-03-24 17:16] clickclickonsal commented on #158
Hey Nik this sounds super cool. As for time length of this talk it's up to you. We're fine with either 10 or 15. 😄  Are you available to do this for April 4th?

[2018-03-24 18:44] javastl commented on #157
Yes. have 36-page document that I have writing for as an Introduction to Blockchain.  I have get it down to a 7 page slide set to keep for the 15 min talk

[2018-03-25 00:54] nikzb commented on #158
@clickclickonsal Hey Sal: In that case, I will probably be close to 15 minutes and try not to go over. April 4th is good. I am trying to make the talk title more fun. Maybe something like "I see you JS! A visual approach to understanding code", or is that too long now?

[2018-03-25 02:24] clickclickonsal commented on #157
Awesome I'll book you for April 4th. 👍
And Oh my. 😅 I think if you focus on touching the topics you mentioned above at a high level you can keep it under 15 mins.

[2018-03-25 02:30] clickclickonsal commented on #158
Awesome. You're all booked for April. 😄 Haha & I like the new title. I don't think it's to long. 👍

[2018-03-27 05:21] eli0shin opened #160 "Javascript is rockstar ninja tech"
**Your name:**
Eli Oshinsky

**Your talk idea, described briefly:**
How Javascript (specifically the event loop and execution stack) works under the hood, and why this model allows for building amazing UI experiences

**Do you consent to having your talk recorded*, if we choose to do so?:**
yes

**Short talk title (optional):**
Javascript is rockstar ninja tech

**CCJS Slack username:**
eli0shin

[2018-04-03 13:47] jasonrhodes opened #161 "What’s New with React, 2018 Edition"
**Your name:**
Jason

**Your talk idea, described briefly:** Describing what’s new in React lately, what’s on the horizon, and why I am very glad we chose it at SparkPost

**Do you consent to having your talk recorded*, if we choose to do so?:**
ha sure

**Short talk title (optional):**
What’s New with React, 2018 Edition

**CCJS Slack username:**
rhodes.json

_If you're not a member of CCJS slack

[2018-04-05 14:30] clickclickonsal commented on #157
Thank you for giving a talk @javastl!

[2018-04-05 14:30] #157 closed

[2018-04-05 14:30] clickclickonsal commented on #158
Thank you for giving this talk @nikzb!

[2018-04-05 14:30] #158 closed

[2018-04-05 14:32] clickclickonsal commented on #161
componentWillUnmount () {
  console.log('Thanks for giving this talk @jasonrhodes!!');
}

[2018-04-05 14:32] #161 closed

[2018-04-07 18:48] aspittel opened #162 "Augmented reality in JavaScript"
**Your name:**
Ali Spittel

**Your talk idea, described briefly:**
Augmented reality is becoming more popular for both its artistic and business applications. This talk will explore the frameworks and tools that make AR more developer friendly, including adding live masks to a webcam image in 47 lines of JavaScript!

Full Description (https://github.com/aspittel/cfps/blob/master/facial-recognition

[2018-04-08 16:43] jasonrhodes commented on #162
Thanks for submitting! See you in May -- we'll reach out in Slack to give you more details/answer any questions (but free free to reach out here if you need to).

[2018-04-08 16:45] jasonrhodes commented on #134
Sounds good, let's chat in Slack sometime this month and see what kind of plan we can come up with. For now I'll close this and we can re-open or start a new issue depending on the path we decide to take. Thanks!!

[2018-04-08 16:45] #134 closed

[2018-04-17 02:12] jasonrhodes commented on #160
Hey @eli0shin thanks for submitting! Can you say a little more about how this title relates to your talk?

[2018-04-18 20:53] KDBDEV opened #163 "Not so static sites with Gatsby and JAM stack"
**Your name:**
Ken Brantley
**Your talk idea, described briefly:**
How React based static site generator Gatsby along with the JAM stack architecture combines the speed of a static site while retaining many important features commonly missing from more traditional static sites.
**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes
**Short talk title (optional):**
Not so sta

[2018-04-22 20:51] jasonrhodes commented on #160
@eli0shin gotcha. I think the name will drive away a bunch of folks who have negative connotations with that kind of "tech-bro" style of talking about our industry. If we can rename, I think the talk sounds interesting. If you're good with that, are you ok to give this for our May event?

[2018-04-23 15:09] eli0shin commented on #160
I understand your concern and will change the title. That being said I will
be available to give it at the May Meetup.

On Sun, Apr 22, 2018, 4:51 PM Jason Rhodes <notifications@github.com> wrote:

--

Eli Oshinsky
elimelech.oshinsky@gmail.com
(215) 915-6006

[2018-04-28 12:48] hyeinu commented on #160
Hi Eli! Could we have the new name for your talk so we can introduce it properly at the May meetup?

[2018-04-28 19:31] eli0shin commented on #160
Let's go with: What even is 'this' event loop? Concurrency in a single threaded runtime.

[2018-05-13 17:03] SamuelLJackson opened #164 "Talk Idea: GraphQL in a nutshell - (Sam Everett, I've been to a few meetings)"
Sam Everett

The basics of GraphQL, aka the motivation behind development, and a view from server/client side.

You can record me that's fine

GraphQL In a Nutshell

CCJS slack username: 'Sam'

Length: 15 minutes
[graphql_charm_city_js_slides.pdf](https://github.com/charmCityJs/talks/files/1998698/graphql_charm_city_js_slides.pdf)

[2018-05-22 17:16] CarringtonCreative opened #165 ""So your a generalist?" ... "Well no. I prefer the term polymath.""
**Your name:**
Carrington Dennis

**Your talk idea, described briefly:**
Why all developers should become polymaths.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk title (optional):**

**CCJS Slack username:**
Carrington

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.he

[2018-05-23 19:28] clickclickonsal commented on #165
Thanks for submitting @CarringtonCreative! 😄 Wanna give this talk for our next meetup, June 6th?

[2018-05-23 19:31] clickclickonsal commented on #164
Hey @SamuelLJackson, thanks for submitting a talk. Are you available to give this talk at our next meet-up, on June 6th?

[2018-05-23 19:32] clickclickonsal commented on #163
Hey @KDBDEV , thanks for submitting a talk. Are you available to give this talk at our next meet-up, on June 6th?

[2018-05-24 03:44] SamuelLJackson commented on #164
Totally!

Sent from my iPhone

[2018-05-25 12:44] clickclickonsal commented on #164
Awesome! I got you on the Docket for June!

[2018-05-25 20:26] SamuelLJackson commented on #164
Can’t wait!

Sent from my iPhone

[2018-05-28 15:31] naterkane commented on #159
Totally

[2018-05-29 02:57] clickclickonsal commented on #159
Awesome! I got you on the books for June!

[2018-05-29 02:58] naterkane commented on #159
See you then

On Mon, May 28, 2018, 10:57 PM Salvador Hernandez <notifications@github.com>
wrote:

[2018-06-04 17:35] Bridenstine opened #166 "Apache Airflow + AWS + Python"
**Your name:**
Kyle Bridenstine

**Your talk idea, described briefly:**
Apache Airflow (Airflow is a platform to programmatically author, schedule and monitor workflows). I'm going to introduce Apache Airflow and what it can do then I'll give a demo using AWS S3, AWS EC2-Instance, Airflow, and Python!

**Do you consent to having your talk recorded*, if we choose to do so?:**
Absolutely.

**Short t

[2018-06-04 17:36] Bridenstine commented on #166
If you still need a third speaker for this Wednesday, June 6th I can present on Apache Airflow + AWS + Python.

[2018-06-04 17:39] clickclickonsal commented on #166
Awesome!  😄 You're all set! See you this Wednesday!

[2018-07-06 21:57] RamiroIsBack opened #167 "full-stack architecture for good performance of a mobile app"
**Your name:**
Ramiro Santamaria

**Your talk idea, described briefly:**
A talk about why I chose an specific stack for the mobile app I'm putting together.
Comparing briefly the options and talking a bit about what it feels like working with those different tools.
React-native on the front end, Express+GraphQL on the backend and mongoDB for storing data.

**Do you consent to having your talk reco

[2018-07-13 11:52] RamiroIsBack commented on #167
I just realized I won't be able to talk about the full stack within the 15 minutes, I'll probably present an overview of the project and just getting more into detail about the front end part

[2018-07-20 17:22] esauter5 commented on #163
@KDBDEV Following up on this, would you like to present at the next meetup on Wednesday, August 1?

[2018-07-24 17:14] ppcint opened #168 "Using jest-image-snapshot for monitoring"
**Your name:**
James Starmer

**Your talk idea, described briefly:**
Overview / code walkthrough of a tool I wrote that uses jest-image-snapshot to monitor how banner ads are rendered. Other stuff used: GCP, Docker, Puppeteer and Jest

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk title (optional):**
Using jest-image-snapshot for monitoring

**CCJS Sla

[2018-07-24 17:17] #168 closed

[2018-07-24 17:18] starmer opened #169 "Using jest-image-snapshot for monitoring"
**Your name:**
James Starmer

**Your talk idea, described briefly:**
Overview / code walkthrough of a tool I wrote that uses jest-image-snapshot to monitor how banner ads are rendered. Other stuff used: GCP, Docker, Puppeteer and Jest

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk title (optional):**
Using jest-image-snapshot for monitoring

**CCJS Sla

[2018-07-24 17:44] starmer commented on #168
Sorry, opened this with the wrong github account 😜

[2018-07-25 16:34] esauter5 commented on #167
Hey @ramiroisback, can you give us a little more detail as to what your talk will cover?

[2018-07-25 16:35] esauter5 commented on #165
Hey @carringtoncreative, could you give us a little more detail on your talk so we can figure out how it might fit in with our other talks?

[2018-07-25 16:46] RamiroIsBack commented on #167
sure,
explanation about the options to build a mobile app in JavaScript (front-end) and why I chose React-native for it. _(50% of the talk)_
quick overview about how to build a back-end with an express server in NodeJs to connect with the React-Native app through GraphQL  _(50% of the talk)_

[2018-07-25 23:03] CarringtonCreative commented on #165
Sure, I'll be talking about learning the different facets of software
development.

On Wed, Jul 25, 2018 at 12:35 PM, Eric Sauter <notifications@github.com>
wrote:

[2018-07-25 23:04] CarringtonCreative commented on #165
Does that help?

On Wed, Jul 25, 2018 at 7:03 PM, Carrington Dennis <carrdenn3@gmail.com>
wrote:

[2018-07-26 17:56] esauter5 commented on #165
@CarringtonCreative Sounds good. Would you like to talk next Wednesday??

[2018-07-26 18:30] CarringtonCreative commented on #165
Yes, I'm excited to.

On Thu, Jul 26, 2018 at 1:56 PM, Eric Sauter <notifications@github.com>
wrote:

[2018-07-26 19:37] esauter5 commented on #165
Perfect! Can't wait.

[2018-07-30 15:13] RamiroIsBack commented on #167
hi there @esauter5
do you need more detail about the talk? I would need to work a bit on it today and tomorrow after work if I am to present it on Wednesday.

[2018-07-30 16:34] esauter5 commented on #167
@RamiroIsBack Sorry for the delay. This sounds great. Let's plan on giving this Wednesday!

[2018-07-30 18:00] RamiroIsBack commented on #167
no worries @esauter5 , I still have time :)
I'm excited!
Lets do the talk on wednesday!

[2018-08-10 16:13] #167 closed

[2018-08-10 16:13] #165 closed

[2018-08-13 20:56] esauter5 commented on #163
@KDBDEV Wanted to follow up. I believe at the meetup you said you'd like to give this talk next month at the September 5 meetup. Would you still like to do this?

[2018-08-15 01:02] KDBDEV commented on #163
Yes! I'm available to give the talk at the September meetup

[2018-08-16 21:48] clickclickonsal commented on #169
Hey @starmer would you be willing to give this talk for our next meet-up(September 5th)?

[2018-08-16 23:32] starmer commented on #169
Unfortunately, that won't work for me. Please keep me in mind for another time though. Thanks!

[2018-08-28 22:07] eli0shin opened #170 "Why the new React Context API didn't kill redux - Event driven React"
**Your name:**
Eli Oshinsky

**Your talk idea, described briefly:**
I have heard a lot of talk recently about how the stable React Context API will render Redux useless. While this may be true for developers who simply use Redux as a global state store, I want to present an event-driven pattern that I have been using in redux for a while. This talk will include an introduction to writing custom mi

[2018-08-30 17:41] eli0shin commented on #170
@clickclickonsal September 5th is perfect

[2018-09-02 05:13] DJFalcon23 opened #171 "Youth Mentorship"
**Your name:**
Derek Fields

**Your talk idea, described briefly:**
Up coming opportunities for youth mentorship

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk title (optional):**
Youth Mentorship

**CCJS Slack username:**
DJFalcon23

**Twitter username (optional):**
DJFalcon23

**Length: (1-15 min please):**
8 -10 minutes

\*Note: recordings, if made,

[2018-09-06 02:25] CodeByAlex opened #172 "Developing sites for User Inclusivity: a talk about web accessibility"
**Your name: Alex Wilson

**Your talk idea, described briefly: Talk about web accessibility: a brief history, how it impacts us as developers and tools we can use to help improve site inclusivity.

**Do you consent to having your talk recorded*, if we choose to do so?:  Yes

**Short talk title (optional):**

**CCJS Slack username: alex.wilson

_If you're not a member of CCJS slack, sign up here so

[2018-09-06 15:44] sparkysmitty opened #173 "Screen scraping etc with Puppeteer and Node"
**Your name:**
Dave Smith

**Your talk idea, described briefly:**
Intro to Puppeteer, basic concepts, screen scraping, whatever there is time for.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Sure, just get my good side ;-)

**Short talk title (optional):**
Screen scraping etc with Puppeteer (w/headless Chrome) and Node

**CCJS Slack username:**
U5TG1JRR6

**Length: (

[2018-09-21 12:59] #163 closed

[2018-09-21 13:00] #170 closed

[2018-09-21 13:00] #171 closed

[2018-09-21 13:02] oliikit commented on #169
Hey @starmer, would you want to give the talk at our next meetup on October 3rd?

[2018-09-21 13:04] oliikit commented on #172
Hey @CodeByAlex, would you want to give the talk at our next meetup on October 3rd?

[2018-09-21 13:07] oliikit commented on #173
Hey @sparkysmitty, would you want to give the talk at our next meetup on October 3rd?  We potentially have two other speakers with 15 minute talks. Would yours be able to be 15 minutes?

[2018-09-22 11:50] CodeByAlex commented on #172
Hey Olivia, I would be happy to present at the next meetup on October 3rd.

[2018-09-23 23:37] starmer commented on #169
Yeah, that would be great.

[2018-09-24 11:50] sparkysmitty commented on #173
Absolutely.  Let me know if there are any other requirements.  Thanks.

[2018-09-26 15:03] oliikit commented on #169
@starmer 👍Great! Got you scheduled!

[2018-09-26 15:04] oliikit commented on #172
@CodeByAlex awesome! I got you scheduled.

[2018-09-26 15:05] oliikit commented on #173
@sparkysmitty great! I got you scheduled!

[2018-10-05 13:20] starmer opened #174 "enzyme vs react-testing-library"
**Your name:**
James Starmer

**Your talk idea, described briefly:**
Compare and contrast react-testing-library and enzyme. Also a brief intro to testing front-end components.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes.

**Short talk title (optional):**
react-testing-library vs enzyme

**CCJS Slack username:**
@starmer

**Twitter username (optional):**
@starmer

[2018-10-05 13:23] starmer opened #175 "How my team interviews"
**Your name:**
James Starmer

**Your talk idea, described briefly:**
Explain the interview process that we're currently using on my team. How we use codesandbox.io for take home exercises and for live coding.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk title (optional):**
How my team interviews

**CCJS Slack username:**
@starmer

**Twitter username

[2018-10-20 00:09] Vlad999999 opened #176 "Intro to Smalltalk"
**Your name:**
Vlad Degen.
Talk will be by Arden Thomas, Cincom Smalltalk Product Manager

**Your talk idea, described briefly:**
•	A brief introduction to Smalltalk and the benefits of knowing where OO languages began.
•	Includes the principles of the language, and the benefits of a modern Smalltalk implementation.
•	How knowing Smalltalk can enhance your skills for any OO language
•	Base for Jav

[2018-10-20 00:17] Vlad999999 opened #177 "An introduction to the AppeX Development Environment"
**Your name:**
Vlad Degen

**Your talk idea, described briefly:**
•	An introduction to the AppeX Development Environment:
•	A way of developing, debugging and managing JavaScript and HTML code (and external libraries)
•	Some fun with automating JavaScript applications for the purpose of functional testing.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk

[2018-10-29 22:26] #172 closed, assigned to nobody

[2018-11-08 19:46] JenniferJonesCodes opened #178 "Time Complexity"
**Your name**: Jen Jones

**Your talk idea, described briefly:**
Introduction to Time Complexity
-Asymptotic notation
-Basic algorithms

**Do you consent to having your talk recorded**, if we choose to do so?: Yes

**Short talk title (optional):**An Introduction to Time Complexity and Why You Should Care About It

**CCJS Slack username:** Jen Jones

_If you're not a member of CCJS slack, sign up h

[2018-11-20 01:56] clickclickonsal commented on #176
Hey @Vlad999999 Thanks for submitting! Would you like to give this talk at our next meetup?

[2018-11-20 01:56] clickclickonsal commented on #177
Hey @Vlad999999 Thanks for submitting! Would you like to give this talk at our next meetup?

[2018-11-20 01:58] clickclickonsal commented on #178
Hey @JenniferJonesCodes ! Thanks for submitting! Sounds like a cool talk! Would you like to give this talk at our next meetup  on December 5th?

[2018-11-20 03:19] eli0shin opened #179 "When things don't go quite right..."
**Your name:**
Eli Oshinsky

**Your talk idea, described briefly:**
Logging on the server is typically done by appending lines to a file, which can be read later. But this isn't as easy on the client side. This talk is a brief look into techniques and services that allow you to better understand when and where things went wrong for your users.

**Do you consent to having your talk recorded*, if we

[2018-11-20 14:52] Vlad999999 commented on #177
Hi Sal,
    Yes I would!  Since there is one talk that  introduces Smalltalk, and a then this one that introduces AppeX, (the web application builder written in Smalltalk), naturally we'd like to give both talks back to back.

[2018-11-20 21:43] sparkysmitty commented on #179
Awesome!

[2018-11-24 20:04] clickclickonsal commented on #177
Is it possible if one can be given in December & the next one be given in January? I'm lining up 2 other people for our December meetup.

[2018-11-24 20:05] clickclickonsal commented on #178
Awesome! I'll add you in for the December lineup! 😄

[2018-11-26 13:59] lchasen opened #180 "Mobile Device Attribute Validation"
**Your name:**
Les Chasen

**Your talk idea, described briefly:**
Proving Something to Somebody in a Decentralized manner with Security, Privacy, and Truth with Mobile Device Attribute Validation (MDAV). MDAV is a React Native app that uses PKI in creative ways to create validated attribute certificates that can then be shared peer-to-peer with another person, no intermediaries. This talk will dis

[2018-11-26 17:48] Vlad999999 commented on #177
Pushing out the date would be fine, with both of us together still preferred.  Would February work?

[2018-12-03 14:01] esauter5 commented on #179
@eli0shin Are you available to give this talk on Wednesday? We had to push one of our talks back to a future month.

[2018-12-03 14:55] eli0shin commented on #179
Sure! That works for me.

[2018-12-05 04:08] Jesse-Kerr opened #181 "Mapping of the best places to run in Baltimore using R and Javascript"
**Your name:**
Jesse Kerr
**Your talk idea, described briefly:**
Mapping of the best places to run in Baltimore using R and Javascript
**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes
**Short talk title (optional):**
Mapping Bmore's Best Routes
**CCJS Slack username:**
Jesse Kerr
_If you're not a member of CCJS slack, sign up here so we can communicate about your talk,

[2018-12-05 19:46] stewblack23 opened #182 "Talk: Overview of advanced website theme building with concrete5 cms"
**Wayne Stewart Owner & Lead Designer/Developer Stewart Design Agency**

**Overview of advanced website theme building with concrete5 content management system**

**Yes. I would like to have this talk recorded is possible **

**CCJS Slack: stewblack23:**

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.com/

[2018-12-05 21:21] sparkysmitty opened #183 "Interactive Presentation Tool -- live demo of prototype"
**Your name:**
Dave Smith

**Your talk idea, described briefly:**
Demo of a *prototype* of a tool to do interactive presentations.  Multiple client types (attendee, presenter, main display) with real-time feedback and control.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yeah

**Short talk title (optional):**
Interactive presentation tool -- for connected community mo

[2018-12-06 00:35] arei opened #184 "Building and Awesome Enterprise API Server"
**Your name:** Glen R. Goodwin

**Your talk idea, described briefly:** An introduction to using thee new libraries from Awesome Engineering to rapidly build any enterprise ready API Server. Specifically will touch upon AwesomeServer, AwesomeLog, and AwesomeConfig, and how the three are used to build out an API server.

**Do you consent to having your talk recorded*, if we choose to do so?:** Yes

[2018-12-06 00:55] circleofconfusion opened #185 "Introduction to Web Components (no frameworks)"
**Your name:**
Shane Knudsen

**Your talk idea, described briefly:**
An overview of custom elements, shadow DOM, and HTML templates. Some practical tips on getting started with native Web Components. A demo web application that illustrates how components are composed and communicate with each other.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk title

[2018-12-19 02:00] CodeByAlex opened #186 "Keep in Touch with EmailJS"
**Your name:**
Alex Wilson

**Your talk idea, described briefly:**
Why and how you can send emails from client-side Javascript by way of email templating and REST calls made to EmailJS

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk title (optional):**
Keep in Touch with EmailJS

**CCJS Slack username:**
CodeByAlex

_If you're not a member of CCJS slack

[2018-12-26 21:13] CodeByAlex opened #187 "Shortening the Feedback Loop with StorybookJS"
**Your name:**
Alex Wilson

**Your talk idea, described briefly:**
How using StorybookJS can allow you to develop and see your changes immediately in a demo environment, share the Master demo with the members on your team, and ultimately shorten the feedback loop between the developers and other parts of the business. I will go over the features of Storybook that make it much more than a demo but

[2018-12-27 01:12] clickclickonsal commented on #180
Thanks for given this talk!

[2018-12-27 01:12] #180 closed

[2018-12-27 01:14] clickclickonsal commented on #178
Thanks for giving this talk! 🙏

[2018-12-27 01:14] #178 closed

[2019-01-03 20:18] esauter5 commented on #179
@eli0shin Are we still good for next Wednesday?

[2019-01-03 20:18] esauter5 commented on #185
@circleofconfusion Are you available to give this talk next Wednesday, January 9?

[2019-01-03 20:19] esauter5 commented on #181
@Jesse-Kerr Would you like to give this talk next Wednesday, January 9?

[2019-01-04 16:51] circleofconfusion commented on #185
I'm not fully ready to give this talk. I can do a weekend deathmarch if necessary, but if you've got other talks available, that's probably the safest approach. I'll be ready for February if you definitely want to hear the talk.

[2019-01-04 17:05] esauter5 commented on #185
@circleofconfusion That's fine. Let's put you on the schedule for February

[2019-01-04 17:06] esauter5 commented on #174
@starmer Are you available to give this talk next Wednesday?

[2019-01-04 17:21] circleofconfusion commented on #185
Excellent. I'll have the talk ready for 2019-02-06.

[2019-01-04 18:43] starmer commented on #174
Yes!

[2019-01-04 21:21] esauter5 commented on #174
Great! You're on the schedule!

[2019-01-06 20:41] eli0shin commented on #179
@esauter5 yes I am!

[2019-01-07 14:12] oliikit commented on #186
@CodeByAlex Are you available to give this talk this Wednesday, January 9th?

[2019-01-07 16:31] CodeByAlex commented on #186
Hey Olivia, I can give this talk on Wednesday

[2019-01-07 16:47] oliikit commented on #186
Awesome! We got you scheduled.

[2019-01-15 00:37] chrisuehlinger opened #188 "Using Web Sockets, WebGL and WebRTC to make projections for Theatre"
**Your name:** Chris Uehlinger

**Your talk idea, described briefly:** The past few months I’ve done projection work for Haute Patooties’ production of *The Rocky Horror Show* and Rapid Lemon’s production of *Thank You, Dad*. I built a lot of my effects (including live video feeds of the stage, videos synced to live music and projections targeting 3 projectors at once) using JavaScript. I’d like t

[2019-01-19 06:37] lamroger opened #189 "How to Quickly Learn and Adapt to a New Work Environment"
Roger Lam

Originally designed for an audience of mostly college student, I will share stories from past experiences to help newer engineers navigate a new work environment and provide another perspective to more seasoned engineers. Laugh, learn, and open up to sharing our own collective experience in the weird world of software engineering.

**Do you consent to having your talk recorded*, if we c

[2019-01-19 06:38] lamroger commented on #189
Avail Feb too.

[2019-01-21 22:11] oliikit commented on #186
Thanks for the talk @CodeByAlex!

[2019-01-21 22:11] #186 closed

[2019-01-21 22:12] oliikit commented on #174
Thanks for the talk, @starmer!

[2019-01-21 22:12] #174 closed

[2019-01-21 22:12] oliikit commented on #179
Thanks for the talk, @eli0shin!

[2019-01-21 22:12] #179 closed

[2019-01-21 22:13] oliikit commented on #188
Little birdy told me you would like to give this talk in February, is that correct @chrisuehlinger?

[2019-01-21 22:15] oliikit commented on #177
@Vlad999999 we do have an opening for February. Would you like to take it? 😄

[2019-01-22 16:59] Vlad999999 commented on #177
Just one of the talks or both?

[2019-01-22 19:49] chrisuehlinger commented on #188
That’s correct!

[2019-01-22 19:51] oliikit commented on #185
@circleofconfusion Are you still good for February?

[2019-01-23 13:56] circleofconfusion commented on #185
Yep!

[2019-01-25 17:55] oliikit commented on #177
@Vlad999999 hmm... we already have two talks planned already for February. We typically do 3 talks a month.

Seeing as they go back and forth, would you be able to do them side-by-side in 20 minutes?

[2019-01-29 21:34] oliikit commented on #177
Hey @Vlad999999 - following up here, would you all be able to do the two talks in about 20ish minutes?

[2019-01-29 21:43] Vlad999999 commented on #177
Hi @oliikit,
     February is not longer an option for us.  I'm currently checking on March.

[2019-01-29 23:02] oliikit commented on #181
@Jesse-Kerr Would you be interested in doing this talk on February 6th?

[2019-01-31 15:09] sparkysmitty opened #190 "Debounce for Beginners"
**Your name:**
Dave Smith

**Your talk idea, described briefly:**
Intro to the concept of debouncing.  By a beginner, for beginners.  10 minutes.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Let me know if I need to comb my hair first, please.

**Short talk title (optional):**
Debounce for Beginners

**CCJS Slack username:**
sparky

_If you're not a member of CCJS sla

[2019-02-04 14:53] oliikit commented on #184
We are a good to go for February! 🎉

[2019-02-07 15:07] oliikit commented on #184
Awesome talk on some aweseome engineering. Thanks again @arei!

[2019-02-07 15:07] #184 closed

[2019-02-07 15:08] oliikit commented on #185
@circleofconfusion great talk last night! Thanks again!

[2019-02-07 15:08] #185 closed

[2019-02-07 15:08] oliikit commented on #188
@chrisuehlinger awesome talk last night! It inspired so many people to build things. 😍

[2019-02-07 15:08] #188 closed

[2019-02-07 15:09] oliikit commented on #177
@Vlad999999 let me know if you would like to do the two talks on March 6th. We could do like 20-30 minutes for both.

[2019-02-07 20:51] Vlad999999 commented on #177
You mean around 15 minutes each, and 30 minutes maximum total?

[2019-02-07 21:07] oliikit commented on #177
Yup! Would that be more feasible?

[2019-02-08 15:00] Vlad999999 commented on #177
Sounds good!

[2019-02-11 17:33] Vlad999999 commented on #177
Confirmed for March 6 then?

[2019-02-18 18:10] Vlad999999 commented on #177
Hi Olivia, could you confirm March 6 for Arden and myself to talk?

[2019-02-18 18:19] oliikit commented on #177
Yup @Vlad999999! Confirmed for March.

[2019-02-18 18:22] Vlad999999 commented on #177
Great, thanks!

[2019-02-21 21:26] arei opened #191 "Building Web Components with ZephJS"
**Your name:** Glen R. Goodwin

**Your talk idea, described briefly:** An introduction to a new library ultra-lightweight library for building Web Components that are fast, easy to understand and read, and 100% standards compliant. This talk will serve as an introduction to the library and we will live code an example Web Component together.

**Do you consent to having your talk recorded*, if we c

[2019-02-23 11:54] git-masi opened #192 "Learn Coding With Spaced Repetition Systems"
**Your name:**
Eric Masi

**Your talk idea, described briefly:**
How to use an SRS to help learn coding (and many other subjects). I'll show spaced repetition systems in action and discuss some of the ways I've used it to bolster my memory. Useful for beginners, experts, and everyone in between.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes.

**Short talk title (op

[2019-02-25 16:27] esauter5 commented on #181
@Jesse-Kerr We have a spot open on March 6. Any interest? If I don't hear back from you, I'm going to close this for the time being until you're free.

[2019-02-25 20:57] cixel opened #193 "Playing with Proxy"
**Your name:**
Ehden Sinai

**Your talk idea, described briefly:**
The [Proxy](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Proxy) object, added in ES6, adds new ways to intercept and change the way an object behaves. There are a number of really interesting and useful applications for this, but I want to focus on the useless, zany, and mind-bending possibilities P

[2019-02-25 21:51] esauter5 commented on #193
@cixel Are you available for April?

[2019-02-25 21:54] cixel commented on #193
Yep!

[2019-02-26 16:02] esauter5 commented on #175
@starmer Any interest in giving this talk at our meetup next Monday?

[2019-02-26 16:03] esauter5 commented on #181
@Jesse-Kerr I'm going to close this due to inactivity. Please feel free to re-open once you are available!

[2019-02-26 16:03] #181 closed

[2019-02-26 20:03] starmer commented on #175
Yeah, I'd love to!

[2019-03-04 01:54] cocoa-lead opened #194 "Katalon, Selenium, or Test Automation"
Harold Owen

I am a developer by trade, but for the past three months I have used Katalon Studio professionally to do test automation, and I would be eager to present Selenium or the more general topic of test automation.  Fifteen minutes is tough to present any of these, so I am offering to present one of the three (or a three part series), depending on your preference.

**Do you consent to havin

[2019-03-28 21:08] esauter5 commented on #193
Still good for next Wednesday @cixel?

[2019-03-28 21:09] esauter5 commented on #177
Thanks again for giving this talk!

[2019-03-28 21:09] #177 closed

[2019-03-28 21:09] esauter5 commented on #176
Thanks again for giving this talk!

[2019-03-28 21:09] #176 closed

[2019-03-28 21:10] esauter5 commented on #175
Thanks again for giving this talk!

[2019-03-28 21:10] #175 closed

[2019-03-28 21:10] esauter5 commented on #192
@git-masi Any interest in giving this talk next Wednesday? I think it would be a great change of pace talk that's still applicable to JS!

[2019-03-28 21:12] esauter5 commented on #190
@sparkysmitty Any interest in giving this talk next Wednesday?

[2019-03-29 00:47] git-masi commented on #192
@esauter5 Yes, I'd be happy to give the talk next Wednesday!

[2019-03-29 04:20] cixel commented on #193
Yeah

[2019-03-31 18:41] sparkysmitty commented on #190
On 2019-03-28 17:12, Eric Sauter wrote:

Just saw this.   Absolutely, will do -- sounds great.

[2019-03-31 23:40] cixel commented on #193
Presentation materials will be uploaded [here](https://github.com/cixel/charmcityjs-apr2019) some time before Wednesday.

[2019-04-01 14:41] esauter5 commented on #190
Great. We will see you on Wednesday!

[2019-04-01 14:42] esauter5 commented on #192
@git-masi Perfect! See you on Wednesday!

[2019-04-03 15:27] arei commented on #191
Revised description: An introduction to the ZephJS library. ZephJS is an extremely easy to use, simple to understand, ultra-light framework for defining and using Web Components. ZephJS is perfect for people writing component libraries, teams building applications or sites that just require a few custom components, or projects building whole applications that do not want the gigantic weight of a m

[2019-04-26 14:51] oliikit commented on #190
Thanks for the talk!

[2019-04-26 14:51] #190 closed

[2019-04-26 14:51] oliikit commented on #192
Thanks for the talk!

[2019-04-26 14:51] #192 closed

[2019-04-26 14:52] oliikit commented on #193
Thanks for the talk!

[2019-04-26 14:52] #193 closed

[2019-04-26 14:53] oliikit commented on #189
@lamroger hey! Are you available in May or in June?

[2019-04-26 14:54] oliikit commented on #187
@CodeByAlex hey! Do you availability in May or in June?

[2019-04-29 13:50] oliikit commented on #194
@cocoa-lead Would you be up for talking for May 1st?

[2019-04-29 13:51] oliikit commented on #191
@arei Looks great! Would you be up for talking for May 1st?

[2019-04-29 15:09] arei commented on #191
Yea, I can probably whip something together for Wednesday. I would like the last slot if possible.

[2019-04-29 15:27] oliikit commented on #191
@arei we can do that!

[2019-04-30 17:54] circleofconfusion opened #195 "Introduction to CSS Grid layout"
**Your name:**

Shane Knudsen (pronounced: kuh-NOOT-sen)

**Your talk idea, described briefly:**

Introduction to CSS Grid layout.
- What is it for?
- Basic usage
- IE (!) support
- Examples of advanced usage

**Do you consent to having your talk recorded*, if we choose to do so?:**

Yes

**Short talk title (optional):**

**CCJS Slack username:**

ShaneKnudsen

**Twitter username (optional):**

@C

[2019-04-30 18:40] oliikit commented on #187
Via Slack, @CodeByAlex said he could possibly do June.

[2019-05-01 00:51] git-masi opened #196 "Learn, practice, and refine coding skills with code kata"
**Your name:**
Eric Masi

**Your talk idea, described briefly:**
A talk about "code kata", and specifically sites like Codewars and how they can be used to learn, practice, and refine coding skills in many languages (including Javascript of course).

**Do you consent to having your talk recorded*, if we choose to do so?:**
Yes

**Short talk title (optional):**
Learn, practice, and refine coding sk