[2019-05-01 23:59] arei opened #197 "How To Change the (Internet) World"
**Your name:** Glen Goodwin

**Your talk idea, described briefly:** The Focus Traversal API is a brand new proposal to add Focus Traversal to web pages. Currently focus can only be moved to a specific element with `element.focus()` but there is no means to move focus to the next or previous element. In this talk I will discuss the Focus Traversal API and my quest in writing it to change the entire

[2019-05-06 00:13] lamroger commented on #189
Down for Jube!

[2019-05-10 11:11] git-masi opened #198 "Using WordPress As a Headless CMS With React"
**Your name:**
Eric Masi

**Your talk idea, described briefly:**
Let's take a look at how to use the WP-API as a headless CMS for React applications. We'll talk about why anyone should care about WP and... PHP! Then take a quick look at some of the tools available to help people get started quickly while also offering resources for further study. I will do my best to focus on concepts and not jarg

[2019-05-27 21:16] clickclickonsal commented on #191
Thank you for giving this talk! 🙏

[2019-05-27 21:16] #191 closed

[2019-05-27 21:16] clickclickonsal commented on #196
Thank you for giving this talk! 🙏

[2019-05-27 21:16] #196 closed

[2019-05-27 21:17] clickclickonsal commented on #195
Thank you for giving this talk! 🙏

[2019-05-27 21:17] #195 closed

[2019-05-27 21:18] clickclickonsal commented on #187
@CodeByAlex Are you able to give this talk for our June meetup?

[2019-05-27 21:19] clickclickonsal commented on #189
Hey @lamroger! Are you available to give this talk for our June meetup?

[2019-05-27 21:19] clickclickonsal commented on #194
Hey @cocoa-lead, are you available to give this talk for our June Meetup?

[2019-05-28 15:11] CodeByAlex commented on #187
Yeah I can give the talk in June

[2019-05-28 15:19] clickclickonsal commented on #187
Awesome! You're all set for next week! Thank you!

[2019-05-28 18:03] lamroger commented on #189
Hey @clickclickonsal , yep June 5th works great!

[2019-05-29 11:48] clickclickonsal commented on #189
Awesome you're all set! See you in June!

[2019-06-10 16:17] eli0shin opened #199 "Taming Serverless"
**Your name:**
Eli Oshinsky

**Your talk idea, described briefly:**
I love serverless. It really is the old-school mainframe time-sharing idea done better. But as with any platform, it exposes a set of imperative programmatic APIs. I believe that in event-driven computing (like serverless) a more declarative style allows for higher cohesion. Additionally, I have seen many projects end up rather fr

[2019-07-29 21:23] jasonrhodes opened #200 "Oh Great, Another React Thing to Learn, Why Do We Even Need Hooks (WORKING TITLE)"
**Your name:**
Jason of Rhodes

**Your talk idea, described briefly:**
Follow up to what's new in React 2018 edition, this one focuses on React hooks, why anyone should care, and how we use them at Elastic.

**Do you consent to having your talk recorded*, if we choose to do so?:**
sure lol

**Short talk title (optional):**

**CCJS Slack username:**
rhodes.json

_If you're not a member of CCJS slac

[2019-07-29 21:36] esauter5 commented on #200
You're all set! Looking froward to it!

[2019-08-01 23:47] arei opened #201 "Advancing Focus"
**Your name:** Glen R. Goodwin

**Your talk idea, described briefly:** Some things in web development just work; they do what they are supposed to do day in and day out and we don't ever have to worry about them. It's the "little engine that could" story: it's reliable, it stable, it's trustworthy. The Focus subsystem is one such system... reliable, stable, trustworthy, but is it good... does it m

[2019-08-05 01:53] stewblack23 opened #202 "Advanced Website Theme Building with concrete5 CMS"
Wayne Stewart

Advanced Website Theme Building with concrete5 CMS

Yes. I would like to have this talk recorded is possible

CCJS Slack User Name: stewblack23

Twiter Name: stewblack23 & agency_stewart

Length: 15 Mins:

- [ ] June 5th, 2019
- [ ] July 3rd, 2019
- [ ] August 7th, 2019
- [x] September 4th, 2019
- [X] October 2nd, 2019
- [ ] November 6th, 2019

[2019-08-07 13:02] circleofconfusion opened #203 "Taming -ms-grid the easy way"
**Your name:**

Shane Knudsen

**Your talk idea, described briefly:**

The CSS Grid API has made web page layout much easier and expressive, but the Grid implementation in Internet Explorer is rather lacking. Fortunately, the kind folks behind AutoPrefixer have come up with some new tricks to help alleviate the pain.

Topics covered:

 - Internet Explorer 10 & 11 grid limitations
 - AutoPrefixer

[2019-08-16 03:15] cukejianya opened #204 "Skip Class and Just Object: Composition and Behavior Delegation over Inheritance"
**Your name:**
Chinedum Ukejianya

**Your talk idea, described briefly:**
We talk about functional programing vs OOP, but we never talk about if we can do OOP differently in JS. Or even if classes is a thing we should do in JS. In this talk, we will be exploring behavior delegation and composition in replace of classic OOP design patterns.

**Do you consent to having your talk recorded*, if we cho

[2019-08-28 15:43] kjvalencik opened #205 "Neon - Native node modules in Rust"
**Your name:**
K.J. Valencik

**Your talk idea, described briefly:**
How to write safe, reliable, and fast native modules for node with Rust and the Neon library.

https://github.com/neon-bindings/neon
https://neon-bindings.com/

**Do you consent to having your talk recorded, if we choose to do so?:**
Preferably, no, but I could possibly be convinced.

**Short talk title (optional):**
Node + Rust

[2019-08-28 21:17] stewblack23 commented on #202
Great. October it is. I will put it on my calendar now.

[2019-08-29 10:57] git-masi opened #206 "Cross-Origin-Resource-Sharing"
**Your name:**
Eric Masi

**Your talk idea, described briefly:**
As a noobie Front End Dev one of the biggest sources of confusion for me when I first started consuming API data was the CORS error. I'd like to talk a bit about what Cross-Origin-Resource-Sharing is and how I have dealt with it.

**Do you consent to having your talk recorded*, if we choose to do so?:**
Sure

**Short talk title (opti

[2019-08-30 02:10] ericfeldman1 opened #207 "An Inside Look at an Online Bootcamp"
Your name: Eric Feldman

Your talk idea, described briefly: Discussing my experience so far with Bloc, the online bootcamp that I've been in for the past 4 months (about halfway through).

Do you consent to having your talk recorded*, if we choose to do so?: Yes

Short talk title (optional): Bloc - An Inside Look at an Online Bootcamp (Or feel free to just call it "An Inside Look at an Online Boot

[2019-09-05 21:30] esauter5 commented on #207
Thanks for giving this talk last night @ericfeldman1! I'm bummed I had to miss it.

[2019-09-05 21:30] #207 closed

[2019-09-05 21:30] esauter5 commented on #203
Thanks again for giving this talk @circleofconfusion!

[2019-09-05 21:30] #203 closed

[2019-09-05 21:31] esauter5 commented on #199
Thanks again for giving this talk @eli0shin!

[2019-09-05 21:31] #199 closed

[2019-09-10 01:27] lulabromark opened #208 "Life After Bootcamp"
**Your name:**
Mark Lawrence
**Your talk idea, described briefly:**
Follow-up talk about preparing for job searches, networking and preparing for job interviews
**Do you consent to having your talk recorded*, if we choose to do so?:**
yes
**Short talk title (optional):**
Life After Bootcamp
**CCJS Slack username:**
Mark Lawrence
_If you're not a member of CCJS slack, sign up here so we can communi

[2019-09-16 14:10] esauter5 commented on #208
Hey @lulabromark, want to give this talk on Oct 2?

[2019-09-16 17:26] lulabromark commented on #208
Sure, that will work!

[2019-09-18 14:39] tony-decarlo-t1cg opened #209 "Progressive Web Apps"
**Your name:** Tony DeCarlo & James Nutter

**Your talk idea, described briefly:** We will talk about what is a progressive web app, how to build one, how to get it on the app store, and a demo of our app.

**Do you consent to having your talk recorded*, if we choose to do so?:** Yes

**Short talk title (optional):** Progressive Web Apps (PWAs)

**CCJS Slack username:** Tony DeCarlo

_If you're no

[2019-09-24 02:19] stewblack23 commented on #202
Hey Eric. Just wanted to make sure I'm still on for the talk next week. Thanks.

[2019-09-26 17:10] naterkane opened #210 "Designing complex Schemas for MongoDB with JSONSchema"
**Your name:**  Nater Kane

**Your talk idea, described briefly:**

MongoDB is schemaless, so we use MongooseJS to provide an common interface to Mongo and it provides support for working with schemas. Mongoose isn't the best at supporting logical validation of those schemas or parts of the schemas. Just it just supports basic types, and lacks optional validators like `if x is 1 then y is 2`.. how

[2019-10-03 14:20] esauter5 commented on #208
Thanks for giving this talk last night @lulabromark. Nice job!

[2019-10-03 14:20] #208 closed

[2019-10-03 14:20] esauter5 commented on #204
Thanks again @cukejianya!

[2019-10-03 14:20] #204 closed

[2019-10-03 14:21] esauter5 commented on #202
@stewblack23 Thanks for giving your talk last night! Feel free to submit in the future if you have new ideas!

[2019-10-03 14:21] #202 closed

[2019-10-09 14:24] PilotConway opened #212 "A Component Story"
**Your name:** John Conway

**Your talk idea, described briefly:** How I have come to incorporate Storybook into my workflow to develop view components in isolation and how this approach creates cleaner interfaces, more shareable components, and documentation.

**Do you consent to having your talk recorded*, if we choose to do so?:** Yes

**Short talk title (optional):** A Component Story

**CCJS

[2019-10-09 19:22] lamroger opened #213 "Beginner Sourdough for Software Engineers"
**Your name:** Roger Lam

**Your talk idea, described briefly:** Baking your own fresh sourdough loaf! Here's how to get started in a pragmatic sense that worked for me and hopefully works for you too.

**Do you consent to having your talk recorded, if we choose to do so?:** Yep

**Short talk title (optional):** Beginner Sourdough for Software Engineers

**CCJS Slack username:** Roger Lam

_If you

[2019-10-09 19:24] lamroger commented on #213
Down to bring some starter and possibly a loaf

[2019-10-10 17:13] sedram opened #214 "A Taste of PureScript"
**Talk Title: **
"A Taste of PureScript" (title subject to change)

**Talk Idea, described briefly: **
PureScript is a statically-typed functional language similar to Haskell which compiles to JavaScript. Rather than a real thorough introduction to using PureScript (which would be less interesting/couldn't get far in 15 min), I would dive into some cherrypicked examples of things I appreciate abou

[2019-10-25 17:24] arei commented on #210
@naterkane Could you indicate when you can give this?

[2019-10-25 17:25] naterkane commented on #210
Any time. Would you like me to put the talk together for November?

On Fri, Oct 25, 2019, 1:24 PM Glen R. Goodwin <notifications@github.com>
wrote:

[2019-10-25 17:28] arei commented on #205
@kjvalencik Could you indicate (by checking the boxes) when you could give this talk?

[2019-10-25 22:10] cukejianya opened #215 "Placeholder: Something to do with Modules"
**Talk Title:**
Something to do with Modules (Might Change)

**Talk Idea, described briefly:**
We all use them, but how many of us really know about them. I kind of want to talk about modules and the different implementations (AMD, Harmony, Commonjs). Or I might walk through implementing a simple module system of my own. Or I might talk about creating a module from concept to posting it on NPM. Ma

[2019-10-28 18:40] esauter5 commented on #183
@sparkysmitty Are you available to give this talk next week at our Nov 6 meetup?

[2019-10-28 19:41] esauter5 commented on #209
@tony-decarlo-t1cg Are you available to give this talk on Nov 6?

[2019-10-28 19:42] esauter5 commented on #213
@lamroger Are you able to give this talk on Nov 6?

[2019-10-28 19:43] tony-decarlo-t1cg commented on #209
@esauter5 Yes

[2019-10-28 22:14] sparkysmitty commented on #183
On 2019-10-28 14:40, Eric Sauter wrote:

Eric,

Sounds good, yes I am.   Thanks,

Dave

[2019-10-29 22:48] lamroger commented on #213
@esauter5 let do it!

[2019-11-08 13:56] ahacop opened #216 "Using Functions"
**Talk Title: **
Using Functions

**Talk Idea, described briefly: **
We will write a small program to solve a problem while using function composition, partial application, and point-free style.

**Your name: **
Ara Hacopian

**CCJS Slack username: **
ahacop

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.

[2019-11-08 15:49] #183 closed

[2019-11-08 15:49] #209 closed

[2019-11-08 15:49] #213 closed

[2019-11-08 15:54] arei commented on #210
@naterkane Can you update availability please? TY!

[2019-11-08 16:01] naterkane commented on #210
I did after the first time you asked

On Fri, Nov 8, 2019, 10:54 AM Glen R. Goodwin <notifications@github.com>
wrote:

[2019-11-08 16:49] arei commented on #210
Sorry, It only went through November... I added through next year for you to indicate.

[2019-11-08 16:56] naterkane commented on #210
Any month is fine...

On Fri, Nov 8, 2019, 11:49 AM Glen R. Goodwin <notifications@github.com>
wrote:

[2019-12-05 19:57] #216 closed

[2019-12-06 01:26] arei commented on #212
John, thanks for giving your talk!

[2019-12-06 01:26] #212 closed

[2019-12-23 21:18] circleofconfusion opened #217 "Beyond var self = this; Leveraging the 'this' keyword"
**Talk Title: **

Beyond var self = this; Leveraging the 'this' keyword

**Talk Idea, described briefly: **

The JavaScript 'this' keyword can be a source of confusion. I'd like to take some time to demystify it, and explain how it can be used to our advantage.

Note: this may be related to #27, but I wasn't around at the time, and can't be sure. If it's too much of a repeat, I won't take it perso

[2020-01-15 14:00] git-masi opened #218 "learning a second programming language"
**Talk Title: **
Learning My Second Programming Language

**Talk Idea, described briefly: **
After being laser focused on JavaScript I finally decided to branch out and learn a second programming language. This talk is a reflection on my experience learning JavaScript vs this second language (kept secret for suspense), what I've gained from the experience, how the experience deepened my appreciati

[2020-01-23 04:52] lamroger opened #219 "Tracking Diamond Prices with Node, Lambda, and AWS Step Functions"
**Talk Title: ** Tracking Diamond Prices with Node, Lambda, and AWS Step Functions

**Talk Idea, described briefly: **
💍s are expensive. Why isn't there a camelcamelcamel for diamonds? I set out to make one.

Conceptually, it's another price tracker but I leverage Lambda to perform scrapes in an entirely serverless fashion.

**Your name: ** Roger Lam

**CCJS Slack username: ** Roger Lam

_If you'r

[2020-01-25 01:03] nikzb opened #220 "XState: Javascript for Finite State Machines"
**Talk Title: ** XState: Javascript for Finite State Machines

(Read the title like you would read "Fosters: Australian for Beer")

**Talk Idea, described briefly: ** While finite state machines is an old concept in computer science, it has become a very popular topic in the JS world recently. If you've ever thought about an app your building in terms of the various states it can be and how it get

[2020-01-28 20:57] chrisuehlinger opened #221 "A talk idea + A request for a talk: Cryptography and SSL, a two-parter"
**Talk Title: ** SSL: How to do the thing.

**Talk Idea, described briefly: ** SSL, certificates, keys and trusts are all scary as heck. A lot of people struggle to get HTTPS set up for their sites, and when it comes to using it for local development, they just give up and click the “Show me this unsafe site” button in Chrome.

But not anymore. I’m going to do a quick review of the weird words of

[2020-02-18 13:51] circleofconfusion opened #223 "Driving a Twitter Bot with Open Data"
**Talk Title: **

Driving a Twitter Bot with Open Data

**Talk Idea, described briefly: **

The Twitter bot in question is @BadDrivingBmore. It listens for mentions that contain one or more automobile license plates, and responds with information about the vehicle's parking and automated camera violations stored in Open Baltimore's database.

The talk will focus on the overall architecture of the

[2020-02-28 14:53] #206 closed

[2020-02-28 14:53] #205 closed

[2020-03-02 18:57] #210 closed

[2020-03-16 14:35] git-masi commented on #218
Going to table this one for the foreseeable future

[2020-03-16 14:35] #218 closed

[2020-04-22 14:39] olearycrew opened #224 "Suddenly Remote"
**Talk Title: **

Suddenly Remote

**Talk Idea, described briefly: **

For all of those grappling with the new reality of remote working, the challenges and opportunities are plentiful.  Even for those of us who were working remotely before the current crisis, we have had to adjust our lives in ways we never anticipated.  How do you make your life and work well..work...in such uncertain times?

In

[2020-04-23 17:14] oliikit commented on #219
Hey @lamroger - would you be up to present remotely for either May 6th or June 3rd?

[2020-04-23 17:15] oliikit commented on #223
Thanks for the talk @circleofconfusion!

[2020-04-23 17:15] #223 closed

[2020-04-23 17:15] oliikit commented on #215
Thanks for the talk @cukejianya!

[2020-04-23 17:15] #215 closed

[2020-04-23 17:18] oliikit commented on #220
Hey @nikzb - would you be up for giving this talk remotely May or June? We can look at scheduling later once the current situation has past if you prefer in person.

[2020-04-23 17:20] oliikit commented on #224
@olearycrew - this is a very timely talk! Would you be available to talk in May? We're trying to gather our first round of remote talks, and this would be a great opener.

[2020-04-23 17:23] oliikit commented on #221
@chrisuehlinger - I can help out with this. I have some old slides on how PGP works, which can be transferable here. Just let me know what you need.

Changelog recently released an episode from [Let's Encrypt](https://changelog.com/podcast/389) on their story of creating their own CA and how they were able to do what they're doing. 'twas a good episode.

[2020-04-23 18:33] lamroger commented on #219
hi @oliikit I didnt end up finishing this project so i'ma close this out. thanks for offering though!

[2020-04-23 21:08] olearycrew commented on #224
@oliikit I think I can now that I look on my schedule again.  I'm actually on a Twich stream that ends AT 7 but I think I would be able to make that work

[2020-04-27 00:33] nikzb commented on #220
Hey @oliikit, so I've been thinking about it and it doesn't feel like doing a remote talk for this topic would be all that worthwhile since there's probably already a bunch of recorded talks on it that people could watch. That's probably true of lots of topics but there are potentially talk ideas that have some more personal or local connection that might be more engaging for a remote meetup. Hone

[2020-04-27 01:01] arei commented on #220
While we understand your desires here, I do want tot say, don’t underestimate your usefulness to other on this topic...

[2020-04-29 21:36] oliikit commented on #224
@olearycrew - sounds good. We can also start at 7:30 PM to help accommodate. I was waiting if we could get some more talks in the queue, but looks like you'd be the only talk if you're able to do it. We're planning some other activities to help for the time.

[2020-04-29 22:34] olearycrew commented on #224
@oliikit let's go with that - if we can plan on 7:30 that would be perfect!

[2020-05-01 14:51] oliikit commented on #224
Awesome! We got you scheduled!

[2020-05-11 21:03] clickclickonsal opened #225 "Terr-a-form out my experience to help reduce your deployment anxieties"
**Talk Title:** Terr-a-form out my experience to help reduce your deployment anxieties

**Talk Idea, described briefly:**
A talk about my thoughts & learnings from using terraform.(I can write a better description later)

**Your name:** Sal

**CCJS Slack username:** @clickclickonsal

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http

[2020-05-12 16:51] tony-decarlo-t1cg opened #226 "Automate Your Job"
**Talk Title:**
Automate Your Job

**Talk Idea, described briefly:**
This talk will be about automating tasks for your job. I will go over what automation is, how to get started, and when to automate things. I will also provide some use case scenarios. Automation will save you and your coworkers time drastically.

**Your name:**
Tony DeCarlo

**CCJS Slack username:**
Tony DeCarlo

_If you're not a

[2020-05-16 16:55] Ekwuno opened #227 "C2-36 : Being intentional about growth."
**Talk Title:** C2-36 : Being intentional about growth.

**Talk Idea, described briefly:** This talk is about my personal experience of growing as a developer and ultimately my opinion on intentional growth from writing first lines of HTML 5 with out knowing I was learning to make stuff accessible and then becoming a Software Engineer at Gatsby .

**Your name:** Obinna Ekwuno

**CCJS Slack usernam

[2020-05-21 16:02] circleofconfusion opened #228 "Web Dev Experiments: Screen Reader Edition"
**Talk Title:**

Web Dev Experiments: Screen Reader Edition

**Talk Idea, described briefly:**

Rather than hectoring developers about how they should be making everything accessible, let's instead take an experimental approach to learning. I'll use an actual screen reader to demonstrate the drastic effects of simple HTML markup tweaks.

**Your name:**

Shane Knudsen

**CCJS Slack username:**

Sha

[2020-05-29 01:29] arei commented on #224
Brenda did, thanks for giving this talk.it was awesome!

[2020-05-29 01:29] #224 closed

[2020-06-03 23:26] git-masi opened #229 "Cross Browser Support © 2020 Adam Ayd"
**Talk Title:**
Cross Browser Support © 2020 Adam Ayd

**Talk Idea, described briefly:**
Cross browser support has never been easier but that still does mean there aren't things to watch out for. Join me as I rail against IE in 2020, talk about moral questions regarding the dominance of Chrome, and even share some data on browser support from CCJS users

**Your name:**
Eric Masi

**CCJS Slack user

[2020-06-27 21:25] #226 closed

[2020-06-27 21:25] #228 closed

[2020-07-09 20:53] jhyman2 opened #230 "Using GraphQL as a wrapper around a REST API"
**Talk Title: Using GraphQL as a wrapper around a REST API**

**Talk Idea, described briefly: You can setup GraphQL and have it point to your REST API with virtually no code! I'll show you what this looks like, and the benefits this provides.**

**Your name: Jamison Hyman**

**CCJS Slack username: jhyman2**

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk,

[2020-07-14 15:58] olearycrew opened #231 "I'm not technical enough to give this talk"
**Talk Title:**
I'm not technical enough to give this talk

**Talk Idea, described briefly:**
I don't have a computer science degree. I haven't ever been paid to write code for a living. In fact, the only programming "class" I've ever taken was a VB business school class 15 years ago.

In this talk, I'll prove that the qualifications to learn, teach, and talk about technology are not the "traditio

[2020-07-27 12:34] esauter5 commented on #225
Thanks again for giving this talk @clickclickonsal !

[2020-07-27 12:34] #225 closed

[2020-07-27 14:38] esauter5 commented on #231
Hey @olearycrew! Are you still available to give this talk in August/September?

[2020-07-27 14:38] esauter5 commented on #230
Hey @jhyman2! Are you still available to give this talk in August/September?

[2020-07-27 14:39] esauter5 commented on #229
Hey @git-masi are you (or Adam?) still available to give this talk in August/September?

[2020-07-27 15:12] git-masi commented on #229
Hi @esauter5  yes I am still available to give this talk

[2020-07-27 16:08] lamroger commented on #219
Reopening because I got it to work!

[2020-07-28 16:54] olearycrew commented on #231
@esauter5 yes those dates still work for me.

[2020-07-29 18:36] jhyman2 commented on #230
Hey @esauter5, yes I am. Let me know which month I should be prepared for. I will need a couple days to polish the slide deck.

[2020-07-29 21:56] esauter5 commented on #230
Let's go with September!

[2020-07-29 21:56] esauter5 commented on #231
Perfect! let's plan for next Wednesday at our August meetup then!

[2020-07-29 21:57] esauter5 commented on #229
Great, let's plan on August then! See you next Wednesday.

[2020-08-12 14:56] git-masi opened #232 "What design patterns can teach us about JavaScript: singleton pattern"
**Talk Title:**
What design patterns can teach us about JavaScript: singleton pattern

**Talk Idea, described briefly:**
I've been studying design patterns recently and I think that they highlight some of the differences between JS and other OO languages like Java. In particular I think the singleton pattern, given its relatively straightforward nature, provides an interesting opportunity to learn

[2020-08-17 21:17] eli0shin opened #233 "ElectronJS: Breaking out of the browser sandbox with Javascript"
**Talk Title:**
ElectronJS: Breaking out of the browser sandbox with Javascript

**Talk Idea described briefly:**
Javascript is no longer a toy language used solely to add interactivity to websites. Some of our favorite desktop apps are built almost entirely with JS. Let's take a look at some of the limitations that exist when building an app for the browser and how Electron changed that. I will g

[2020-08-28 18:12] esauter5 commented on #230
Hey @jhyman2 , just double checking that youre still available to speak at our meetup next Wednesday, the 2nd?

[2020-08-28 18:56] jhyman2 commented on #230
Hey @esauter5, yes I'm all set!

[2020-08-31 12:33] asasmith commented on #232
@git-masi are you available to give this talk this week (9/2)?

[2020-08-31 12:34] asasmith commented on #219
@lamroger are you available to give this talk this week (9/2)?

[2020-08-31 15:36] git-masi commented on #232
@asasmith yes I can give the talk at the meetup this week!

[2020-08-31 15:41] arei commented on #231
Brendan, thank you as always for another awesome talk!

[2020-08-31 15:41] #231 closed

[2020-08-31 15:41] arei commented on #229
Eric, thank you for another talk!

[2020-08-31 15:41] #229 closed

[2020-09-03 19:38] #230 closed

[2020-09-03 19:39] jhyman2 commented on #230
For posterity:

Slides: https://docs.google.com/presentation/d/1rbmFIxu8gVuX3n-i3jvHNTvv8dx_k0bFwhjsYRd73jQ/edit#slide=id.p
Repo: https://github.com/jhyman2/CCJS4PETS

[2020-09-24 20:22] asasmith commented on #232
@git-masi thanks for a great talk!

[2020-09-24 20:22] #232 closed

[2020-09-24 20:23] asasmith commented on #219
@lamroger thanks for a great talk!

[2020-09-24 20:23] #219 closed

[2020-09-24 20:24] asasmith commented on #227
@Ekwuno are you still available to give this talk? If so, can you check with month/months would be good for you? Thanks!

[2020-09-25 17:08] nbaltatzis commented on #220
Seeing as how there probably won't be any in person meetups for a long time, I am fine with presenting this remotely instead. I'd like to revise the talk title to:

"I'm Xstatic about XState (Finite State Machines in JavaScript)"

[2020-09-25 22:58] Ekwuno commented on #227
@asasmith I just picked a date, thanks for reaching out

[2020-09-26 14:23] towsonTigers opened #234 "New Features in TypeScript 4.0"
**Talk Title: New Features in TypeScript 4.0**

**Talk Idea, described briefly: Describe the new features in TypeScript 4.0 and provide a brief example of each**

**Your name: Dave Morris**

**CCJS Slack username:David Morris**

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.com/

**Twitter username (optio

[2020-09-26 17:35] asasmith commented on #220
@nbaltatzis can you update your availability for this talk? Thanks!

[2020-09-26 17:36] asasmith commented on #217
@circleofconfusion can you update your availability to give this talk? Thanks!

[2020-09-26 17:37] asasmith commented on #214
@sedram can you update your availability to give this talk? Thanks!

[2020-09-28 01:25] circleofconfusion commented on #217
Give me a heads up when you think you'd want to hear this talk. It'll take some work to put together so that it's a tight talk.

[2020-09-29 21:11] asasmith commented on #221
@chrisuehlinger @oliikit are either of you still available/interested in giving these talks? If so can you update you're availability please? Thanks!

[2020-09-30 00:04] nikzb commented on #220
Just noticed that I commented with my work GitHub account. Whoops, anyway, yeah I should be available pretty much any of the next few months as far as I know as of now.

[2020-10-03 00:28] chrisuehlinger opened #235 "WebRTC: Get Your User's Media and Make Art With It"
**Talk Title:** WebRTC: Get Your User's Media and Make Art With It

**Talk Idea, described briefly:** WebRTC can be roughly divided into two topics: the getUserMedia "grab the user's camera/microphone and do stuff" part, and the RTCPeerConnection "send things peer-to-peer between browsers" part. This talk is going to dive into the former, talking about how to access Webcam and microphone feeds, an

[2020-10-08 00:05] arei commented on #220
Thanks for this awesome talk Nik!

[2020-10-08 00:05] #220 closed

[2020-10-08 00:18] arei commented on #233
Eli, thank you for the super informative dive into Electron. Super informative!

[2020-10-08 00:18] #233 closed

[2020-10-08 00:48] arei commented on #235
As always chris, thank you for a great talk!

[2020-10-08 00:48] #235 closed

[2020-10-15 20:27] chrisuehlinger opened #236 "WebRTC Part 2: A STUNning TURN of Events!"
**Talk Title:** WebRTC Part 2: A STUNning TURN of Events!

**Talk Idea, described briefly:** This talk is a continuation of my talk from October 2020, but this time we're diving straight into the part of WebRTC concerned with sending audio, video and data between browsers on different computers. We're gonna get into all of it: ICE, STUN, TURN, NAT Punching and "What's The Deal With IPv4?" By the e

[2020-10-23 14:20] esauter5 commented on #227
@Ekwuno Still good for November? If so, we'll get you on the list.

[2020-10-23 14:21] esauter5 commented on #217
@circleofconfusion How about Nov 4?

[2020-10-23 14:21] esauter5 commented on #236
@chrisuehlinger I'm going to put you down for December. We'll follow up before then, but if anything changes please let us know.

[2020-10-23 14:22] esauter5 commented on #234
@towsonTigers Are you still good for Nov 4?

[2020-10-23 14:34] circleofconfusion commented on #217
Sure, I can have it ready by then. Thanks for the heads up.

Shane

On Fri, Oct 23, 2020 at 10:21 AM Eric Sauter <notifications@github.com>
wrote:

[2020-10-23 14:46] Ekwuno commented on #227
@esauter5 Yea for sure!

[2020-10-23 14:55] towsonTigers commented on #234
Sure. Thank you! -Dave

On Fri, Oct 23, 2020 at 10:22 AM Eric Sauter <notifications@github.com>
wrote:

[2020-10-26 16:45] esauter5 commented on #217
Sounds good! We will see you on 11/4.

[2020-10-26 16:47] esauter5 commented on #227
Sounds good! We will see you on 11/4.

[2020-10-26 16:48] esauter5 commented on #234
Sounds good! We will see you on 11/4.

[2020-11-04 04:40] Ekwuno commented on #227
Hey, I'm currently in the UAE and I think I messed up the time zones as I was in transit from Lagos Nigeria.

I am so sorry about this, if I missed it already can we schedule for December?  I'd really love to chat with your community.

[2020-11-04 05:36] arei commented on #227
You havent missed it yet. This would be tonight, Eastern Time Aone, which is about 19 hours from now. Can you do this or do we need to find a replacement?

- Glen

[2020-11-04 14:26] Ekwuno commented on #227
Ah! That's like 4am! Do you have any slots GMT +1 or +3 favorable ?

[2020-11-04 17:05] arei commented on #227
No, sorry, we only run once a month, from 7pm to 9pm EST (GMT -5).

Are you not going to be able to make this for tonight? (7 hours from the time this message was posted.)

[2020-11-09 22:17] arei commented on #234
Dave, thank you for your talk!

[2020-11-09 22:17] #234 closed

[2020-11-09 22:17] arei commented on #227
We will not be moving forward with this talk at this time.

[2020-11-09 22:17] #227 closed

[2020-11-09 22:18] arei commented on #217
Shane, thank you for your talk.

[2020-11-09 22:18] #217 closed

[2020-11-22 23:30] arei opened #237 "Writing Code for Other People"
**Talk Title:** Writing Code for Other People

**Talk Idea, described briefly:** The secret to being a truly great Software Engineer isn’t about knowing all the keywords, it isn’t about spewing out gobs and gobs of code, and it isn’t about writing the cleverest algorithm. No, the secret to being a truly great Software Engineer is the realization that your job is as much about communication as it i

[2020-11-24 22:05] esauter5 commented on #236
@chrisuehlinger Just checking that you're still available for December?

[2020-11-24 22:07] esauter5 commented on #214
@sedram Do you still have any interest in giving this talk? We'd love to have you at our Dec 2 meetup. Otherwise, I'll close this issue.

[2020-11-25 03:50] chrisuehlinger commented on #236
Yes I am

[2020-11-28 19:28] sedram commented on #214
Unfortunately, I am no longer in a position to give this talk any time soon.

[2020-11-28 19:28] #214 closed

[2020-12-03 00:45] oliikit commented on #221
(sorry I was terrible at responding with this). @chrisuehlinger - would love to work on this sometime next year. My availability would be around April-June

[2020-12-03 00:48] git-masi opened #238 "a talk about regular expressions"
**Talk Title:**
Regular Expressions - They're not just gibberish in your text editor

**Talk Idea, described briefly:**
Regular expressions can be confusing the first time you see them. They are a topic that many people feel uncomfortable with. Let's discuss where regular expressions shine, learn the basics, and even get into some more esoteric ideas.

**Your name:**
Eric Masi

**CCJS Slack userna

[2020-12-03 00:53] oliikit opened #239 "Introduction to 3D Printing!"
**Talk Title:** Intro to 3️⃣🇩🖨

**Talk Idea, described briefly:** While not code related, during COVID times, I found a new side hobby: 3D Printing. So this talk will go over the mechanics of 3D printing, how to get started, best practices, and more! (And maybe how to print with food! 😜) By the end of the talk, you'll have the knowledge to get started and maybe the desire to print everything.

(Sl

[2020-12-03 01:06] chrisuehlinger commented on #221
I'd be down, I was thinking of doing it a bit sooner than that (now that I've gotten out all of the WebRTC talks). But I could also squeeze a different talk in between now and late spring if there's still a drought

[2020-12-03 02:02] trevorspecht opened #240 "Using Mapbox Impact Tools to make a spreadsheet-powered interactive map"
**Talk Title:**
Using Mapbox Impact Tools to make a spreadsheet-powered interactive map

**Talk Idea, described briefly:**
[Mapbox Impact Tools](https://www.mapbox.com/impact-tools/) are designed to help organizations create interactive maps without having to run a database or write thousands of lines of code. I will demonstrate how I have used two of these tools to generate a map of Baltimore bla

[2020-12-03 02:06] arei commented on #236
Thanks for another amazing talk Chris!

[2020-12-03 02:06] #236 closed

[2020-12-03 02:06] #237 closed

[2020-12-03 15:44] oliikit commented on #221
I'll let you know if I'm free earlier. I'm switching jobs between January - March, so just might be hard pressed for time.

[2021-01-19 17:00] asasmith commented on #240
@trevorspecht would you be able to give this talk at our february meetup?

[2021-01-19 17:01] asasmith commented on #238
@git-masi are you still able to give this talk at our february meetup?

[2021-01-19 17:03] asasmith commented on #239
@oliikit would you be able to give this talk at our february meetup?

[2021-01-19 19:25] ecarlisle opened #241 "Google's Page Experience Update"
**Talk Title:**  Google's Page Experience Update

**Talk Idea, described briefly:** In May 2021 Google will release the Page Experience Update, an algorithm update that will evaluate speed, responsiveness, and visual stability. This update will incorporate Google's Core Web Vitals, new search signals to measure the effectiveness of site experience. This presentation focuses on:
1. What are the Cor

[2021-01-19 20:44] trevorspecht commented on #240
@asasmith yes I can do that

[2021-01-19 20:57] asasmith commented on #241
@ecarlisle good for our february meetup?

[2021-01-19 20:57] asasmith commented on #240
thanks!

[2021-01-22 02:20] bmanek opened #242 "All About WebTransport"
**All About WebTransport**

*What is WebTransport? Why is WebTransport? Why read the docs when a guy who wants to submit a talk is ready to read and summarize it all for you?*

**Ben Manekin**

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.com/

**Estimated Talk Length: ~15 minutes:**

**Availability:**
_

[2021-01-25 17:18] oliikit commented on #239
I am not available for February, but I can still do March/April.

[2021-02-04 02:05] arei commented on #241
Thank you for giving this talk Eric!

[2021-02-04 02:05] #241 closed

[2021-02-04 02:05] arei commented on #238
Thank you for giving this talk Eric!

[2021-02-04 02:05] #238 closed

[2021-02-04 02:05] arei commented on #240
Thank you for giving this talk Trevor!

[2021-02-04 02:05] #240 closed

[2021-02-07 21:36] circleofconfusion opened #243 "(De)Comming Telemetry or Bashing Bits with JavaScript"
**Talk Title:**

(De)Comming Telemetry or Bashing Bits with JavaScript

**Talk Idea, described briefly:**

Sometimes, you choose to or just can't get around working with binary data, especially when working with telemetry. We'll go over your options.

**Your name:**

Shane Knudsen

**CCJS Slack username:**

ShaneKnudsen

**Twitter username (optional):**

CrclOfConfusion

**Estimated Talk Length: (

[2021-02-17 01:47] asasmith commented on #243
Hi @circleofconfusion, just want to confirm you're available to give this talk at our march meetup.

[2021-02-17 01:47] asasmith commented on #242
Hi @bmanek, are you still able to give this talk at our march meetup?

[2021-02-17 01:48] asasmith commented on #239
Hi, @oliikit are you still able to give this talk at our march meetup?

[2021-02-17 02:46] circleofconfusion commented on #243
Yep, I can be ready for March.

[2021-02-17 02:53] bmanek commented on #242
Yes, I'm confident I'll have it ready by then

On Tue, Feb 16, 2021, 8:47 PM Asa Smith <notifications@github.com> wrote:

[2021-02-18 04:07] hellobencarlson opened #244 "Treehouse TechDegree & Getting Started with JS"
**Talk Title:** Treehouse TechDegree & Getting Started with JS

**Talk Idea, described briefly:** Review the TechDegree program from Treehouse (2 relevant certifications- Front End Web Dev (includes JS) and Full Stack JS), including a brief overview (highlights of areas covered, projects, resources, and student support) and how these helped me progress after being stuck trying several other resour

[2021-02-22 20:48] oliikit commented on #239
If you all need another for March, I can do it. 😃 I can also do April,

[2021-02-22 21:02] asasmith commented on #239
March would be great. Thanks!

[2021-03-12 16:20] asasmith commented on #243
Thanks for giving this talk Shane!

[2021-03-12 16:20] #243 closed

[2021-03-12 16:20] asasmith commented on #242
Thanks for giving this talk Ben!

[2021-03-12 16:20] #242 closed

[2021-03-12 16:21] asasmith commented on #239
Thanks for giving this talk Olivia!

[2021-03-12 16:21] #239 closed

[2021-03-12 16:44] asasmith commented on #244
Hi Ben, are you still able to give this talk at our april meetup?

[2021-03-12 22:03] hellobencarlson commented on #244
Sure!

[2021-03-15 19:19] chrisuehlinger opened #245 "Broadcasting on the Web with HLS and DASH"
**Talk Title:** Broadcasting on the Web with HLS and DASH

**Talk Idea, described briefly:** My previous two talks were about WebRTC: A modern API for doing lossy-but-zero-latency audio and video in the browser. But what if you want to do what YouTube and Twitch do: High quality live video but with a 10-ish second delay? Can you easily build your own Twitch?

Yes. And believe it or not, it's actua

[2021-04-08 15:56] SamanthaSolomon opened #246 "Help a Junior Dev Practice Talking About Her Code!"
**Talk Title:** Help a Junior Dev Practice Talking About Her Code!

**Talk Idea, described briefly:** One of the challenges of everything being virtual is less opportunities to talk about code. For me, writing about it is easier, but that is not how job interviews work! I am a recent full-stack bootcamp grad that would like to practice talking about my JS code by presenting something I have built.

[2021-04-09 13:41] git-masi opened #247 "MemeStock: Making an AI"
**Talk Title:**
MemeStock: Making an AI

**Talk Idea, described briefly:**
MemeStock is a stock trading social media hybrid (all stocks and money are fake) that I am developing with some fellow CCJS members. Some aspects of MemeStock resemble a game, particularly the AI. In this talk I will discuss how the AI was developed.

**Your name:**
Eric Masi

**CCJS Slack username:**
gitMasi

_If you're no

[2021-04-16 12:49] asasmith commented on #245
Thanks for giving this talk Chris!

[2021-04-16 12:49] #245 closed

[2021-04-16 12:49] asasmith commented on #244
Thanks for giving this talk Ben!

[2021-04-16 12:49] #244 closed

[2021-04-28 20:08] purisquiri opened #248 "Hackaton Expirience"
**Talk Title: Hackaton Experience as a junior developer**

**Talk Idea, described briefly: I want to talk about my first hackathon, what languages we use, how we worked as a team, and how we organize the workflow

**Your name: Mauro Dorigo-Cortes

**CCJS Slack username: Mauro Dorigo

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http

[2021-05-01 20:03] circleofconfusion opened #249 "Control a Vehicle with a Web Browser"
**Talk Title:**

Control a Vehicle with a Web Browser

**Talk Idea, described briefly:**

Let's explore how to control a small vehicle using inexpensive hardware and JavaScript!

**Your name:**

Shane Knudsen

**CCJS Slack username:**

ShaneKnudsen

**Twitter username (optional):**

@CrclOfConfusion

**Estimated Talk Length: (1-15 min please):**

15

- [ x ] June 2nd, 2021
- [ x ] July 7th, 2021
-

[2021-05-18 23:27] asasmith commented on #248
thanks for giving this talk Mauro!

[2021-05-18 23:27] #248 closed

[2021-05-18 23:27] asasmith commented on #247
thanks for giving this talk Eric!

[2021-05-18 23:27] #247 closed

[2021-05-18 23:28] asasmith commented on #246
thanks for giving this talk Samantha!

[2021-05-18 23:28] #246 closed

[2021-05-19 00:44] purisquiri commented on #248
Thank you all for having this amazing group !!

On Tue, May 18, 2021 at 4:27 PM Asa Smith ***@***.***> wrote:

[2021-05-19 21:22] Homerade opened #250 "A web socket primer"
**Talk Title:**
 A web socket primer

**Talk Idea, described briefly:**
Basics on what web sockets are

**Your name:**
Stephanie Vizzi

**CCJS Slack username:**
@steph / Stephanie Vizzi

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.com/

**Twitter username (optional):**
@homerade

**Estimated Talk Length

[2021-05-27 23:29] chrisuehlinger opened #251 "Git Gud: An Assortment of Tips for Getting Better at Git"
**Talk Title:** Git Gud: An Assortment of Tips for Getting Better at Git

**Talk Idea, described briefly:* There are a lot of cool Git features and workflows that not many people know about, I’ll demonstrate and explain a bunch of them, including:
- `git mv` for renaming things
- `git reflog` for saving your bacon when things get bad
- What the heck “detached HEAD” means
- Using `git cherry-pick`

[2021-05-27 23:30] chrisuehlinger commented on #251
Unfortunately I have a big project right now and can’t do June.

[2021-06-08 10:55] spaceribs opened #252 "plopdown.video talk"
**Talk Title:** Plopdown.Video - Vandalizing Netflix for remix and commentary

**Talk Idea, described briefly:** An introduction to the [plopdown.video](https://plopdown.video) feature set, system architecture, next steps and a demonstration of the tool.

**Your name:** Aaron Brewer

**CCJS Slack username:** N/A (request put in)

_If you're not a member of CCJS slack, sign up here so we can commun

[2021-06-08 16:35] kndshein opened #253 "Using JavaScript as my Butler"
**Talk Title:**
Using JavaScript as my Butler: Automating My Laziness

**Talk Idea, described briefly:**
Backstory: I have been chugging away at algorithms, and as a way to centralize all the algorithms I have learned/solved, I store them on my GitHub. However, I wanted more -- I wanted a Table of Contents page for the algorithms in a markdown file.

The problem: After every algorithm uploaded ont

[2021-06-17 12:34] asasmith commented on #250
Thanks for giving this talk!

[2021-06-17 12:34] #250 closed

[2021-06-17 12:34] asasmith commented on #249
Thanks for giving this talk!

[2021-06-17 12:35] #249 closed

[2021-06-17 12:36] asasmith commented on #251
Thanks @chrisuehlinger! Scheduling this for our july meetup.

[2021-06-17 12:39] asasmith commented on #252
Thanks @spaceribs ! Scheduling this for our july meetup.

[2021-06-17 12:40] asasmith commented on #253
Thanks @kndshein! Scheduling this for our july meetup.

[2021-07-07 23:38] spaceribs commented on #252
@asasmith I haven't been able to get into the meetup, is there something wrong?

[2021-07-08 15:04] arei commented on #252
@spaceribs Thank you for your excellent talk last night. Please come give another talk soon!

[2021-07-08 15:04] #252 closed

[2021-07-08 15:04] arei commented on #251
@chrisuehlinger Thanks for the super informative talk last night!

[2021-07-08 15:04] #251 closed

[2021-08-04 18:34] git-masi opened #254 "Using WebSockets in a serverless back end"
**Talk Title:**
WebSockets & serverless & buzzwords, oh my!

**Talk Idea, described briefly:**
WebSockets are long lived connections allow for two way data from from client to server. Serverless is a backend architecture that leverages short lived cloud functions on demand for massive scalability. Let's explore how to get these two mismatched technologies to play nicely together... or at least pla

[2021-08-12 18:26] asasmith commented on #254
@git-masi Are you able to give this talk at our september 1 meet up?

[2021-08-12 18:27] asasmith commented on #253
@kndshein are you able to give this talk at our september 1 meetup?

[2021-08-12 23:18] kndshein commented on #253
Yes, I can do that! @asasmith

[2021-08-13 14:04] asasmith commented on #253
Excellent! Thanks!

[2021-08-13 14:30] trevorspecht opened #255 "Building an automated outside collaborator lifecycle system"
**Talk Title:**

Building an automated outside collaborator lifecycle system

**Talk Idea, described briefly:**

I will describe a system I've built using Node.js and AWS services to streamline and automate GitHub outside collaborator lifecycle management. I'll explain the architecture and why I built it this way, as well as some technical details of how it works.

**Your name:**

Trevor Specht

*

[2021-08-16 13:52] asasmith commented on #255
Thanks for submitting @trevorspecht ! Are you still able to give this talk at our september (9/1) meetup?

[2021-08-16 14:21] trevorspecht commented on #255
Hi @asasmith. I just looked and realized I have a conflict on Sept 1. The October meeting should still be fine.

[2021-08-16 14:21] asasmith commented on #255
Thanks! I'll schedule you for October and confirm once we're a little closer to that meetup.

[2021-08-19 13:12] troyvassalotti opened #256 "Using the Power of Data to Create a Simple CMS with Forestry and Eleventy"
**Talk Title:**
Using the Power of Data to Create a Simple CMS with Forestry and Eleventy

**Talk Idea, described briefly:**
As my website got more complex (a problem strictly of my own doing), I searched for a way to make my life easier. How could I add new content without having to open my editor and get distracted with something else? Better yet, how can I use the power of JSON, front matter, a

[2021-08-20 02:57] eli0shin opened #257 "Embracing the Graph"
**Talk Title:**
Embracing the Graph

**Talk Idea described briefly:**
For a long time, I resisted the movement toward GraphQL APIs. When it became a requirement for a new project at work I finally broke down and set out to understand how the paradigm fit our domain model. I will dig into the concepts behind GraphQL and why it exists,  how it fits into an enterprise microservice environment, and wh

[2021-08-20 03:10] asasmith commented on #257
Thanks for your submission @eli0shin ! Cool if I go ahead and schedule you for 9/1?

[2021-08-20 03:33] eli0shin commented on #257
That works

[2021-08-30 12:36] PearsonHill opened #258 "TimeHash: Time is Money (cryptocurrency)"
Talk Title: TimeHash~Time is Money

Talk Idea, described briefly:

TimeHash is a webbed crypto-currency I am in the process of building to scratch my own itch.

The presentation would cover the following topics:
demonstrated work,
proof of work,
inimitability of unit and ownership
transferable balances

With those four tenets, a currency is born.

The presentation would cover the following tools /

[2021-09-01 15:42] chrisuehlinger commented on #254
_Please_ give this talk.

[2021-09-01 15:47] chrisuehlinger opened #259 "Docker: Contain Your Enthusiasm"
**Talk Title:** Docker: Contain Your Enthusiasm

**Talk Idea, described briefly:** Docker: What is it? Why would anyone use it? We’re going to answer these questions and explain why Docker is useful for everything from deploying infrastructure at massive scale to running home automation servers on Raspberry Pi to running the Spotify app on your laptop.

**Your name:** Chris Uehlinger

**CCJS Slack

[2021-09-08 15:53] asasmith commented on #257
Thanks for giving this talk!

[2021-09-08 15:53] #257 closed

[2021-09-08 15:54] asasmith commented on #255
Thanks for giving this talk!

[2021-09-08 15:54] #255 closed

[2021-09-08 15:54] asasmith commented on #253
Thanks for giving this talk!

[2021-09-08 15:54] #253 closed

[2021-09-08 15:55] asasmith commented on #259
Hi @chrisuehlinger, are you still available to give this talk at our October meetup?

[2021-09-08 15:55] asasmith commented on #258
Hi @PearsonHill , are you still available to give this talk at our October meetup?

[2021-09-08 15:56] asasmith commented on #256
Hi @troyvassalotti, are you still available to give this talk at our October meetup?

[2021-09-08 16:19] troyvassalotti commented on #256
@asasmith Yes, I am!

[2021-09-08 19:46] PearsonHill commented on #258
Hey Asa,

Yes, definitely available for the talk on October 6. How long should I shoot for? 15 mins?

- P

Pearson Hill
443.226.1482

[2021-09-08 20:33] asasmith commented on #258
We definitely prefer to keep talks to 15 minutes or less. If you end up feeling like it's a lot of content to fit into 15 minutes you could come back and do a more detailed talk on one of (or all) of the technologies you used. Just a suggestion!

[2021-09-10 11:34] PearsonHill commented on #258
Roger that!

I imagine we’ll use google hangouts to present as we have been?

- P

[2021-10-07 12:13] asasmith commented on #256
Thanks for giving this talk @troyvassalotti !

[2021-10-07 12:13] #256 closed

[2021-10-11 20:15] troyvassalotti opened #260 "Plvylist: A Web Component For Playing Your Music"
**Talk Title:**
Plvylist: A Web Component For Playing Your Music

**Talk Idea, described briefly:**
Born from a desire to learn how audio on the web works and can be customized, Plvylist is a web component made to look and feel like a multi-song audio player for your website. As long as you have a `json` file and are hosting your songs somewhere, you can stream your own music anywhere (on a websit

[2021-10-12 21:18] interactiveRob opened #261 "Patching Videostream"
**Talk Title:**
Patching Videostream

**Talk Idea, described briefly:**

Videostream is a popular app for Google Cast devices. When a recent Google Chrome update broke the app's core functionality, its maintainers were unresponsive. I investigated the bug and made a very simple front-end fix.

Videostream is not open-source, so I published a patch in the form of a Chrome extension called [Videostr

[2021-10-15 18:02] asasmith commented on #261
@interactiveRob thanks for submitting this talk! I'm going to schedule you for our Nov 3 meetup. Let me know if that still works.

[2021-11-04 01:01] asasmith commented on #261
Thanks for giving this talk!

[2021-11-04 01:01] #261 closed

[2021-11-04 01:01] asasmith commented on #254
Thanks for giving this talk!

[2021-11-04 01:01] #254 closed

[2021-11-12 16:07] ShaneKWb opened #262 "CSS Subgrid: What is it, and why do we need it?"
**Talk Title:**

CSS Subgrid: What is it, and why do we need it?

**Talk Idea, described briefly:**

I'll explain what Subgrid is, how it's used, and why it's a killer feature.

**Your name:**

Shane Knudsen

**CCJS Slack username:**

ShaneKnudsen

**Twitter username (optional):**

CrclOfConfusion

**Estimated Talk Length: (1-15 min please):**

15 minutes

**Availability:**
_Please check off the d

[2021-11-23 16:02] asasmith opened #263 "Intro to Mirage JS"
**Talk Title:**
Intro to MirageJS
**Talk Idea, described briefly:**
Brief intro to Mirage JS. I'll discuss what it is, what it can be used for, work through some live code examples
**Your name:**
Asa Smith
**CCJS Slack username:**
asa_smith
_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.com/

**Twitter use

[2021-12-03 15:47] #263 closed

[2021-12-03 15:48] asasmith commented on #262
Thanks for giving this talk @ShaneKWb

[2021-12-03 15:48] #262 closed

[2021-12-03 15:48] asasmith commented on #260
Thanks for giving this talk @troyvassalotti

[2021-12-03 15:48] #260 closed

[2021-12-09 00:44] trevorspecht opened #264 "Software Engineer interviewing for new or not so new engineers"
**Talk Title:**

Software Engineer interviewing for new or not so new engineers

**Talk Idea, described briefly:**

I just spent three months job searching and interviewing, and just got my first job offer as a software engineer. I’d like to share my experiences and some shared with me by others along the way.

**Your name:**

Trevor Specht

**CCJS Slack username:**

trevor

_If you're not a membe

[2021-12-28 03:28] towsonTigers opened #265 "Async/Await and you made me promises promises"
**Talk Title: Async/Await and promises promises

**Talk Idea, described briefly:**  5 minute power point presentation overview of Async/Await and promises in JavaScript followed by JavaScript demo in VSC and nodejs.
**Your name:**  David Morris

**CCJS Slack username:** David Morris, I gave a CharmCityJS presentation a while ago on TypeScript.

_If you're not a member of CCJS slack, sign up here s

[2021-12-28 03:29] towsonTigers commented on #265
15 minute Talk (can be longer if needed)

[2022-01-03 16:40] PearsonHill opened #266 "The Swiss Army Knife of JS: .reduce explained"
**Talk Title: The Swiss Army knife of JS: .reduce explained **

**Talk Idea, described briefly:**
An explanation of the higher order function reduce() and its wildly versatile application.

**Your name:**
Pearson Hill

**CCJS Slack username:**
Pearson

**Estimated Talk Length: (1-15 min please):**
10 minutes

**Availability:**
_Please check off the dates in which you would be interested in present

[2022-01-13 01:02] asasmith commented on #264
Thanks for your submission @trevorspecht ! Are you still available to give this talk at our february meetup (2/2/22)?

[2022-01-13 01:03] asasmith commented on #265
Thanks for your submission @towsonTigers ! Are you available to give this talk at our february meetup (2/2/22)?

[2022-01-13 01:04] asasmith commented on #266
Thanks for your submission @PearsonHill ! Are you still available to give this talk at our february meetup (2/2/22)?

[2022-01-13 02:02] towsonTigers commented on #265
Hi Asa

Yes I can give this talk at the February meetup.

Thanks!
Dave

On Wed, Jan 12, 2022 at 8:04 PM Asa Smith ***@***.***> wrote:

[2022-01-13 04:21] trevorspecht commented on #264
@asasmith yes I can give this talk on Feb 2

[2022-01-31 16:47] tknickman opened #268 "You're not too small for a monorepo - Improving developer experience with Turborepo"
**Talk Title:**
---

 _Improving developer experience with Turborepo._
---

**Talk Idea, described briefly:**

**Your name:**

**CCJS Slack username:**

**Twitter username (optional):**

**Estimated Talk Length: (1-15 min please):**

**Availability:**
_Please check off the dates in which you would be interested in presenting your talk:_

- [ ] February 2nd, 2022
- [ ] March 2nd, 2022
- [X] April 6

[2022-02-03 01:32] troyvassalotti opened #269 "Quick and Simple Tooling with Gulp"
**Talk Title:** Quick and Simple Tooling with Gulp

**Talk Idea, described briefly:**

I recently took on a project at work and needed a system we could all use for authoring and processing our assets. Coming from a point of _no tooling_ on the team, I wanted it to be simple and easy for everyone to jump in. With Gulp, we now have a way to write our code and pipe it all through the right processor

[2022-02-05 02:18] airandfingers opened #270 "Keyboard accessibility: What, Why, and How"
**Talk Title:**
Keyboard accessibility: What, Why, and How

**Talk Idea, described briefly:**
I'll discuss what keyboard accessibility is, why it's important, and how we can test, fix, and avoid keyboard accessibility issues.

**Your name:**
Aaron Yoshitake

**CCJS Slack username:**
@Aaron Yoshitake

**Twitter username (optional):**
airandfingers (inactive)

**Estimated Talk Length: (1-15 min plea

[2022-02-08 01:42] asasmith commented on #269
Thanks for your submission @troyvassalotti ! Going to schedule you for march.

[2022-02-16 15:51] asasmith commented on #266
Thanks for giving this talk @PearsonHill

[2022-02-16 15:51] #266 closed

[2022-02-16 15:52] asasmith commented on #265
@towsonTigers thanks for giving this talk!

[2022-02-16 15:52] #265 closed

[2022-02-16 15:52] asasmith commented on #264
@trevorspecht thanks for giving this talk!

[2022-02-16 15:52] #264 closed

[2022-02-16 16:41] troyvassalotti opened #271 "A .png is Worth an Entire Website"
**Talk Title:** A .png is Worth an Entire Website

**Talk Idea, described briefly:**

Websites are pretty portable, but have you ever wished it could be _more_ portable? Maybe you want to feel like a spy and hide your website somewhere no one would ever find? Sure, you could put it on the dark web, but how about you hide it in a .png instead? I'll show you how to embed your website in an innocuous

[2022-02-21 21:09] naterkane opened #272 "Browser extensions, time travel, and living that rudimentary life."
**Talk Title:** Browser extensions, time travel, and living that rudimentary life.

**Talk Idea, described briefly:** Writing a browser extension can give an engineer the opportunity to visit (or revisit) some classical approaches to writing javascript for the DOM. Hello 2005!

**Your name:** Nater Kane

**CCJS Slack username:** naterkane

_If you're not a member of CCJS slack, sign up here so we

[2022-02-22 15:02] asasmith commented on #272
Thanks for your submission @naterkane ! Scheduling this talk for our March meetup (3/3/22).

[2022-02-22 15:25] naterkane commented on #272
👍

On Tue, Feb 22, 2022 at 10:03 AM Asa Smith ***@***.***> wrote:

--
Best,
Nater Kane

[2022-02-22 15:25] naterkane commented on #272
i mean 🤘

On Tue, Feb 22, 2022 at 10:24 AM Nater Kane ***@***.***> wrote:

--
Best,
Nater Kane

[2022-02-22 16:02] asasmith commented on #272
correction, it's 3/2

[2022-03-03 02:15] asasmith commented on #270
Hi @airandfingers are you still able to give this talk at our April meetup?

[2022-03-03 02:15] asasmith commented on #268
Hi @tknickman are you still able to give this talk at our April meetup?

[2022-03-03 14:01] asasmith commented on #269
Thanks for giving this talk @troyvassalotti !

[2022-03-03 14:01] #269 closed

[2022-03-09 15:11] asasmith commented on #268
scheduled for april

[2022-03-09 16:04] nitzan-frock opened #273 "The importance of consistency"
**Talk Title:** The importance of consistency

**Talk Idea, described briefly:** Having consistency in code is important and I'd like to describe some ways not inconsistency is problematic and how consistent code can improve developer experience and understanding.

**Your name:** Nitzan Frock

**CCJS Slack username:** Nitzan Frock

_If you're not a member of CCJS slack, sign up here so we can comm

[2022-03-09 16:09] asasmith commented on #273
@nitzan-frock thanks for the submission! Scheduling you for our april meetup!

[2022-04-07 16:00] asasmith commented on #273
Thanks for giving this talk!

[2022-04-07 16:01] asasmith commented on #270
Thanks for giving this talk!

[2022-04-07 16:01] #270 closed

[2022-04-07 16:01] asasmith commented on #268
Thanks for giving this talk!

[2022-04-07 16:01] #268 closed

[2022-04-13 02:35] WillRun4Cake opened #274 "So you think you know ASI?"
**Talk Title: So you think you know ASI?*

**Talk Idea, described briefly: A very brief presentation on ASI. What it is, pros/cons, why important. Followed by a quiz of 12 example code snippets. A real-time quiz powered by DirectPoll.com to go alongside the presentation snippets.

Presently, all quiz questions are static text with the answers animated to appear after clicking. I don't currently pl

[2022-04-28 11:56] git-masi opened #275 "Getting started with Go as a JS developer"
**Talk Title:**
Help I'm turning into a Gopher!

**Talk Idea, described briefly:**
Let's talk about how you can, and why you should, get started using the Go programming language as a JavaScript developer. We will compare two backend applications: one written using the Express framework for Node JS and one using Fiber the Express inspired framework for Go. Oh and also, Ember JS sucks 🐹 🔨

**Your n

[2022-05-05 10:04] PearsonHill opened #276 "The Svelte Universe"
Demonstrating Svelte.

[2022-05-05 14:47] #271 closed

[2022-05-05 14:48] asasmith commented on #275
Thanks for giving this talk @git-masi EMBER FTW!

[2022-05-05 14:48] #275 closed

[2022-05-05 14:53] asasmith commented on #276
Thanks for you talk submission @PearsonHill. Can you reopen this using our template [here](https://github.com/charmCityJs/talks/issues/new?assignees=&labels=talk&template=submit-talk.md&title=)? Thanks!

[2022-05-05 14:53] #276 closed

[2022-05-05 14:54] asasmith commented on #274
Thanks for your submission @WillRun4Cake! Are you still available to give this talk at our June meetup?

[2022-06-23 16:10] asasmith commented on #274
@WillRun4Cake are you still available to give this talk at our July meetup (7/6)?

[2022-07-07 01:29] asasmith commented on #274
Thanks for giving this talk! Please remember to post your slides to our slack.

[2022-07-07 01:29] #274 closed

[2022-07-07 18:54] airandfingers opened #277 "Pick a Kit: Scrapers, Affiliates, and Charity"
**Talk Title:**

Pick a Kit: Scrapers, Affiliates, and Charity

**Talk Idea, described briefly:**

Discussing the genesis and evolution of a project I've been building (off and on) since 2017: https://pickakit.com

**Your name:**

Aaron Yoshitake

**CCJS Slack username:**

@Aaron Yoshitake

**Twitter username (optional):**

airandfingers

**Estimated Talk Length: (1-15 min please):**

15 minutes

[2022-07-12 13:20] nicklemmon opened #278 "What the web components!?"
**Talk Title:**
What the web components!?

**Talk Idea, described briefly:**
High level overview of web components, their strengths, limitations, and how to implement them using [Lit](https://lit.dev/).

**Your name:**
Nick Lemmon

**CCJS Slack username:**
🤔 unable to find this - searching for "Nick Lemmon" seems to work

_If you're not a member of CCJS slack, sign up here so we can communicate ab

[2022-07-14 22:46] asasmith commented on #277
@airandfingers thanks for your submission! Scheduling you for our august meetup.

[2022-08-04 20:23] asasmith commented on #278
Thanks for giving this talk @nicklemmon !

[2022-08-04 20:23] #278 closed

[2022-08-04 20:24] asasmith commented on #277
Thanks for giving this talk @airandfingers !

[2022-08-04 20:24] #277 closed

[2022-08-05 22:45] caseywatts opened #279 "Intro to Electron Workshop"
**Talk Title:** Intro to Electron Workshop

**Talk Idea, described briefly:**  [Electron](electronjs.org) is a framework you can use to make desktop applications using javascript. You likely use Electron apps every day -- Slack and VSCode are two examples. With electron, making a simple desktop application is as easy as making a simple web application. Learn to make your own Electron app in this 2

[2022-08-15 19:01] asasmith commented on #279
@caseywatts I love this idea but I'm not sure how it would work for our format. Is there anyway to divide the content up in to smaller talks that could be given over successive months?

[2022-08-15 20:16] caseywatts commented on #279
I totally understand if you all are committed to your format! Unfortunately I can't really do it in this interactive way in shorter time slots, no.

I bet many charmCityJS people would be interested in this. I wonder what attendees would say if you asked them about it at the next event?

[2022-08-15 20:16] caseywatts commented on #279
If I end up doing this with another Meetup in the area, I'll let you all know!

(I don't think there's another JS Meetup in the area, is there?)

[2022-08-15 21:25] arei commented on #279
There is a DC JS Meetup (sorry I dont have more detail than that) and this is more conducive to their format.

[2022-08-19 18:20] adamayd opened #280 "Terrible Lamb Types."
**Talk Title:** Terrible Lamb Types

**Talk Idea, described briefly:** Terraform, Lambdas and TypeScript.  Discuss Terraform, AWS Lambdas, and TypeScript.  Touch on AWS CDK and AWS CLI, but focus on getting a working demo of a TypeScript Lambda built and implemented using Terraform

**Your name:** Adam Ayd

**CCJS Slack username:** @AdamAyd

**Twitter username (optional):**

**Estimated Talk Lengt

[2022-08-30 18:05] git-masi opened #281 "Back to the monolith"
**Talk Title:**

Back to the monolith - from monolith to serverless and back
Also, why Glen is wrong about Serverless Framework

**Talk Idea, described briefly:**

Let's talk about monolithic and serverless architectures, and why you probably won't do serverless right if you can't do a monolith right.

In the first half we'll pull in ideas from the books "Strategic Monoliths and Microservices" and

[2022-08-31 19:37] asasmith commented on #281
@git-masi thanks for your submission. We've decided to cancel the september meetup so I'm scheduling you for october. As always, you're a gentleman and a scholar.

[2022-08-31 19:37] asasmith commented on #280
Thanks for you submission @adamayd ! Scheduling you for our October meetup.

[2022-09-15 01:44] adamayd commented on #280
@asasmith I will not be ready for this talk in October. My spare time has been consumed by AWS study as my current cert is expiring in October.

[2022-09-15 14:07] asasmith commented on #280
Thanks for the heads up @adamayd . I'll update the schedule and make an announcement.

[2022-09-24 18:03] nikzb opened #282 "Talk idea: A very biased review of Remix"
**Talk Title:**
A very biased review of Remix

**Talk Idea, described briefly:**
Over the last 6 months or so I built a SaaS application with Remix. Having gone through the experience, I would like to explain the basics of using the framework and just share a bit about why I enjoyed using it. I am admitting up front that the experience was very positive and I'm a big fan, but I'll probably have at

[2022-09-24 18:06] nikzb commented on #282
Btw, the title is totally open to changes. It could really just be "Intro to Remix" or something if you think that I don't need to be so obvious about the fact that I am a React / Remix fan 😄

[2022-09-26 19:36] asasmith commented on #282
Thanks for your submission @nikzb ! Scheduling you for our october meetup.

[2022-10-18 18:58] #282 closed

[2022-10-18 18:59] #281 closed

[2022-11-09 00:25] #280 closed

[2022-11-09 00:26] adamayd commented on #280
Unable to devote time to this.  Behind on school and home items.

[2022-11-11 00:02] Chaseocodes opened #283 "Talk on MVC"
**Talk Title:**  Shallow dive into MVC

**Talk Idea, described briefly:**
 A brief over view of MVC and its structure as applied to a simple CRUD app.
**Your name:**
Chase O'Hara
**CCJS Slack username:**
Chase O'Hara

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.com/

**Twitter username (optional):**
 @c

[2022-11-11 23:18] ecarlisle opened #284 "Low-Code & No-Code with Many Code Choices"
**Talk Title:**
Low-Code, No-Code... But There's Still Lots to Code!

**Talk Idea, described briefly:**
Static Site Generators like [11ty](https://www.11ty.dev/), [Gatsby](https://www.gatsbyjs.com/), and [Astro](https://astro.build/) give opportunity for high-performance, secure websites. In selecting one, there are several questions to ask such as:

This presentation will be a short demonstration

[2022-11-12 06:17] jhhemal opened #285 "It's all about Generators!"
**Talk Title: It's All About Generators!**

**Talk Idea, described briefly: It will be about Intro to generators. What are generators? How do they work? Why should we use it? and many more**

**Your name: Jahidul Hasan**

**CCJS Slack username: jhhemal**

_If you're not a member of CCJS slack, sign up here so we can communicate about your talk, if you don't mind:_ http://charmcityjs.herokuapp.com/

[2022-11-22 13:59] asasmith commented on #285
thanks for your submission @jhhemal ! Scheduling you for our 12/2022 meetup.

[2022-11-22 14:00] asasmith commented on #284
thanks for your submission @ecarlisle ! Scheduling you for our 12/2022 meetup.

[2022-11-22 14:02] asasmith commented on #283
thanks for your submission @Chaseocodes ! Scheduling you for our 12/2022 meetup

[2022-11-22 14:32] asasmith commented on #285
HI @jhhemal, would you mind joining our slack group at http://charmcityjs.herokuapp.com/? It'll help us communicate info about the event. Thank you!

[2022-11-22 16:02] ecarlisle commented on #284
Sounds great, @asasmith ! Thanks!

[2022-11-22 16:08] jhhemal commented on #285
@asasmith the heroku link is not working

[2022-11-22 16:38] asasmith commented on #285
Sorry about that! Try this one http://slack.charmcityjs.org